@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Web.Areas.Vocabulary.Pages.Shared
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div>
    <h2>Управление словарем</h2>
    <hr />
    <div class="row">
        <div class="col-12 col-sm-4 col-md-3 col-xl-2">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link @VocabularyNavPages.AdjectivesNavClass(ViewContext)" asp-page="./Adjectives" asp-route-pageNumber="1" asp-route-pageSize="15" asp-route-sortColumn="Text">
                        Прилагательные
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">
                        Наречия
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">
                        Города
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">
                        Сравнительные прилагательные
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">
                        Соединения
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">
                        Определители
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">
                        Языки
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">
                        Буквы с цифрами
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">
                        Слова с цифрами
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">
                        Модальные глаголы
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">
                        Существительные
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">
                        Предлоги
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">
                        Первичные глаголы
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">
                        Местоимения
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">
                        Вопросительные слова
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">
                        Глаголы
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-sm-8 col-md-9 col-xl-10">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}
