@model AddViewModel

@using MyPolyglotCore

<div class="add">
    <form action="/Admin/Add" method="post">
        <div>
            <select name="LessonId">
                <option disabled selected>Выберите урок</option>
                @for (int i = 1; i <= 32; i++)
                {
                    <option value="@i">Урок @i</option>
                }
            </select>
        </div>
        <div>
            Русское предложение:
            <input type="text" name="RusPhrase" />
        </div>
        <div>
            Английский перевод:
            <input type="text" name="EngPhrase" />
        </div>
        @if (Model?.UnrecognizedWords != null)
        {
    <div>
        Нераспознанные слова:
        @for (int i = 0; i < Model.UnrecognizedWords.Count; i++)
        {
            <span class="button">
                @Model.UnrecognizedWords[i].Text
            </span>
            @Html.DropDownList($"UnrecognizedWords[{i}].Type", Html.GetEnumSelectList<UnrecognizableType>(),
                "Тип слова" )
        }
    </div>
        }
        <div>
            <input type="submit" class="button" value="Добавить" />
        </div>
    </form>
</div>