@model AddExerciseVM

@using MyPolyglotCore
@using MyPolyglotWeb.Extensions

@section Scripts {
    <script>
        var unrecognizableTypeEnum = @(Html.EnumToString<UnrecognizableType>());
    </script>
    <script src="~/js/recognize.js"></script>
    <script src="~/js/addExercise.js"></script>
}

<div class="add-exercise">
    <form action="/Admin/AddExercise" method="post">
        <div>
            <select name="LessonId">
                <option disabled selected>Выберите урок</option>
                @for (int i = 1; i <= 32; i++)
                {
                    <option value="@i">Урок @i</option>
                }
            </select>
        </div>
        <div>
            Русское предложение:
            <input type="text" name="RusPhrase" />
        </div>
        <div class="eng-phrase">
            Английский перевод:
            <input type="text" name="EngPhrase" />
        </div>
        <div class="recognize">
            <input type="button" class="button" value="Распознать" />
        </div>
        <div class="unrecognized">
        </div>
        <div class="submit-button">
            <input type="submit" class="button" value="Добавить" />
        </div>
    </form>
</div>