@model AddExerciseVM

@using MyPolyglotCore
@using MyPolyglotWeb.Extensions

@section Scripts {
    <script>
        var unrecognizableTypeEnum = @(Html.EnumToString<UnrecognizableTypes>());
    </script>
    <script src="~/js/recognize.js"></script>
    <script src="~/js/addExercise.js"></script>
}

<div class="add-exercise">
    <form asp-controller="Admin" asp-action="AddExercise" method="post">
        <div class="add-exercise__select-lesson flex-space-between">
            <select asp-for="LessonId">
                <option disabled selected>Выберите урок</option>
                @for (int i = 1; i <= CustomConst.LessonsNames.Count(); i++)
                {
                    <option value="@i">Урок @i</option>
                }
            </select>
            <span asp-validation-for="LessonId"></span>
        </div>
        <div class="add-exercise__rus-phrase">
            <div class="flex-space-between">
                <label asp-for="RusPhrase"></label>
                <span asp-validation-for="RusPhrase"></span>
            </div>
            <input asp-for="RusPhrase" placeholder="Например: Я крутой." />
        </div>
        <div class="add-exercise__eng-phrase">
            <div class="flex-space-between">
                <label asp-for="EngPhrase"></label>
                <span asp-validation-for="EngPhrase"></span>
            </div>
            <input asp-for="EngPhrase" placeholder="Например: I am cool." />
        </div>
        <button class="add-exercise__recognize-btn" type="button">
            Распознать
        </button>
        <div class="add-exercise__unrecognized-block">
            <label asp-for="UnrecognizedWords"></label>
            <span asp-validation-for="UnrecognizedWords"></span>
            <div class="unrecognized-words">
            </div>
        </div>
        <button class="add-exercise__submit-btn" type="submit" disabled >
            Добавить
        </button>
    </form>
</div>