<div class="hint-table19 flex-center">
    <table>
        <tr class="border-bottom grey">
            <td colspan="3" class="border-right">Вопрос</td>
            <td colspan="3" class="border-right">Утверждение</td>
            <td colspan="3" class="border-right">Отрицание</td>
        </tr>
        <tr>
            <td rowspan="7">Will</td>
            <td>I</td>
            <td rowspan="7" class="border-right">have written?</td>
            <td>I</td>
            <td rowspan="7" colspan="2" class="border-right">will have written</td>
            <td>I</td>
            <td rowspan="7" colspan="2" class="border-right">won't have written</td>
            <td rowspan="7" class="vertical-upright grey">Future</td>
        </tr>
        <tr>
            <td>you</td>
            <td>you</td>
            <td>you</td>
        </tr>
        <tr>
            <td>we</td>
            <td>we</td>
            <td>we</td>
        </tr>
        <tr>
            <td>they</td>
            <td>they</td>
            <td>they</td>
        </tr>
        <tr>
            <td>it</td>
            <td>it</td>
            <td>it</td>
        </tr>
        <tr>
            <td>he</td>
            <td>he</td>
            <td>he</td>
        </tr>
            <tr class="border-bottom">
            <td>she</td>
            <td>she</td>
            <td>she</td>
        </tr>
        <tr>
            <td rowspan="4">Have</td>
            <td>I</td>
            <td rowspan="7" class="border-right">seen?</td>
            <td>I</td>
            <td rowspan="4">have</td>
            <td rowspan="7" class="border-right">seen</td>
            <td>I</td>
            <td rowspan="4">have not</td>
            <td rowspan="7" class="border-right">seen</td>
            <td rowspan="7" class="vertical-upright grey">Present</td>
        </tr>
        <tr>
            <td>you</td>
            <td>you</td>
            <td>you</td>
        </tr>
        <tr>
            <td>we</td>
            <td>we</td>
            <td>we</td>
        </tr>
        <tr>
            <td>they</td>
            <td>they</td>
            <td>they</td>
        </tr>
        <tr>
            <td rowspan="3">Has</td>
            <td>it</td>
            <td>it</td>
            <td rowspan="3">has</td>
            <td>it</td>
            <td rowspan="3">has not</td>
        </tr>
        <tr>
            <td>he</td>
            <td>he</td>
            <td>he</td>
        </tr>
        <tr class="border-bottom">
            <td>she</td>
            <td>she</td>
            <td>she</td>
        </tr>
        <tr>
            <td rowspan="7">Had</td>
            <td>I</td>
            <td rowspan="7" class="border-right">written?</td>
            <td>I</td>
            <td rowspan="7" colspan="2" class="border-right">had written</td>
            <td>I</td>
            <td rowspan="7" colspan="2" class="border-right">had not written</td>
            <td rowspan="7" class="vertical-upright grey">Past</td>
        </tr>
        <tr>
            <td>you</td>
            <td>you</td>
            <td>you</td>
        </tr>
        <tr>
            <td>we</td>
            <td>we</td>
            <td>we</td>
        </tr>
        <tr>
            <td>they</td>
            <td>they</td>
            <td>they</td>
        </tr>
        <tr>
            <td>it</td>
            <td>it</td>
            <td>it</td>
        </tr>
        <tr>
            <td>he</td>
            <td>he</td>
            <td>he</td>
        </tr>
        <tr>
            <td>she</td>
            <td>she</td>
            <td>she</td>
        </tr>
    </table>
</div>