<div class="hint-table7 flex-center">
    <table>
        <tr>
            <th></th>
            <th>всё</th>
            <th>часть</th>
            <th>ничего</th>
        </tr>
        <tr>
            <th>Люди</th>
            <td>everybody <span class="grey">все</span></td>
            <td>somebody <span class="grey">кто-то, кто-нибудь</span></td>
            <td>nobody <span class="grey">никто</span></td>
        </tr>
        <tr>
            <th>Предметы</th>
            <td>everything <span class="grey">всё</span></td>
            <td>something <span class="grey">что-то, что-нибудь</span></td>
            <td>nothing <span class="grey">ничего</span></td>
        </tr>
        <tr>
            <th>Место</th>
            <td>everywhere <span class="grey">везде</span></td>
            <td>somewhere <span class="grey">где-то, где-нибудь</span></td>
            <td>nowhere <span class="grey">нигде</span></td>
        </tr>
        <tr>
            <th>Время</th>
            <td>always <span class="grey">всегда</span></td>
            <td>sometimes <span class="grey">когда-то, иногда</span></td>
            <td>never <span class="grey">никогда</span></td>
        </tr>
    </table>
</div>
