<div class="hint-table16 flex-center">
    <table>
        <tr class="border-bottom">
            <td colspan="3" class="border-right">Вопрос</td>
            <td colspan="3" class="border-right">Утверждение</td>
            <td colspan="3">Отрицание</td>
        </tr>
        <tr>
            <td rowspan="4">Have</td>
            <td>I</td>
            <td rowspan="7" class="border-right">seen?</td>
            <td>I</td>
            <td rowspan="4">have</td>
            <td rowspan="7" class="border-right">seen</td>
            <td>I</td>
            <td rowspan="4">have not</td>
            <td rowspan="7">seen</td>
        </tr>
        <tr>
            <td>you</td>
            <td>you</td>
            <td>you</td>
        </tr>
        <tr>
            <td>we</td>
            <td>we</td>
            <td>we</td>
        </tr>
        <tr>
            <td>they</td>
            <td>they</td>
            <td>they</td>
        </tr>
        <tr>
            <td rowspan="3">Has</td>
            <td>it</td>
            <td>it</td>
            <td rowspan="3">has</td>
            <td>it</td>
            <td rowspan="3">has not</td>
        </tr>
        <tr>
            <td>he</td>
            <td>he</td>
            <td>he</td>
        </tr>
        <tr>
            <td>she</td>
            <td>she</td>
            <td>she</td>
        </tr>
    </table>
</div>