<div class="hint-table8 flex-center">
    <table>
        <tr>
            <th>Предлог</th>
            <th>Значение</th>
            <th>Пример</th>
        </tr>
        <tr>
            <th rowspan="4">
                -
            </th>
            <td>
                <span class="grey">
                    -со словами
                </span>
                <br />
                <span class="bold">
                    yesterday
                </span>
                <br />
                <span class="grey">
                    вчера
                </span>
            </td>
            <td rowspan="2">
                I worked
                <br />
                <span class="bold">
                    yesterday
                </span>
                <br />
                <span class="grey">
                    Я работал вчера
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="bold">
                    today
                </span>
                <br />
                <span class="grey">
                    сегодня
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="bold">
                    tomorrow
                </span>
                <br />
                <span class="grey">
                    завтра
                </span>
            </td>
            <td rowspan="2">
                He will come
                <br />
                <span class="bold">
                    tomorrow
                </span>
                <br />
                <span class="grey">
                    Он придет завтра
                </span>
            </td>
        </tr>
        <tr class="border-bottom">
            <td>
                <span class="bold">
                    now
                </span>
                <br />
                <span class="grey">
                    сейчас
                </span>
            </td>
        </tr>
        <tr>
            <th rowspan="4">
                -
            </th>
            <td rowspan="2">
                <span class="grey">
                    -перед словами
                </span>
                <br />
                <span class="bold">
                    next, this, last +
                </span>
                <br />
                период времени
            </td>
            <td>
                <span class="bold">
                    next week
                </span>
                <br />
                <span class="grey">
                    на следующей неделе
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="bold">
                    this month
                </span>
                <br />
                <span class="grey">
                    в этом месяце
                </span>
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                <span class="bold">
                    next
                </span>
                <br />
                <span class="grey">
                    следующий
                </span>
                <br />
                <span class="bold">
                    this
                </span>
                <br />
                <span class="grey">
                    этот
                </span>
                <br />
                <span class="bold">
                    last
                </span>
                <br />
                <span class="grey">
                    прошлый
                </span>
            </td>
            <td>
                <span class="bold">
                    last year
                </span>
                <br />
                <span class="grey">
                    в прошлом году
                </span>
            </td>
        </tr>
        <tr class="border-bottom">
            <td>
                <span class="bold">
                    last time
                </span>
                <br />
                <span class="grey">
                    в прошлый раз
                </span>
            </td>
        </tr>
        <tr class="border-bottom">
            <th rowspan="2">
                on
            </th>
            <td>
                - даты
            </td>
            <td>
                <span class="bold">- on the</span> 5-th of May
                <br />
                <span class="grey">пятого мая</span>
            </td>
        </tr>
        <tr class="border-bottom">
            <td>
                -дни недели
            </td>
            <td>
                <span class="bold">- on</span> Monday
                <br />
                <span class="grey">в понедельник</span>
            </td>
        </tr>
        <tr class="border-bottom">
            <th rowspan="5">
                in
            </th>
            <td>
                - через некоторый промежуток времени
            </td>
            <td>
                <span class="bold">- in</span> an hour
                <br />
                <span class="grey">через час</span>
            </td>
        </tr>
        <tr class="border-bottom">
            <td>
                - месяцы
            </td>
            <td>
                <span class="bold">- in</span> August
                <br />
                <span class="grey">в августе</span>
            </td>
        </tr>
        <tr class="border-bottom">
            <td>
                - сезоны
            </td>
            <td>
                <span class="bold">- in</span> winter
                <br />
                <span class="grey">зимой</span>
            </td>
        </tr>
        <tr class="border-bottom">
            <td>
                - года
            </td>
            <td>
                <span class="bold">- in</span> 2006
                <br />
                <span class="grey">в 2006</span>
            </td>
        </tr>
        <tr class="border-bottom">
            <td>
                <span class="grey">- со словами</span>
                <br />
                <span class="bold">the morning</span>
                <br />
                <span class="grey">утром</span>
                <br />
                <span class="bold">the evening</span>
                <br />
                <span class="grey">вечером</span>
                <br />
                <span class="bold">the afternoon</span>
                <br />
                <span class="grey">днем</span>
            </td>
            <td>
                - I saw him <span class="bold">in the</span> morning
                <br />
                <span class="grey">Я видел его утром.</span>
            </td>
        </tr>
        <tr class="border-bottom">
            <th rowspan="3">
                at
            </th>
            <td>
                <span class="grey">- со словами</span>
                <br />
                <span class="bold">night</span>
                <br />
                <span class="grey">в полдень</span>
                <br />
                <span class="bold">midnight</span>
                <br />
                <span class="grey">в полночь</span>
            </td>
            <td>
                - I sleep <span class="bold">at</span> night
                <br />
                <span class="grey">Я сплю ночью</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="grey">- со словом</span>
                <br />
                <span class="bold">the weekend</span>
                <br />
                <span class="grey">в выходные</span>
            </td>
            <td>
                - The concert will be <span class="bold">at the</span> weekend
                <span class="grey">Концерт будет в выходные</span>
            </td>
        </tr>
        <tr>
            <td>
                - точное время
            </td>
            <td>
                <span class="bold">- at</span> 9 o'clock 
                <br />
                <span class="grey">в 9 часов</span>
            </td>
        </tr>
    </table>
</div>