<div class="hint-table10">
    <p>
        <span class="bold">to</span> – предлог, обозначающий движение/действие, направленное к предмету. Переводится: <span class="bold">к, на, в.</span>
    </p>
    <br />
    <ul>
        <li>
            I go <span class="bold">to the</span> cinema.
            <br />
            <span class="grey">Я хожу <span class="bold">в</span> кино.</span>
        </li>
        <li>
            He drives <span class="bold">to the</span> north.
            <br />
            <span class="grey">Он едет <span class="bold">на</span> север.</span>
        </li>
        <li>
            She ran <span class="bold">to the</span> car.
            <br />
            <span class="grey">Она побежала <span class="bold">к</span> машине.</span>
        </li>
    </ul>
    <br />
    <p>
        <span class="bold">from</span> – предлог, обозначающий движение/действие, направленное от предмета. Переводится: <span class="bold">из, с, от</span>.
    </p>
    <br />
    <ul>
        <li>
            He came <span class="bold">from the</span> west.
            <br />
            <span class="grey">Он пришел <span class="bold">с</span> запада.</span>
        </li>
        <li>
            She came <span class="bold">from the</span> theater.
            <br />
            <span class="grey">Она пришла <span class="bold">из</span> театра.</span>
        </li>
        <li>
            We fly <span class="bold">from</span> Moscow.
            <br />
            <span class="grey">Мы летим <span class="bold">из</span> Москвы.</span>
        </li>
    </ul>
    <br />
    <p>
        <span class="bold">into</span> – предлог, обозначающий действие направленное вовнутрь. Переводится: <span class="bold">в</span>.
    </p>
    <br />
    <ul>
        <li>
            He will come <span class="bold">into the</span> room.
            <br />
            <span class="grey">Он войдет <span class="bold">в</span> комнату.</span>
        </li>
        <li>
            They ran <span class="bold">into the</span> house.
            <br />
            <span class="grey">Он войдет <span class="bold">в</span> комнату.</span>
        </li>
    </ul>
    <br />
    <p>
        <span class="bold">out of</span> – предлог, обозначающий действие направленное изнутри. Переводится: <span class="bold">из</span>.
    </p>
    <br />
    <ul>
        <li>
            He will come <span class="bold">out of the</span> room.
            <br />
            <span class="grey">Он выйдет <span class="bold">из</span> комнаты.</span>
        </li>
        <li>
            They ran <span class="bold">out of the</span> out of the.
            <br />
            <span class="grey">Они выбежали <span class="bold">из</span> здания.</span>
        </li>
    </ul>
</div>