<div class="hint-table22 flex-center">
    <table>
        <tr class="border-bottom">
            <td colspan="3" class="border-right">Вопрос</td>
            <td colspan="2" class="border-right">Утверждение</td>
            <td colspan="2">Отрицание</td>
        </tr>
        <tr>
            <td rowspan="7">Will</td>
            <td>I</td>
            <td rowspan="7" class="border-right">have been living?</td>
            <td>I</td>
            <td rowspan="7" class="border-right">will have been living</td>
            <td>I</td>
            <td rowspan="7">won't have been living</td>
        </tr>
        <tr>
            <td>you</td>
            <td>you</td>
            <td>you</td>
        </tr>
        <tr>
            <td>we</td>
            <td>we</td>
            <td>we</td>
        </tr>
        <tr>
            <td>they</td>
            <td>they</td>
            <td>they</td>
        </tr>
        <tr>
            <td>it</td>
            <td>it</td>
            <td>it</td>
        </tr>
        <tr>
            <td>he</td>
            <td>he</td>
            <td>he</td>
        </tr>
        <tr>
            <td>she</td>
            <td>she</td>
            <td>she</td>
        </tr>
    </table>
</div>