<div class="hint-table6 flex-center">
    <table>
        <tr>
            <th></th>
            <th>Прилагательное</th>
            <th>Сравнительная</th>
            <th>Превосходная</th>
        </tr>
        <tr>
            <td>
                Односложные<br />
                +er<br />
                +est
            </td>
            <td>
                low<br />
                old<br />
                short
            </td>
            <td>
                low<span class="bold">er</span><br />
                old<span class="bold">er</span><br />
                short<span class="bold">er</span>
            </td>
            <td>
                <span class="bold">the</span> low<span class="bold">est</span><br />
                <span class="bold">the</span> old<span class="bold">est</span><br />
                <span class="bold">the</span> short<span class="bold">est</span>
            </td>
        </tr>
        <tr>
            <td>
                Многосложные<br />
                More +<br />
                The most +
            </td>
            <td>
                beautiful<br />
                interesting
            </td>
            <td>
                <span class="bold">more</span> beautiful<br />
                <span class="bold">more</span> interesting
            </td>
            <td>
                <span class="bold">the most</span> beautiful<br />
                <span class="bold">the most</span> interesting
            </td>
        </tr>
        <tr>
            <td rowspan="4">
                Исключения
            </td>
            <td>
                good<br />
                <span class="grey">хороший</span>
            </td>
            <td>
                <span class="bold">better</span><br />
                <span class="grey">лучший</span>
            </td>
            <td>
                <span class="bold">the best</span><br />
                <span class="grey">
                    самый лучший,<br />
                    наилучший
                </span>
            </td>
        </tr>
        <tr>
            <td>
                bad<br />
                <span class="grey">плохой</span>
            </td>
            <td>
                <span class="bold">worse</span><br />
                <span class="grey">хуже</span>
            </td>
            <td>
                <span class="bold">the worst</span><br />
                <span class="grey">
                    самый плохой,<br />
                    наихудший
                </span>
            </td>
        </tr>
        <tr>
            <td>
                little<br />
                <span class="grey">маленький</span>
            </td>
            <td>
                <span class="bold">less</span><br />
                <span class="grey">меньше</span>
            </td>
            <td>
                <span class="bold">the least</span><br />
                <span class="grey">
                    самый маленький,<br />
                    наименьший
                </span>
            </td>
        </tr>
        <tr>
            <td>
                much/many<br />
                <span class="grey">много</span>
            </td>
            <td>
                <span class="bold">more</span><br />
                <span class="grey">больше</span>
            </td>
            <td>
                <span class="bold">the most</span><br />
                <span class="grey">
                    больше всего
                </span>
            </td>
        </tr>
    </table>
 </div>