<div class="hint-table11 flex-center">
    <table>
        <tr class="border-bottom">
            <th colspan="3" class="border-right">Вопрос</th>
            <th colspan="2" class="border-right">Утверждение</th>
            <th colspan="2" class="border-right">Отрицание</th>
        </tr>
        <tr>
            <td rowspan="6">should</td>
            <td>I</td>
            <td rowspan="6" class="border-right">do</td>
            <td>I</td>
            <td rowspan="6" class="border-right">should do</td>
            <td>I</td>
            <td rowspan="6">should not do</td>
        </tr>
        <tr>
            <td>you</td>
            <td>you</td>
            <td>you</td>
        </tr>
        <tr>
            <td>we</td>
            <td>we</td>
            <td>we</td>
        </tr>
        <tr>
            <td>they</td>
            <td>they</td>
            <td>they</td>
        </tr>
        <tr>
            <td>he</td>
            <td>he</td>
            <td>he</td>
        </tr>
        <tr class="border-bottom">
            <td>she</td>
            <td>she</td>
            <td>she</td>
        </tr>
        <tr>
            <td rowspan="6">must</td>
            <td>I</td>
            <td rowspan="6" class="border-right">do</td>
            <td>I</td>
            <td rowspan="6" class="border-right">must do</td>
            <td>I</td>
            <td rowspan="6">must not do</td>
        </tr>
        <tr>
            <td>you</td>
            <td>you</td>
            <td>you</td>
        </tr>
        <tr>
            <td>we</td>
            <td>we</td>
            <td>we</td>
        </tr>
        <tr>
            <td>they</td>
            <td>they</td>
            <td>they</td>
        </tr>
        <tr>
            <td>he</td>
            <td>he</td>
            <td>he</td>
        </tr>
        <tr class="border-bottom">
            <td>she</td>
            <td>she</td>
            <td>she</td>
        </tr>
        <tr>
            <td rowspan="6">can</td>
            <td>I</td>
            <td rowspan="6" class="border-right">do</td>
            <td>I</td>
            <td rowspan="6" class="border-right">can do</td>
            <td>I</td>
            <td rowspan="6">can not do</td>
        </tr>
        <tr>
            <td>you</td>
            <td>you</td>
            <td>you</td>
        </tr>
        <tr>
            <td>we</td>
            <td>we</td>
            <td>we</td>
        </tr>
        <tr>
            <td>they</td>
            <td>they</td>
            <td>they</td>
        </tr>
        <tr>
            <td>he</td>
            <td>he</td>
            <td>he</td>
        </tr>
        <tr>
            <td>she</td>
            <td>she</td>
            <td>she</td>
        </tr>
    </table>
</div>