<div class="hint-table15">
    <div class="flex-center">
        <table>
            <tr>
                <th rowspan="6">
                    go
                </th>
                <th>
                    up
                </th>
                <td class="grey">
                    1. подниматься
                    <br />
                    2. взбираться по чему-то, на что-то
                </td>
            </tr>
            <tr>
                <th>
                    down
                </th>
                <td class="grey">
                    снижаться, опускаться, падать
                </td>
            </tr>
            <tr>
                <th>
                    in
                </th>
                <td class="grey">
                    входить
                </td>
            </tr>
            <tr>
                <th>
                    out
                </th>
                <td class="grey">
                    1. выйти наружу
                    <br />
                    2. выйти в город, посетить места развлечений
                </td>
            </tr>
            <tr>
                <th>
                    back
                </th>
                <td class="grey">
                    вернуться
                </td>
            </tr>
            <tr>
                <th>
                    away
                </th>
                <td class="grey">
                    уйти
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div class="flex-center">
        <table>
            <tr>
                <th rowspan="5">
                    come
                </th>
                <th>
                    up
                </th>
                <td class="grey">
                    1. повышаться
                    <br />
                    2. возникнуть, появиться
                </td>
            </tr>
            <tr>
                <th>
                    down
                </th>
                <td class="grey">
                    1. спуститься вниз
                    <br />
                    2. упасть
                </td>
            </tr>
            <tr>
                <th>
                    in
                </th>
                <td class="grey">
                    войти
                </td>
            </tr>
            <tr>
                <th>
                    out
                </th>
                <td class="grey">
                    1. выйти из
                    <br />
                    2. выйти (о книге)
                    <br />
                    3. стать известным (об информации, секретах)
                    <br />
                    4. закончиться каким-то результатом
                </td>
            </tr>
            <tr>
                <th>
                    back
                </th>
                <td class="grey">
                    вернуться
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div class="flex-center">
        <table>
            <tr>
                <th rowspan="8">
                    look
                </th>
                <th>
                    up
                </th>
                <td class="grey">
                    1. смотреть вверх
                    <br />
                    2. посмотреть/поискать какую-то информацию в справочнике
                </td>
            </tr>
            <tr>
                <th>
                    down
                </th>
                <td class="grey">
                    смотреть вниз, опустить взгляд
                </td>
            </tr>
            <tr>
                <th>
                    in
                </th>
                <td class="grey">
                    посмотреть, заглянуть
                </td>
            </tr>
            <tr>
                <th>
                    out of
                </th>
                <td class="grey">
                    выглянуть
                </td>
            </tr>
            <tr>
                <th>
                    back
                </th>
                <td class="grey">
                    оглянуться
                </td>
            </tr>
            <tr>
                <th>
                    away
                </th>
                <td class="grey">
                    отвернуться
                </td>
            </tr>
            <tr>
                <th>
                    for
                </th>
                <td class="grey">
                    искать, надеяться
                </td>
            </tr>
            <tr>
                <th>
                    after
                </th>
                <td class="grey">
                    присматривать за кем-то, заботиться, ухаживать
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div class="flex-center">
        <table>
            <tr>
                <th rowspan="3">
                    give
                </th>
                <th>
                    up
                </th>
                <td class="grey">
                    1. сдаваться
                    <br />
                    2. отказаться от продолжения или попыток делать что-то
                </td>
            </tr>
            <tr>
                <th>
                    in
                </th>
                <td class="grey">
                    уступить, сдаться
                </td>
            </tr>
            <tr>
                <th>
                    out
                </th>
                <td class="grey">
                    1. раздавать, распределять
                    <br />
                    2. иссякнуть (о запасах, силах)
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div class="flex-center">
        <table>
            <tr>
                <th rowspan="2">
                    turn
                </th>
                <th>
                    on
                </th>
                <td class="grey">
                    включать
                </td>
            </tr>
            <tr>
                <th>
                    off
                </th>
                <td class="grey">
                    выключать
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div class="flex-center">
        <table>
            <tr>
                <th>
                    put
                </th>
                <th>
                    on
                </th>
                <td class="grey">
                    надевать
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div class="flex-center">
        <table>
            <tr>
                <th>
                    break
                </th>
                <th>
                    down
                </th>
                <td class="grey">
                    ломать, ломаться
                </td>
            </tr>
        </table>
    </div>
</div>
