<div class="lesson-info">
    <h1>
        Урок 13
    </h1>
    <br />
    <h2>
        Прилагательные
    </h2>
    <br />
    <p>
        Этот урок мы посвящаем прилагательным, которые очень часто применяются в английском языке.
    </p>
    <br />
    <h2>
        Описание людей
    </h2>
    <br />
    <p>
        При описании людей обычно используются следующие прилагательные:
    </p>
    <br />
    <p class="bold">
        Возраст:
    </p>
    <br />
    <p>
        young <span class="grey">молодой</span>, old <span class="grey">старый</span>, adult <span class="grey">взрослый</span>, elderly <span class="grey">пожилой</span>.
    </p>
    <br />
    <p class="bold">
        Размер:
    </p>
    <br />
    <p>
        big <span class="grey">большой</span>, small <span class="grey">маленький</span>, fat <span class="grey">толстый/жирный</span>, slim <span class="grey">тонкий/худой</span>, skinny <span class="grey">тощий</span>.
    </p>
    <br />
    <p class="bold">
        Вес:
    </p>
    <br />
    <p>
        heavy <span class="grey">тяжелый</span>, light <span class="grey">легкий</span>.
    </p>
    <br />
    <p class="bold">
        Рост:
    </p>
    <br />
    <p>
        tall <span class="grey">высокий</span>, short <span class="grey">низкий</span>, high <span class="grey">высокий</span>, low <span class="grey">низкий</span>.
    </p>
    <br />
    <p class="bold">
        Длина:
    </p>
    <br />
    <p>
        long <span class="grey">длинный</span>, short <span class="grey">короткий</span>.
    </p>
    <br />
    <p class="bold">
        Цвет:
    </p>
    <br />
    <p>
        dim <span class="grey">тусклый</span>, light <span class="grey">светлый</span>, dark <span class="grey">темный</span>, bright <span class="grey">яркий</span>.
    </p>
    <br />
    <p class="bold">
        Состояние:
    </p>
    <br />
    <p>
        hungry <span class="grey">голодный</span>, happy <span class="grey">счастливый</span>, angry <span class="grey">злой/сердитый</span>, healthy <span class="grey">здоровый</span>.
    </p>
    <br />
    <p>
        Когда описывается сам человек, то фраза строится по формуле:
    </p>
    <br />
    <p>
        to be + прилагательное
    </p>
    <br />
    <ul>
        <li>
            He is young.
            <br />
            <span class="grey">Он молодой.</span>
        </li>
        <li>
            She is tall.
            <br />
            <span class="grey">Она высокая.</span>
        </li>
    </ul>
    <br />
    <p>
        Когда описывается часть тела человека, то фраза строится по формуле:
    </p>
    <br />
    <p>
        to have + прилагательное + часть тела
    </p>
    <br />
    <ul>
        <li>
            I have long hair.
            <br />
            <span class="grey">У меня длинные волосы.</span>
        </li>
        <li>
            She has brown eyes.
            <br />
            <span class="grey">У неё карие глаза.</span>
        </li>
    </ul>
    <br />
    <h2>
        Погода
    </h2>
    <br />
    <p>
        При описании погоды используются следующие прилагательные:
    </p>
    <br />
    <p>
        cold <span class="grey">холодно</span>, warm <span class="grey">тепло</span>, hot <span class="grey">жарко</span>, frosty <span class="grey">морозно</span>, sunny <span class="grey">солнечно</span>, cloudy <span class="grey">облачно</span>, windy <span class="grey">ветренно</span>, foggy <span class="grey">туманно</span>
    </p>
    <br />
    <p>
        Выражения строятся по формуле:
    </p>
    <br />
    <p>
        to be + прилагательное
    </p>
    <br />
    <ul>
        <li>
            It is cold today.
            <br />
            <span class="grey">Сегодня холодно.</span>
        </li>
        <li>
            It was sunny yesterday.
            <br />
            <span class="grey">Вчера было солнечно.</span>
        </li>
    </ul>
    <br />
    <p>
        Если хотим сказать «Идет дождь/снег (сейчас)», то используем выражения:
    </p>
    <br />
    <ul>
        <li>
            It is raining.
            <br />
            <span class="grey">Идет дождь.</span>
        </li>
        <li>
            It is snowing.
            <br />
            <span class="grey">Идет снег.</span>
        </li>
    </ul>
    <br />
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>