<div class="lesson-info">
    <h1>
        Урок 2
    </h1>
    <br />
    <p>
        Местоимения, отвечающие на вопрос кого? и кому?
    </p>
    <br />
    <p>
        Чтобы разнообразить наши предложения и сделать их немного сложнее, добавим местоимения в родительном (кого?) и дательном (кому?) падеже.
    </p>
    <br />
    <p>
        В английском языке эти местоимения выглядят совершенно одинаково:
    </p>
    <br />
    <div class="lesson2-help-table1 flex-center">
        <table>
            <tr>
                <td colspan="2">
                    Кто?
                </td>
                <td colspan="2">
                    Кого?
                </td>
                <td colspan="2">
                    Кому?
                </td>
            </tr>
            <tr>
                <td>
                    Я
                </td>
                <td>
                    I
                </td>
                <td>
                    Меня
                </td>
                <td>
                    Me
                </td>
                <td>
                    Мне
                </td>
                <td>
                    Me
                </td>
            </tr>
            <tr>
                <td>
                    Ты
                </td>
                <td>
                    You
                </td>
                <td>
                    Тебя
                </td>
                <td>
                    You
                </td>
                <td>
                    Тебе
                </td>
                <td>
                    You
                </td>
            </tr>
            <tr>
                <td>
                    Он
                </td>
                <td>
                    He
                </td>
                <td>
                    Его
                </td>
                <td>
                    Him
                </td>
                <td>
                    Ему
                </td>
                <td>
                    Him
                </td>
            </tr>
            <tr>
                <td>
                    Она
                </td>
                <td>
                    She
                </td>
                <td>
                    Её
                </td>
                <td>
                    Her
                </td>
                <td>
                    Ей
                </td>
                <td>
                    Her
                </td>
            </tr>
            <tr>
                <td>
                    Мы
                </td>
                <td>
                    We
                </td>
                <td>
                    Нас
                </td>
                <td>
                    Us
                </td>
                <td>
                    Нам
                </td>
                <td>
                    Us
                </td>
            </tr>
            <tr>
                <td>
                    Они
                </td>
                <td>
                    They
                </td>
                <td>
                    Их
                </td>
                <td>
                    Them
                </td>
                <td>
                    Им
                </td>
                <td>
                    Them
                </td>
            </tr>
        </table>
    </div>
    <br />
    <p>
        Предложения строятся так же как и на прошлом уроке, а в конце прибавляется нужное местоимение.
    </p>
    <br />
    <ul>
        <li>
            <p>
                I see you. <span class="grey-text">- Я вижу тебя.</span>
            </p>
        </li>
        <li>
            <p>
                She will help me. <span class="grey-text">- Она поможет мне.</span>
            </p>
        </li>
    </ul>
    <br />
    <h2>
        Вопросительные слова.
    </h2>
    <br />
    <p>
        Теперь мы научимся составлять предложения со специальными вопросительными словами.
    </p>
    <br />
    <p>
        Список вопросительных слов к уроку:
    </p>
    <br />
    <div class="lesson2-help-table2 flex-center">
        <table>
            <tr>
                <td>What?</td>
                <td>Что? Какой?</td>
            </tr>
            <tr>
                <td>Who?</td>
                <td>Кто?</td>
            </tr>
            <tr>
                <td>Where?</td>
                <td>Где? Куда?</td>
            </tr>
            <tr>
                <td>When?</td>
                <td>Когда?</td>
            </tr>
            <tr>
                <td>Why?</td>
                <td>Почему? Зачем?</td>
            </tr>
            <tr>
                <td>How?</td>
                <td>Как? Каким образом?</td>
            </tr>
        </table>
    </div>
    <br />
    <p>
        Предложения с вопросительными словами составляются по следующему алгоритму:
    </p>
    <br />
    <p>
        Сначала идет вопросительное слово, а затем предложение строится по уже известному нам правилу.
    </p>
    <br />
    <ul>
        <li>
            Where did you see her?<span class="grey-text"> - Где ты видел её?</span>
        </li>
        <li>
            How will they fly?<span class="grey-text"> - Как они полетят?</span>
        </li>
    </ul>
    <br />
    <h2>
        Советы:
    </h2>
    <br />
    <ul>
        <li>
            <p>
                Чтобы стереть неправильно выбранное слово, нажмите левую кнопку мыши в области имеющей фарфоровый цвет (такой же как фон этой страницы).
            </p>
        </li>
        <li>
            <p>
                Чтобы посмотреть подсказку, нажмите на пункт "Подсказка" в меню.
            </p>
        </li>
        <li>
            <p>
                Чтобы открыть следующий урок, наберите 100 баллов.
            </p>
        </li>
    </ul>
    <br />
    <p class="italic">
        Если знаете, как улучшить программу, напишите нам.
    </p>
</div>