<div class="lesson-info">
    <h1>
        Present Participle Perfect
    </h1>
    <br />
    <h2>
        Совершенное причастие
    </h2>
    <br />
    <p>
        Обозначает действие, <span class="bold">предшествующее</span> действию, выраженному сказуемым.
    </p>
    <br />
    <p>
        Образуется при помощи <span class="bold">having</span> и третьей формы глагола.
    </p>
    <br />
    <ul class="italic">
        <li>
            <span class="bold">Having come</span> late he missed the bus.
            <br />
            <span class="grey"><span class="bold">Придя</span> поздно он пропустил автобус.</span>
        </li>
    </ul>
    <br />
    <h2>
        Употребляется
    </h2>
    <br />
    <p>
        1. Для выражения <span class="bold">обстоятельства причины</span>.
    </p>
    <br />
    <p>
        Переводится деепричастием совершенного вида (что сделав?).
    </p>
    <br />
    <ul class="italic">
        <li>
            <span class="bold">Having eaten</span> the hamburger she felt sick.
            <br />
            <span class="grey">
                <span class="bold">Съев</span> гамбургер она почувствовала себя плохо.
                <br />
                ( = Так как съела гамбургер )
            </span>
        </li>
        <li>
            <span class="bold">Having lost</span> the key she couldn't get into her flat.
            <br />
            <span class="grey">
                <span class="bold">Потеряв</span> ключ она не могла попасть в свою квартиру.
                <br />
                ( = Так как потеряла ключ )
            </span>
        </li>
    </ul>
    <br />
    <p>
        2. Для выражения <span class="bold">обстоятельства времени</span>.
    </p>
    <br />
    <p>
        Переводится деепричастием совершенного вида (что сделав?).
    </p>
    <br />
    <ul class="italic">
        <li>
            <span class="bold">Having taken</span> a nap he continued his way.
            <br />
            <span class="grey">
                <span class="bold">Вздремнув</span> он продолжил свой путь.
                <br />
                ( = После того как вздремнул )
            </span>
        </li>
        <li>
            <span class="bold">Having said</span> goodbye he went out.
            <br />
            <span class="grey">
                <span class="bold">Попрощавшись</span> он вышел.
                <br />
                ( = После того как попрощался )
            </span>
        </li>
    </ul>
    <br />
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>