<div class="lesson-info">
    <h1>
        Урок 16. Фразовые глаголы
    </h1>
    <br />
    <p>
        Фразовый глагол представляет собой устойчивую связку из глагола и предлога (или наречия), в которой глагол означает действие, а предлог или наречие – его характер или направленность.
    </p>
    <br />
    <p>
        <span class="bodl">GO UP</span> (go - <span class="grey">идти</span>, up - <span class="grey">вверх</span>)
    </p>
    <br />
    <p>
        В русском языке из слова «делать» с помощью приставок образуется целая куча слов («сделать», «подделать», «разделать», «обделать», «отделать», «наделать»...), каждое из которых может в разных ситуациях означать разные действия.
    </p>
    <br />
    <p>
        Подобно этому в английском языке из распространённых глаголов при помощи предлогов можно создать бесчисленное количество фразовых глаголов, способных означать всё, что угодно.
    </p>
    <br />
    <p>
        <span class="bold">GO UP</span> – <span class="grey">подниматься, идти вверх, вбираться</span>
    </p>
    <br />
    <p>
        Но, очень часто можно легко догадаться о значении фразовых глаголов, поняв простой алгоритм работы предлогов: направление, место и т.д. (например, sit down — <span class="grey">садиться</span>, look for — <span class="grey">искать</span>).
    </p>
    <br />
    <p>
        Фразовые глаголы в английском языке очень распространенное явление, но чаще они используются в повседневной речи, чем в деловой переписке или деловой беседе.
    </p>
    <br />
    <p>
        Очень важно знать их (хотя бы наиболее употребляемые) и использовать, для того чтобы ваш английский стал естественнее и более «английским».
    </p>
    <br />
    <partial name="../../Shared/Hints/_hint16.cshtml" />
    <br />
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>