<div class="lesson-info">
    <h1>
        Урок 8
    </h1>
    <br />
    <h2>
        Параметры времени
    </h2>
    <br />
    <p>
        Параметры времени - слова и сочетания слов, обозначающие время.
    </p>
    <br />
    <h2>
        Предлоги времени
    </h2>
    <br />
    <partial name="../../Shared/Hints/_hint8.cshtml" />
    <br />
    <h2>
        Параметр времени ago
    </h2>
    <br />
    <p>
        <span class="bold">Ago</span> - переводится словом <span class="bold">назад</span>. Употребляется чтобы обозначить сколько времени прошло:
    </p>
    <br />
    <p>
        5 days <span class="bold">ago</span> - 5 дней <span class="bold">назад</span>
    </p>
    <br />
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>