<div class="lesson-info">
    <h1>
        Урок 7
    </h1>
    <br />
    <h2>
        Much, many
    </h2>
    <br />
    <p>
        Местоимения <span class="bold">much, many</span> (много, многое, многие) могут выполнять функцию определителя к существительному или употребляться вместо существительного.
    </p>
    <br />
    <p>
        <span class="bold">Much</span> употребляется только с неисчисляемыми существительными или вместо неисчисляемых существительных:
    </p>
    <br />
    <ul>
        <li>How <span class="bold">much</span> time do you need?<span class="grey"> - Сколько времени тебе нужно?</span></li>
        <li>You haven't <span class="bold">much</span> time if you want to catch the bus.<span class="grey"> - У тебя немного времени, если хочешь успеть на этот автобус.</span></li>
        <li>My father meant <span class="bold">much</span> to me.<span class="grey"> - Мой отец возлагал на меня большие надежды.</span></li>
        <li><span class="bold">Much</span> depends on what answer he will give.<span class="grey"> - Многое зависит от того, какой он даст ответ.</span></li>
    </ul>
    <br />
    <p>
        <span class="bold">Many</span> употребляется только с исчисляемыми существительными или вместо исчисляемых существительных:
    </p>
    <br />
    <ul>
        <li>Do you have <span class="bold">many</span> friends?<span class="grey"> - У тебя много друзей?</span></li>
        <li><span class="grey">Many</span> of them were late.<span class="grey"> - Многие из них опоздали.</span></li>
        <li><span class="bold">Many</span> think that the situation will improve.<span class="grey"> - Многие думают что ситуация улучшится.</span></li>
        <li>Not <span class="bold">many</span> knew about it.<span class="grey"> - Не многие знали об этом.</span></li>
    </ul>
    <br />
    <p>
        В современном разговорном английском языке местоимения <span class="bold">much</span> и <span class="bold">many</span> в качестве определителя как правило употребляются только в вопросительных и отрицательных предложениях, в утвердительных предложениях им соответствует <span class="bold">a lot of (lots of)</span>, которое употребляется с исчисляемыми и неисчисляемыми существительными:
    </p>
    <br />
    <ul>
        <li>You have <span class="bold">a lot of</span> time to catch the bus.<span class="grey"> - У вас еще много времени, чтобы попасть на этот автобус.</span></li>
        <li>I have <span class="bold">a lot of</span> friends.<span class="grey"> - У меня много друзей.</span></li>
    </ul>
    <br />
    <p>
        Местоимения <span class="bold">much</span> и <span class="bold">many</span> употребляются в утвердительных предложениях если им предшествуют; <span class="bold">too</span> (слишком), <span class="bold">very</span> (очень), <span class="bold">so</span> (так), <span class="bold">how</span> (как), <span class="bold">as</span> (также):
    </p>
    <ul>
        <li>I can’t drink this tea. There is <span class="bold">too much</span> sugar in it.<span class="grey"> - Я не могу пить этот чай, в нем слишком много сахара.</span></li>
        <li>You can have <span class="bold">as much</span> fruit <span class="bold">as</span> you wish.<span class="grey"> - Вы можете взять столько фруктов сколько пожелаете.</span></li>
    </ul>
    <br />
    <h2>
        Little, few
    </h2>
    <br />
    <p>
        Местоимения <span class="bold">little, few</span> (мало, недостаточно) употребляются как в качестве определителя, так и существительного.
    </p>
    <br />
    <p>
        <span class="bold">Little</span> употребляется только с неисчисляемыми существительными:
    </p>
    <br />
    <ul>
        <li>I have <span class="bold">little</span> time.<span class="grey">У меня мало времени.</span></li>
        <li>There is <span class="bold">little</span> water in the cup.<span class="grey">  - В чашке мало воды.</span></li>
        <li><span class="bold">Little</span> has been known of them.<span class="grey"> - О них мало было известно.</span></li>
        <li>The <span class="bold">little</span> that remains will be unloaded tomorrow.<span class="grey"> - То малое количество, что остается, будет выгружено завтра.</span></li>
    </ul>
    <br />
    <h2>
        Местоимение few употребляется только с исчисляемыми существительными:
    </h2>
    <br />
    <ul>
        <li>He has <span class="bold">few</span> friends.<span class="grey"> - У него мало друзей.</span></li>
        <li><span class="bold">Few</span> knew him well.<span class="grey"> - Его мало кто хорошо знал.</span></li>
        <li>He is one of the <span class="bold">few</span> men which are always ready to help.<span class="grey"> - Он - один из немногих людей которые всегда готовы помочь.</span></li>
    </ul>
    <br />
    <p>
        Местоимение <span class="bold">few</span> может служить определением к существительному в единственном числе с неопределенным артиклем, указывает на каждого из малого множества
    </p>
    <br />
    <ul>
        <li><span class="bold">Few a</span> man can resist a woman's charms.<span class="grey"> - Мало мужчин может противостоять чарам женщины.</span></li>
        <li><span class="bold">Few a</span> thing has changed during the days.<span class="grey"> - Мало чего изменилось в течение этих дней.</span></li>
    </ul>
    <br />
    <p>
        Местоимения <span class="bold">little</span> и <span class="bold">few</span> могут употребляться с неопределенным артиклем в значении <span class="italic">немного, несколько:</span>
    </p>
    <br />
    <ul>
        <li>I have <span class="bold">a little</span> time.<span class="grey">У меня есть немного времени.</span></li>
        <li>I saw him <span class="bold">a few</span> times.<span class="grey">Я видел его несколько раз.</span></li>
    </ul>
    <br />
    <h2>
        Слова-параметры
    </h2>
    <br />
    <partial name="../../Shared/HintTables/_hintTable7.cshtml" />
    <br />
    <h2>
        Примеры:
    </h2>
    <ul>
        <li>He sees <span class="bold">everybody</span>.<span class="grey"> - Он видит всех.</span></li>
        <li>He speaks to <span class="bold">everybody</span>.<span class="grey"> - Он говорит всем.</span></li>
        <li>I saw him <span class="bold">somewhere</span>.<span class="grey"> - Я видел его где-то.</span></li>
        <li>I <span class="bold">always</span> say the truth.<span class="grey"> - Я всегда говорю правду.</span></li>
    </ul>
    <br />
    <p>
        Обратите внимание, <span class="italic">параметры времени</span> в предложении обычно употребляются <span class="bold">перед глаголом</span>. Все остальные параметры чаще употребляются <span class="bold">после глагола</span>.
    </p>
    <br />
    <p>
        Употребление этих слов не вызывает трудностей. Кроме одного случая, когда слова nobody, nothing, nowhere и never используются для передачи отрицания:
    </p>
    <br />
    <ul>
        <li>Я не сказал ему ничего плохого.</li>
    </ul>
    <br />
    <p>
        В этом случае не стоит копировать структуру русского предложения, т.к. двойное отрицание будет ошибкой в английском предложении:
    </p>
    <br />
    <ul>
        <li>
            <span class="grey">
                Я не сказал ему ничего плохого.
            </span>
            <br />I did <span class="bold">not</span> tell him <span class="bold">nothing</span> bad. (<span class="red">неправильно</span>)
            <br />I told him <span class="bold">nothing</span> bad. (<span class="green">правильно</span>)
        </li>
    </ul>
    <br />
    <p>
        Рассмотрим еще несколько предложений:
    </p>
    <br />
    <ul>
        <li>There is <span class="bold">nothing</span> interesting here.<span class="grey"> - Здесь нет ничего интересного.</span></li>
        <li><span class="bold">Nobody</span> cares about my plans.<span class="grey"> - Никого не заботят мои планы.</span></li>
    </ul>
    <br />
    <h2>
        Советы:
    </h2>
    <br />
    <ul>
        <li>
            <p>
                Чтобы стереть неправильно выбранное слово, нажмите левую кнопку мыши в области имеющей фарфоровый цвет (такой же как фон этой страницы).
            </p>
        </li>
        <li>
            <p>
                Чтобы посмотреть подсказку, нажмите на пункт "Подсказка" в меню.
            </p>
        </li>
        <li>
            <p>
                Чтобы открыть следующий урок, наберите 100 баллов.
            </p>
        </li>
    </ul>
    <br />
    <p class="italic">
        Если знаете, как улучшить программу, напишите нам.
    </p>
</div>