<div class="lesson-info">
    <h1>
        Урок 3
    </h1>
    <br />
    <h2>
        Глагол «to be»
    </h2>
    <br />
    <p>
        Глагол «to be» (быть) это глагол–связка, который обозначает присутствие.
    </p>
    <br />
    <p>
        В русском языке в настоящем времени это слово не используется. Мы не говорим «Я есть здесь», а говорим просто – «Я здесь».
    </p>
    <br />
    <p>
        В прошедшем и будущем времени, мы используем его, говоря – «Я был здесь» и «Я буду здесь».
    </p>
    <br />
    <p>
        В английском языке глагол «to be», используется <span class="bold">всегда</span>, в том числе в настоящем времени.
    </p>
    <br />
    <p>
        Т.е. мы не можем сказать по-английски «Я здесь», надо говорить – «Я есть здесь».
    </p>
    <br />
    <p>
        Все глаголы в английском языке подчиняются базовой схеме глаголов (Урок 1, Урок 2), кроме глагола to be.
    </p>
    <br />
    <p>
        Так как это глагол состояния, а не действия, то для глагола to be существует отдельная схема:
    </p>
    <br />
    <partial name="../../Shared/Hints/_hint1.cshtml" />
    <br />
    <h2>
        Глаголы want и like
    </h2>
    <br />
    <p>
        Выражение «I like» переводится как «мне нравится».
    </p>
    <br />
    <p>
        Выражение «I want» переводится как «я хочу» или «мне хочется».
    </p>
    <br />
    <p>
        Эти выражения употребляются с неопределенной формой глагола, для связи между глаголами используется частичка <span class="bold">to</span>
    </p>
    <br />
    <p>
        Например:
    </p>
    <br />
    <ul>
        <li>I like to fly.<span class="grey"> - Мне нравится летать.</span></li>
        <li>He wants to fly.<span class="grey"> - Ему хочется летать (Он хочет летать).</span></li>
    </ul>
    <br />
    <p>
        Глаголы want и like подчиняются базовой схеме глагола, рассмотренной на уроках 1 и 2. Оба - правильные глаголы.
    </p>
    <br />
    <h2>
        Выражение I would like/I'd like
    </h2>
    <br />
    <p>
        Выражение «I would like» переводится как «я бы хотел».
    </p>
    <br />
    <p>
        Эти выражения употребляются с неопределенной формой глагола, для связи между глаголами используется частичка <span class="bold">to</span> так же как и для глаголов like/want
    </p>
    <br />
    <p>
        Пример:
    </p>
    <br />
    <ul>
        <li>I would like to ask.<span class="grey"> - Я бы хотел спросить.</span></li>
    </ul>
    <br />
    <p>
        После этого выражения часто удобно употребить существительное (объект).
    </p>
    <br />
    <ul>
        <li>I would like a cake.<span class="grey"> - Я бы хотел пирожное.</span></li>
    </ul>
    <br />
    <p>
        Это выражение тоже подчиняется базовой схеме глагола рассмотренной на уроках 1, 2 в части будущего времени.
    </p>
    <br />
    <div class="lesson3-help-table1 flex-center">
        <table>
            <tr class="border-bottom">
                <td colspan="3" class="border-right">Вопрос</td>
                <td colspan="2" class="border-right">Утверждение</td>
                <td colspan="2" class="border-right">Отрицание</td>
            </tr>
            <tr>
                <td rowspan="6">
                    Would
                </td>
                <td>I</td>
                <td rowspan="6" class="border-right">like</td>
                <td>I</td>
                <td rowspan="6" class="border-right">would like</td>
                <td>I</td>
                <td rowspan="6" class="border-right">would not like</td>
                <td rowspan="6" class="vertical-upright font-size17px">Будущее</td>
            </tr>
            <tr>
                <td>you</td>
                <td>you</td>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
                <td>we</td>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
                <td>they</td>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
                <td>he</td>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
                <td>she</td>
                <td>she</td>
            </tr>
        </table>
    </div>
    <br />
    <h2>
        Предлоги In и At.
    </h2>
    <br />
    <p>
        Важные предлоги указывающие наше нахождение где-либо.
    </p>
    <br />
    <p>
        <span class="bold">In - (в)</span> нахождение в месте с очевидными границами, стенами.
    </p>
    <ul>
        <li>I am in the room.<span class="grey"> - Я в комнате.</span></li>
    </ul>
    <br />
    <p>
        <span class="bold">At - (в, на)</span> нахождение на мероприятии.
    </p>
    <br />
    <ul>
        <li>He is at the conference.<span class="grey"> - Он на конференции.</span></li>
    </ul>
    <br />
    <p>
        <span class="bold">Устойчивые выражения</span> (неменяющаяся четверка).
    </p>
    <br />
    <ul>
        <li>At home<span class="grey"> - дома отдыхаю</span></li>
        <li>At work<span class="grey"> - на работе, работаю</span></li>
        <li>At school<span class="grey"> - на учебе, учусь</span></li>
        <li>In bed<span class="grey"> - в постели, сплю.</span></li>
    </ul>
    <br />
    <p>
        Данные выражения используются без определенного артикля the.
    </p>
    <br />
    <p>
        Пример:
    </p>
    <br />
    <ul>
        <li>I am at home.<span class="grey"> - Я дома.</span></li>
    </ul>
    <br />
    <p class="flex-center">
        Обобщенная таблица
    </p>
    <div class="lesson3-help-table2">
        <div class="flex-center">
            <table>
                <tr class="border-bottom">
                    <td colspan="2" class="border-right">
                        <span class="bold">In</span> - в
                    </td>
                    <td colspan="2" class="border-right">
                        <span class="bold">At</span> - в, на
                    </td>
                    <td>
                        <span class="bold">Неменяющаяся четверка</span>
                    </td>
                </tr>
                <tr>
                    <td rowspan="3">
                        In the
                    </td>
                    <td>
                        house
                    </td>
                    <td rowspan="6" class="border-left">
                        At the
                    </td>
                    <td rowspan="6" class="border-right">
                        concert
                        <br />
                        conference
                        <br />
                        restaurant
                        <br />
                        hotel
                        <br />
                        meeting
                    </td>
                    <td rowspan="6">
                        At home
                        <br />
                        At work
                        <br />
                        At school
                        <br />
                        In bed
                    </td>
                </tr>
                <tr>
                    <td>
                        office
                    </td>
                </tr>
                <tr>
                    <td>
                        room
                    </td>
                </tr>
                <tr>
                    <td rowspan="3">
                        In
                    </td>
                    <td>
                        Moscow
                    </td>
                </tr>
                <tr>
                    <td>
                        London
                    </td>
                </tr>
                <tr>
                    <td>
                        France
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>