<div class="lesson-info">
    <h1>
        Урок 4
    </h1>
    <br />
    <h2>
        Притяжательные местоимения
    </h2>
    <br />
    <p>
        Это местоимения, отвечающие на вопрос <span class="bold">чей? чьё?</span>
    </p>
    <br />
    <partial name="../../Shared/HintTables/_hintTable4.cshtml" />
    <br />
    <p>
        Например:
    </p>
    <br />
    <ul>
        <li>It is my book.<span class="grey"> - Это моя книга.</span></li>
        <li>He is her son.<span class="grey"> - Он её сын.</span></li>
        <li>I love my wife.<span class="grey"> - Я люблю мою жену.</span></li>
    </ul>
    <br />
    <h2>
        Советы:
    </h2>
    <br />
    <ul>
        <li>
            <p>
                Чтобы стереть неправильно выбранное слово, нажмите левую кнопку мыши в области имеющей фарфоровый цвет (такой же как фон этой страницы).
            </p>
        </li>
        <li>
            <p>
                Чтобы посмотреть подсказку, нажмите на пункт "Подсказка" в меню.
            </p>
        </li>
        <li>
            <p>
                Чтобы открыть следующий урок, наберите 100 баллов.
            </p>
        </li>
    </ul>
    <br />
    <p class="italic">
        Если знаете, как улучшить программу, напишите нам.
    </p>
</div>