<div class="lesson-info">
    <h1>
        Perfect Passive
    </h1>
    <br />
    <h2>
        Страдательный залог совершенного времени
    </h2>
    <br />
    <p>
        Обозначает уже завершенное действие, которое испытывало на себе подлежащее. Т.е. предмет (подлежащее) не сам выполнял действие, а испытывал на себе действие другого предмета.
    </p>
    <br />
    <p>
        Образуется при помощи глагола <span class="bold">to have</span> в соответствующей форме <span class="bold">+ been + третья форма</span> глагола.
    </p>
    <br />
    <ul class="italic">
        <li>
            The message <span class="bold">has been written</span> by my brother.
            <br />
            <span class="grey">Сообщение <span class="bold">уже написано</span> моим братом.</span>
        </li>
    </ul>
    <br />
    <p>
        На русский язык pasive voice может переводиться следующими способами:
    </p>
    <ul class="decimal">
        <li>
            глаголом совершенного вида с окончанием <span class="bold">-ся, -сь</span> <span class="grey">(строится, строилось)</span>
        </li>
        <li>
            глаголом быть + причастие пассивного залога <span class="grey">(было построено)</span>
        </li>
        <li>
            глаголом совершенного вида 3-го лица множественного числа <span class="grey">(построили)</span>
        </li>
    </ul>
    <br />
    <p>
        Например:
    </p>
    <br />
    <ul class="italic">
        <li>
            My house <span class="bold">had been built</span> by last year.
            <br />
            <span class="grey">
                Мой дом <span class="bold">уже построился</span> к прошлому году.
                Мой дом <span class="bold">уже был построен</span> к прошлому году.
                Мой дом <span class="bold">уже построили</span> к прошлому году
            </span>
        </li>
    </ul>
    <br />
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>