<div class="lesson-info">
    <h1>
        Present Perfect Continuous
    </h1>
    <br />
    <h2>
        Настоящее совершенное продолженное время
    </h2>
    <br />
    <p>
        Указывает, что действие началось в недалеком прошлом и либо еще продолжается, либо закончилось только что.
    </p>
    <br />
    <p>
        Образуется при помощи <span class="bold">have(has) been</span> и глагола с окончанием <span class="bold">-ing</span>.
    </p>
    <br />
    <partial name="../../Shared/Hints/_hint20.cshtml" />
    <br />
    <ul class="italic">
        <li>
            I <span class="bold">have been living</span> here for three years.
            <br />
            <span class="grey">Я <span class="bold">живу</span> здесь (уже) три года.</span>
        </li>
        <li>
            She <span class="bold">has been living</span> here for three years.
            <br />
            <span class="grey">Она <span class="bold">живёт</span> здесь (уже) три года.</span>
        </li>
    </ul>
    <br />
    <p>
        Основное отличие от Present Perfect (Simple) в том, что Present Perfect сосредоточен на результате, а Present Perfect Continuous на длительности действия.
    </p>
    <br />
    <h2>
        Употребляется
    </h2>
    <br />
    <p>
        1. Для выражения действия, которое началось в прошлом и продолжается до сих пор.
    </p>
    <br />
    <p>
        Переводится глаголом несовершенно вида в настоящем времени.
    </p>
    <br />
    <ul class="italic">
        <li>
            I <span class="bold">have been reading</span> the book since you gave me this one.
            <br />
            <span class="grey">Я <span class="bold">читаю</span> эту книгу с тех пор как ты дал мне её</span>
        </li>
    </ul>
    <br />
    <p>
        2. Для выражения действия, которое началось в прошлом и закончилось только что.
    </p>
    <br />
    <p>
        Переводится глаголом несовершенно вида в прошедшем времени.
    </p>
    <br />
    <ul class="italic">
        <li>
            I <span class="bold">have been trying</span> to find the hotel all day.
            <br />
            <span class="bold">Я <span class="bold">пытался</span> найти эту гостиницу весь день.</span>
        </li>
    </ul>
    <br />
    <h2>
        Отрицание
    </h2>
    <br />
    <p>
        Образуется путем добавления <span class="bold">после</span> <span class="bold">have(has)</span> отрицательной частицы <span class="bold">not</span>.
    </p>
    <br />
    <ul>
        <li>
            It <span class="bold">has not been snowing</span> here since 2003.
            <br />
            <span class="grey">Снега не было здесь с 2003 года.</span>
        </li>
    </ul>
    <br />
    <h2>
        Вопрос
    </h2>
    <br />
    <p>
        Образуется вынесением have(has) перед подлежащим.
    </p>
    <br />
    <ul class="italic">
        <li>
            <span class="bold">Has</span> he <span class="bold">been living</span> in Moscow for five years?
            <br />
            <span class="grey">Он <span class="bold">живет</span> в Москве пять лет?</span>
        </li>
    </ul>
    <br />
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>