<div class="lesson-info">
    <h1>
        Past Perfect Continuous
    </h1>
    <br />
    <h2>
        Прошедшее совершенное продолженное время
    </h2>
    <br />
    <p>
        Указывает, что действие началось в прошлом и либо закончилось к определенному моменту в прошлом, либо ещё продолжалось в определенный момент в прошлом.
    </p>
    <br />
    <p>
        Образуется при помощи <span class="bold">had been</span> и глагола с окончанием <span class="bold">-ing</span>.
    </p>
    <br />
    <partial name="../../Shared/Hints/_hint21.cshtml" />
    <br />
    <ul class="italic">
        <li>
            She <span class="bold">had been sleeping</span> for three hours when we returned.
            <span class="bold">Она <span class="bold">спала</span> уже три часа, когда мы вернулись.</span>
        </li>
    </ul>
    <br />
    <p>
        Основное отличие от Past Perfect (Simple) в том, что Past Perfect сосредоточен на результате, а Past Perfect Continuous на длительности действия.
    </p>
    <br />
    <h2>
        Употребляется
    </h2>
    <p>
        1. Для выражения действия, которое началось и все ещё продолжалось к определенному моменту в прошлом.
    </p>
    <br />
    <p>
        Переводится глаголом несовершенно вида в прошедшем времени времени.
    </p>
    <br />
    <ul class="italic">
        <li>
            I <span class="bold">had been reading</span> this book since 3 o'clock when he came.
            <span class="grey">Я <span class="bold">читал</span> эту книгу с 3 часов, когда он пришел.</span>
        </li>
    </ul>
    <br />
    <p>
        2. Для выражения действия, которое началось в прошлом и закончилось к определенному моменту в прошлом.
    </p>
    <br />
    <p>
        Переводится глаголом несовершенно вида в прошедшем времени.
    </p>
    <br />
    <ul class="italic">
        <li>
            He <span class="bold">had been smoking</span> for 30 years when he finally gave it up.
            <br />
            <span class="grey">Он <span class="bold">курил</span> 30 лет перед тем, как окончательно бросил.</span>
        </li>
    </ul>
    <br />
    <p>
        Отрицание
    </p>
    <br />
    <p>
        Образуется путем добавления <span class="bold">после had</span> отрицательной частицы <span class="bold">not</span>.
    </p>
    <br />
    <p>
        Hе <span class="bold">had not been working</span> here since 2001.
        <br />
        <span class="grey">Он <span class="bold">не работал</span> здесь с 2001 года.</span>
    </p>
    <br />
    <p>
        Вопрос
    </p>
    <br />
    <p>
        Образуется вынесением had перед подлежащим.
    </p>
    <br />
    <ul class="italic">
        <li>
            <span class="bold">Had you been waiting</span> there for more than two hours when she finally arrived?
            <br />
            <span class="grey">Ты <span class="bold">ждал</span> там больше двух часов, пока она, наконец, не пришла?</span>
        </li>
    </ul>
    <br />
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>