<div class="lesson-info">
    <h1>
        Урок 9
    </h1>
    <br />
    <h2>
        There is / There are
    </h2>
    <br />
    <p>
        Обороты <span class="bold">there is / there are</span> (или в более общем случае <span class="bold">there + to be в соответствующем времени)</span> используются, когда мы хотим подчеркнуть наличие (или отсутствие) чего-либо в каком-то конкретном месте.
    </p>
    <br />
    <p>
        Чтобы было понятнее, зачем эти обороты нужны, рассмотрим два выражения:
    </p>
    <br />
    <ul>
        <li>Книга на столе</li>
        <li>На столе книга</li>
    </ul>
    <br />
    <p>
        Хорошенько подумайте над этими выражениями. Постарайтесь почувствовать разницу.
    </p>
    <br />
    <p>
        В первом случае <span class="bold">книга на столе</span> мы подразумеваем что книга (уже известная нам, возможно, нас о ней спросили) находится именно на столе.
    </p>
    <br />
    <p>
        Во втором случае <span class="bold">на столе (есть) книга</span> мы подчеркиваем, что на столе есть именно книга. Не какая-то определенная книга, а вообще книга, как представитель класса. (Возможно, нас спросили: А что там на столе такое?)
    </p>
    <br />
    <p>
        Вот именно в этом случае <span class="bold">на столе (есть) книга</span> и используется выражение <span class="bold">there is</span>:
    </p>
    <br />
    <ul>
        <li>
            <span class="bold">There is</span> a book on the table.
            <br />
            <span class="grey">На столе (есть) книга.</span>
        </li>
    </ul>
    <br />
    <p>
        Обратите внимание на артикли!
    </p>
    <br />
    <p>
        Предмет, о котором мы говорим, т.е. книга, это не какая-то конкретная книга (например «Война и мир»), а просто <span class="bold">любая</span> книга. Поэтому перед ней ставится неопределенный артикль <span class="bold">a</span>.
    </p>
    <br />
    <p>
        Место, в котором предмет находится, это вполне <span class="bold">определенное</span> место. Т.е. книга эта лежит не на любом столе, а вот на данном <span class="bold">конкретном</span> столе. Поэтому перед столом ставится определенный артикль <span class="bold">the</span>.
    </p>
    <br />
    <h2>
        Настоящее время
    </h2>
    <br />
    <p>
        Если мы говорим об <span class="bold">одном предмете</span>, мы употребляем выражение <span class="bold">there is</span>:
    </p>
    <br />
    <ul>
        <li>
            <span class="bold">There is</span> a ball under the chair.
            <br />
            <span class="grey">Под стулом (есть, находится, лежит) мяч.</span>
        </li>
    </ul>
    <br />
    <p>
        Если мы говорим о нескольких предметах, мы употребляем выражение there are:
    </p>
    <ul>
        <li>
            <span class="bold">There are</span> balls under the table.
            <br />
            <span class="grey">Под столом (есть, находятся, лежат) мячи.</span>
        </li>
    </ul>
    <br />
    <p>
        При этом неопределенный артикль <span class="bold">a</span> перед предметами, о которых говорят, <span class="bold">не употребляется!</span> Т.к. перед существительными во множественном числе неопределенный артикль не ставится.
    </p>
    <br />
    <p>
        Если мы хотим подчеркнуть наличие / отсутствие какого-либо предмета в данном месте в <span class="bold">прошлом или будущем</span>, надо просто поставить после <span class="bold">there</span> глагол <span class="bold">to be</span> в соответствующем времени. Смотри <span class="bold">Урок 3</span>
    </p>
    <br />
    <h2>
        Прошедшее время
    </h2>
    <br />
    <p>
        Если мы говорим об <span class="bold">одном</span> предмете, мы употребляем выражение <span class="bold">there was</span>:
    </p>
    <br />
    <ul>
        <li>
            <span class="bold">There was</span> a ball under the chair.
            <br />
            <span class="bold">Под стулом был (находился, лежал) мяч.</span>
        </li>
    </ul>
    <br />
    <p>
        Если мы говорим о <span class="bold">нескольких</span> предметах, мы употребляем выражение <span class="bold">there were</span>:
    </p>
    <ul>
        <li>
            <span class="bold">There were</span> balls under the table.
            <br />
            <span class="grey">Под столом были (находились, лежали) мячи.</span>
        </li>
    </ul>
    <br />
    <h2>
        Будущее время
    </h2>
    <br />
    <p>
        В будущем времени не зависимо от того об одном или нескольких предметах мы говорим, используется <span class="bold">there will be</span>:
    </p>
    <br />
    <ul>
        <li>
            <span class="bold">There will</span> be a ball under the chair.
            <br />
            <span class="grey">Под стулом будет (находиться, лежать) мяч.</span>
        </li>
        <li>
            <span class="bold">There will be</span> balls under the table.
            <br />
            <span class="grey">Под столом будут (находиться, лежать) мячи.</span>
        </li>
    </ul>
    <br />
    <h2>
        Отрицательные предложения
    </h2>
    <br />
    <p>
        Тут все просто, после глагола <span class="bold">to be</span> добавляем частицу <span class="bold">not</span>, тем самым подчеркивая отсутствие предмета в определенном месте. Смотри <span class="bold">Урок 3</span>.
    </p>
    <br />
    <ul>
        <li>
            <span class="bold">There is not (isn’t)</span> a ball under the chair.
            <br />
            <span class="grey">Под стулом нет мяча.</span>
        </li>
        <li>
            <span class="bold">There were not (weren’t)</span> balls under the table.
            <br />
            <span class="grey">Под столом не было мячей.</span>
        </li>
        <li>
            <span class="bold">There will not be (won’t be)</span> a ball under the chair.
            <br />
            <span class="grey">Под стулом не будет мяча.</span>
        </li>
    </ul>
    <br />
    <h2>
        Вопросительные предложения
    </h2>
    <br />
    <p>
        Когда мы хотим поинтересоваться о наличии какого-то предмета в конкретном месте, надо просто поменять местами <span class="bold">there</span> с глаголом <span class="bold">to be</span>.
    </p>
    <br />
    <ul>
        <li>
            <span class="bold">Is there</span> a ball under the chair?
            <br />
            <span class="grey">Под стулом есть мяч?</span>
        </li>
        <li>
            <span class="bold">Were there</span> balls under the table?
            <br />
            <span class="grey">Под столом были мячи?</span>
        </li>
        <li>
            <span class="bold">Will there</span> be a ball under the chair?
            <br />
            <span class="grey">Под стулом будет мяч?</span>
        </li>
    </ul>
    <br />
    <h2>
        Зачем нам это знать?
    </h2>
    <br />
    <p>
        Теперь самое главное. Зачем нам вообще нужны эти выражения?
    </p>
    <br />
    <p>
        Во-первых, чтобы точнее выражать свои мысли или, наоборот, лучше понимать о чем идет речь. Вспомните «книга на столе» и «на столе книга».
    </p>
    <br />
    <p>
        Во-вторых, данные выражения позволяют в указанных случаях не переводить на английский такие глаголы как "стоит", "лежит", "висит", "находится", "существует" и т.д.
    </p>
    <br />
    <h2>
        Предлоги
    </h2>
    <br />
    <p>
        В данном уроке употребляются следующие предлоги:
    </p>
    <br />
    <p>
        <span class="bold">on - на</span> обозначает <span class="bold">на поверхности</span>, слова с этим предлогом чаще всего отвечают на вопрос <span class="bold">где?</span>
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bold">on</span> the table - <span class="grey"><span class="bold">на</span> столе</span>
    </p>
    <p>
        <span class="bold">in - в</span> обозначает <span class="bold">внутри</span>, слова с этим предлогом отвечают на вопрос <span class="bold">где?</span>
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bold">in</span> the room - <span class="grey"><span class="bold">в</span> комнате</span>
    </p>
    <p class="bold">
        under - под
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bold">under</span> the table - <span class="grey"><span class="bold">под</span> столом</span>
    </p>
    <p class="bold">
        near - возле / рядом / около
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bold">near</span> the house - <span class="grey"><span class="bold">около</span> дома</span>
    </p>
    <p class="bold">
        behind – за / позади
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bold">behind</span> the sofa - <span class="grey"><span class="bold">за</span> диваном</span>
    </p>
    <p class="bold">
        for – для
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bold">for</span> me - <span class="grey"><span class="bold">для</span> меня</span>
    </p>
    <br />
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>