<div class="lesson-info">
    <h1>
        Урок 5
    </h1>
    <br />
    <h2>
        Профессии
    </h2>
    <br />
    <p>
        В этом уроке мы отработаем основные фразы, связанные с профессиями.
    </p>
    <br />
    <p>
        Эти фразы будут отвечать на следующие вопросы:
    </p>
    <br />
    <ul class="decimal">
        <li>На кого ты учишься?</li>
        <li>Где и кем ты работаешь?</li>
        <li>Кто ты по специальности?</li>
    </ul>
    <br />
    <p>
        В уроке употребляются следующие слова:
    </p>
    <br />
    <ul>
        <li>accountant<span class="grey"> - бухгалтер</span></li>
        <li>actor<span class="grey"> - актёр</span></li>
        <li>artist<span class="grey"> - художник</span></li>
        <li>company<span class="grey"> - компания</span></li>
        <li>consultant<span class="grey"> - консультант</span></li>
        <li>dentist<span class="grey"> - дантист</span></li>
        <li>designer<span class="grey"> - дизайнер</span></li>
        <li>doctor<span class="grey"> - врач</span></li>
        <li>driver<span class="grey"> - водитель</span></li>
        <li>engineer<span class="grey"> - инженер</span></li>
        <li>guide<span class="grey"> - гид</span></li>
        <li>historian<span class="grey"> - историк</span></li>
        <li>hospital<span class="grey"> - больница</span></li>
        <li>hotel<span class="grey"> - гостиница</span></li>
        <li>interpreter<span class="grey"> - переводчик</span></li>
        <li>magazine<span class="grey"> - журнал</span></li>
        <li>manager<span class="grey"> - менеджер</span></li>
        <li>museum<span class="grey"> - музей</span></li>
        <li>musician<span class="grey"> - музыкант</span></li>
        <li>programmer<span class="grey"> - программист</span></li>
        <li>school<span class="grey"> - школа</span></li>
        <li>teacher<span class="grey"> - учитель</span></li>
        <li>theater<span class="grey"> - театр</span></li>
        <li>writer<span class="grey"> - писатель</span></li>
    </ul>
    <br />
    <h2>
        Артикли
    </h2>
    <br />
    <p>
        Неопределённый артикль <span class="bold">а</span> — это сокращённая форма от слова <span class="bold">one</span> - <span class="italic">один.</span> Используется когда речь идёт об одном из предметов, а не о конкретном предмете.
    </p>
    <br />
    <p>
        Определённый артикль <span class="bold">the</span> — это сокращённая форма от слова <span class="bold">this</span> - <span class="italic">этот</span> или по другой версии от слова <span class="bold">that</span> - <span class="italic">тот</span>, <span class="bold">these</span> - <span class="italic">эти</span>, <span class="bold">those</span> - <span class="italic">те</span>. Используется когда речь идёт о <span class="italic">конкретном</span> предмете или предметах, <span class="italic">конкретном</span> человеке или <span class="italic">конкретных</span> людях.
    </p>
    <br />
    <p class="italic">
        В пятом уроке используется только неопределенный артикль, потому что все фразы построены так, что указывают не на конкретную должность, а на профессию.
    </p>
    <br />
    <p>
        Поэтому рассмотрим правила употребления неопределенного артикля <span class="bold">а (an).</span>
    </p>
    <br />
    <h2>
        Неопределенный артикль
    </h2>
    <br />
    <ul class="decimal">
        <li>
            Употребляется в том случае, если мы называем предмет
            <ul>
                <li>I bought a car.<span class="grey"> - Я купил машину. (любой автомобиль, но не мотоцикл, автобус и т.п.)</span></li>
                <li>It is a cat.<span class="grey"> - Это – кот. (не собака и т.п.)</span></li>
                <li>She is a teacher.<span class="grey"> - Она учитель.</span></li>
            </ul>
        </li>
        <li>
            Обозначает число один
            <ul>
                <li>I will call you in an hour.<span class="grey"> - Я позвоню тебе через (один) час.</span></li>
                <li>He will live here a week.<span class="grey"> - Он проживет здесь (одну) неделю.</span></li>
            </ul>
        </li>
    </ul>
    <br />
    <p>
        Артикль <span class="bold">a</span> употребляется перед существительными, начинающимися с <span class="grey">согласного</span> звука. Артикль <span class="grey">an</span> употребляется перед существительными, начинающимися с <span class="bold">гласного</span> звука.
    </p>
    <br />
    <ul>
        <li>I bought a bike.</li>
        <li>I want an orange.</li>
    </ul>
    <br />
    <p>
        <span class="bold">Внимание!</span> Артикли не употребляется, если вы говорите:
    </p>
    <br />
    <ul>
        <li>My/his/her car</li>
        <li>This/that car</li>
        <li>1/2/3 cars</li>
        <li>Some/any/no cars</li>
    </ul>
    <br />
    <p>
        <span class="bold">Во множественном числе</span> неопределенный артикль <span class="bold">не употребляется,</span> так как его исходное значение <span class="bold">один (one)</span>
        Не путать с определенным артиклем the. Определённый артикль может использоваться c существительными во множественном числе.
    </p>
    <br />
    <h2>
        На кого ты учишься?
    </h2>
    <br />
    <p>
        Ответить на данный вопрос можно так: <span class="grey">Я учусь на врача.</span>
    </p>
    <br />
    <p>
        По другому это будет звучать: <span class="grey">Я учусь быть доктором.</span>
    </p>
    <br />
    <p>
        Не совсем по-русски, зато дословно переводится на английский:
    </p>
    <br />
    <ul>
        <li>I study to be a doctor.<span class="grey"> - Я учусь на врача.</span></li>
    </ul>
    <br />
    <p>
        Обратите внимание на неопределенный артикль <span class="bold">a</span> стоящий перед словом <span class="bold">doctor</span>. Он используется, т.к. "быть доктором" означает "быть одним из тех, кто является доктором".
    </p>
    <br />
    <ul>
        <li>They will study <span class="bold">to be</span> doctors<span class="grey"> - Они будут учиться на врачей.</span></li>
    </ul>
    <br />
    <p>
        В этой фразе неопределенный артикль отсутствует, т.к. он не употребляется во множественом числе.
    </p>
    <br />
    <h2>
        Где и кем ты работаешь?
    </h2>
    <br />
    <p>
        Ответить на данный вопрос можно так: <span class="grey">Я работаю в больнице врачом.</span>
    </p>
    <br />
    <p>
        Перефразируем это так, чтобы можно было дословно сказать на английском:
    </p>
    <br />
    <ul>
        <li>I work in a hospital <span class="bold">as</span> a doctor.<span class="grey"> - Я работаю в больнице <span class="bold">как</span> доктор (в качестве доктора).</span></li>
    </ul>
    <br />
    <p>
        Обратите внимание на два неопределенных артикля. Первый артикль говорит, что я работаю в <span class="bold">одной из</span> больниц (собеседнику не известно в какой).
    </p>
    <br />
    <p>
        Второй артикль опять говорит, что я являюсь представителем профессии, т.е. <span class="bold">одним из</span> докторов.
    </p>
    <br />
    <h2>
        Кто ты по специальности?
    </h2>
    <br />
    <p>
        Ответить на данный вопрос можно так: <span class="grey">Я врач.</span>
    </p>
    <br />
    <p>
        Перефразируем это так, чтобы можно было дословно сказать на английском:
    </p>
    <br />
    <ul>
        <li>I <span class="bold">am</span> a doctor.<span class="grey"> - Я <span class="bold">есть</span> доктор.</span></li>
    </ul>
    <br />
    <p>
        Здесь опять используется неопределенный артикль.
    </p>
    <br />
    <h2>
        Приветствие
    </h2>
    <br />
    <ul>
        <li>Hello; Hi<span class="grey"> – Привет</span></li>
        <li>Good morning<span class="grey"> – Доброе утро (до 12:00)</span></li>
        <li>Good afternoon<span class="grey"> – Добрый день (после 12:00)</span></li>
        <li>Good evening<span class="grey"> – Добрый вечер (~ после 18:00)</span></li>
        <li>Good night<span class="grey"> – Доброй ночи</span></li>
    </ul>
    <br />
    <h2>
        Прощание
    </h2>
    <br />
    <ul>
        <li>Bye; goodbye<span class="grey"> – До свидания</span></li>
        <li>See you<span class="grey"> – Увидимся; пока</span></li>
        <li>Farewell<span class="grey"> – Прощайте</span></li>
    </ul>
    <br />
    <h2>
        Этикет
    </h2>
    <br />
    <ul>
        <li>Thank you; thanks – Спасибо</li>
        <li>Please – Пожалуйста (просьба)</li>
        <li>Welcome – Пожалуйста (ответ на спасибо)</li>
        <li>Welcome – Добро пожаловать</li>
        <li>Nice to meet you – Приятно познакомиться</li>
        <li>Good night – Доброй ночи</li>
        <li>I apologize for – Я приношу извинения за</li>
        <li>I regret – Я сожалею</li>
        <li>I am sorry – Я извиняюсь; мне жаль</li>
        <li>Excuse me – Извините; виноват</li>
        <li>Forgive me – Простите</li>
    </ul>
    <br />
    <h2>
        Советы:
    </h2>
    <br />
    <ul>
        <li>
            <p>
                Чтобы стереть неправильно выбранное слово, нажмите левую кнопку мыши в области имеющей фарфоровый цвет (такой же как фон этой страницы).
            </p>
        </li>
        <li>
            <p>
                Чтобы посмотреть подсказку, нажмите на пункт "Подсказка" в меню.
            </p>
        </li>
        <li>
            <p>
                Чтобы открыть следующий урок, наберите 100 баллов.
            </p>
        </li>
    </ul>
    <br />
    <p class="italic">
        Если знаете, как улучшить программу, напишите нам.
    </p>
</div>