<div class="lesson-info">
    <h1>
        Simple (Indefinite) Passive
    </h1>
    <br />
    <h2>
        Страдательный залог простого (неопределенного) времени
    </h2>
    <br />
    <p>
        Обозначает действие, которое испытывает на себе подлежащее. Т.е. предмет (подлежащее) не сам выполняет действие, а испытывает на себе действие другого предмета.
    </p>
    <br />
    <p>
        Образуется при помощи глагола <span class="bold">to be</span> в соответствующей форме <span class="bold">+ третья форма</span> глагола.
    </p>
    <br />
    <ul class="italic">
        <li>
            The message <span class="bold">is written</span> by my brother.
            <br />
            <span class="grey">
                Сообщение написано моим братом.
                <br />
                (т.е. сообщение не само написалось, а его написал брат)
            </span>
        </li>
    </ul>
    <br />
    <p>
        На русский язык pasive voice может переводиться следующими способами:
    </p>
    <br />
    <ul class="decimal">
        <li>
            глаголом с окончанием -ся, -сь <span class="grey">(строится, строилось)</span>
        </li>
        <li>
            глаголом быть + причастие пассивного залога <span class="grey">(было построено)</span>
        </li>
        <li>
            глаголом 3-го лица множественного числа <span class="grey">(построили)</span>
        </li>
    </ul>
    <br />
    <p>
        Например:
    </p>
    <br />
    <ul class="italic">
        <li>
            The office <span class="bold">was cleaned</span> yesterday.
            <br />
            <span class="grey">
                Офис <span class="bold">убирался</span> вчера.
                <br />
                Офис <span class="bold">был убран</span> вчера.
                <br />
                Офис <span class="bold">убирали</span> вчера.
            </span>
        </li>
    </ul>
    <br />
    <h2>
        Употребляется
    </h2>
    <br />
    <p>
        1. Когда неизвестно или, наоборот, и так очевидно, кто выполняет действие.
    </p>
    <br />
    <ul>
        <li>
            My house <span class="bold">was burgled</span> last year.
            <br />
            <span class="grey">Мой дом <span class="bold">обокрали</span> в прошлом году.</span>
        </li>
    </ul>
    <br />
    <p>
        2. Когда действие более важно, чем то, кто его выполняет.
    </p>
    <br />
    <ul class="italic">
        <li>
            The window <span class="bold">was broken</span> yesterday.
            <br />
            <span class="grey">Окно <span class="bold">было разбито</span> вчера.</span>
        </li>
    </ul>
    <br />
    <h2>
        Предлоги by и with
    </h2>
    <br />
    <p>
        Предлог <span class="bold">by</span> ставится перед существительным, выполняющим действие.
    </p>
    <br />
    <ul>
        <li>
            Hе <span class="bold">is followed</span> by the police.
            <br />
            <span class="grey">Его <span class="bold">преследует</span> полиция.</span>
        </li>
    </ul>
    <br />
    <p>
        Предлог <span class="bold">with</span> ставится перед существительным, которое является орудием действия.
    </p>
    <br />
    <ul class="italic">
        <li>
            The letter <span class="bold">is written</span> with a pen.
            <br />
            <span class="grey">Письмо <span class="bold">написано</span> ручкой.</span>
        </li>
    </ul>
    <br />
    <h2>
        Местоимение it
    </h2>
    <br />
    <p>
        Местоимение <span class="bold">it</span> со страдательным залогои переводится неопределенно-личными оборотами:
    </p>
    <br />
    <ul class="italic">
        <li>
            It is said...
            <br />
            <span class="grey">Говорят...</span>
        </li>
        <li>
            It is known...
            <br />
            <span class="grey">Известно...</span>
        </li>
        <li>
            It is thought...
            <br />
            <span class="grey">Полагают...</span>
        </li>
        <li>
            It is reported...
            <br />
            <span class="grey">Сообщают...</span>
        </li>
    </ul>
    <br />
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>