<div class="lesson-info">
    <h1>
        Present Participle Simple
    </h1>
    <br />
    <h2>
        Причастие настоящего времени
    </h2>
    <br />
    <p>
        Обозначает действие, проистекающее одновременно с действием, выраженным сказуемым.
    </p>
    <br />
    <p>
        Образуется при помощи глагола с окончанием <span class="bold">-ing</span>.
    </p>
    <br />
    <ul class="italic">
        <li>
            <span class="bold">Сlosing</span> the window, she noticed a letter.
            <br />
            <span class="grey"><span class="bold">Закрывая</span> окно, она заметила письмо.</span>
        </li>
    </ul>
    <br />
    <h2>
        Употребляется
    </h2>
    <br />
    <p>
        1. Для выражения одновременности с действием глагола-сказуемого.
    </p>
    <br />
    <p>
        Переводится либо деепричастным оборотом (что делая?) либо придаточным предложением, начинающимся со слова "когда".
    </p>
    <br />
    <ul class="italic">
        <li>
            <span class="bold">Buying</span> a car you need to get the insurance.
            <br />
            <span class="grey"><span class="bold">Покупая</span> машину вам нужно получить страховку.</span>
            <br />
            <span class="grey"><span class="bold">Когда вы покупаете</span> машину, вам нужно получить страховку.</span>
        </li>
    </ul>
    <br />
    <p>
        2. Для обозначения действия, относящегося к <span class="bold">настоящему моменту</span> независимо от времени глагола-сказуемого.
    </p>
    <br />
    <p>
        Переводится причастием (какой?) либо придаточным предложением, начинающимся со слова "который".
    </p>
    <br />
    <ul class="italic">
        <li>
            The woman <span class="bold">waiting</span> in the car called you the day before yesterday.
            <br />
            <span class="grey">Женщина, <span class="bold">ждущая</span> в машине, звонила вам позавчера.</span>
            <br />
            <span class="grey">Женщина, <span class="bold">которая ждет</span> в машине, звонила вам позавчера.</span>
        </li>
    </ul>
    <br />
    <h1>
        Past Participle
    </h1>
    <br />
    <h2>
        Причастие прошедшего времени
    </h2>
    <br />
    <p>
        Обозначает законченное действие, выполненное над объектом.
    </p>
    <br />
    <p>
        Образуется при помощи третьей формы глагола.
    </p>
    <br />
    <ul class="italic">
        <li>
            The <span class="bold">opened</span> book is mine.
            <br />
            <span class="grey"><span class="bold">Раскрытая</span> книга - моя.</span>
        </li>
    </ul>
    <br />
    <h2>
        Употребляется
    </h2>
    <br />
    <p>
        Для обозначения действия которое <span class="bold">испытывает на себе</span> лицо или предмет.
    </p>
    <br />
    <p>
        Соответствует в русском языке причастию страдательного залога (какой?).
    </p>
    <br />
    <ul class="italic">
        <li>
            He returned the phone <span class="bold">found</span> in the street.
            <br />
            <span class="grey">Он вернул телефон (какой?) <span class="bold">найденный</span> на улице.</span>
        </li>
        <li>
            The <span class="bold">excited</span> crowd cried loudly.
            <br />
            <span class="grey">(какая?) <span class="bold">Возбужденная</span> толпа громко кричала.</span>
        </li>
    </ul>
    <br />
    <h1>
        Present Participle Perfect
    </h1>
    <br />
    <h2>
        Совершенное причастие
    </h2>
    <br />
    <p>
        Обозначает действие, <span class="bold">предшествующее</span> действию, выраженному сказуемым.
    </p>
    <br />
    <p>
        Образуется при помощи <span class="bold">having</span> и третьей формы глагола.
    </p>
    <br />
    <ul class="italic">
        <li>
            <span class="bold">Having come</span> late he missed the bus.
            <br />
            <span class="grey"><span class="bold">Придя</span> поздно он пропустил автобус.</span>
        </li>
    </ul>
    <br />
    <h2>
        Употребляется
    </h2>
    <br />
    <p>
        1. Для выражения <span class="bold">обстоятельства причины</span>.
    </p>
    <br />
    <p>
        Переводится деепричастием совершенного вида (что сделав?).
    </p>
    <br />
    <ul class="italic">
        <li>
            <span class="bold">Having eaten</span> the hamburger she felt sick.
            <br />
            <span class="grey">
                <span class="bold">Съев</span> гамбургер она почувствовала себя плохо.
                <br />
                ( = Так как съела гамбургер )
            </span>
        </li>
        <li>
            <span class="bold">Having lost</span> the key she couldn't get into her flat.
            <br />
            <span class="grey">
                <span class="bold">Потеряв</span> ключ она не могла попасть в свою квартиру.
                <br />
                ( = Так как потеряла ключ )
            </span>
        </li>
    </ul>
    <br />
    <p>
        2. Для выражения <span class="bold">обстоятельства времени</span>.
    </p>
    <br />
    <p>
        Переводится деепричастием совершенного вида (что сделав?).
    </p>
    <br />
    <ul class="italic">
        <li>
            <span class="bold">Having taken</span> a nap he continued his way.
            <br />
            <span class="grey">
                <span class="bold">Вздремнув</span> он продолжил свой путь.
                <br />
                ( = После того как вздремнул )
            </span>
        </li>
        <li>
            <span class="bold">Having said</span> goodbye he went out.
            <br />
            <span class="grey">
                <span class="bold">Попрощавшись</span> он вышел.
                <br />
                ( = После того как попрощался )
            </span>
        </li>
    </ul>
    <br />
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>