<div class="lesson-info">
    <h1>
        Урок 4
    </h1>
    <br />
    <h2>
        Притяжательные местоимения
    </h2>
    <br />
    <p>
        Это местоимения, отвечающие на вопрос <span class="bold">чей? чьё?</span>
    </p>
    <br />
    <partial name="../../Shared/Hints/_hint4.cshtml" />
    <br />
    <p>
        Например:
    </p>
    <br />
    <ul>
        <li>It is my book.<span class="grey"> - Это моя книга.</span></li>
        <li>He is her son.<span class="grey"> - Он её сын.</span></li>
        <li>I love my wife.<span class="grey"> - Я люблю мою жену.</span></li>
    </ul>
    <br />
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>