<div class="lesson-info">
    <h1>
        Perfect Continuous Tenses
    </h1>
    <br />
    <p>
        Образование Perfect Continuous Tenses представлено в таблице:
    </p>
    <br />
    <partial name="../../Shared/Hints/_hint23.cshtml" />
    <br />
        <h1>
        Future Perfect Continuous
    </h1>
    <br />
    <h2>
        Будущее совершенное продолженное время
    </h2>
    <br />
    <p>
        Указывает, что действие будет все ещё продолжаться в определенный момент в будущем или закончится непосредственно к этому моменту.
    </p>
    <br />
    <p>
        Образуется при помощи <span class="bold">will have been</span> и глагола с окончанием <span class="bold">-ing</span>.
    </p>
    <br />
    <ul class="italic">
        <li>
            By next year we <span class="bold">will have been living</span> in this town for 5 years.
            <br />
            <span class="grey">К будущему году мы <span class="bold">будем жить</span> в этом городе уже пять лет.</span>
        </li>
    </ul>
    <br />
    <p>
        В устной речи данное время почти не употребляется.
    </p>
    <br />
    <h2>
        Употребляется
    </h2>
    <br />
    <p>
        1. Для выражения действия, которое будет все еще продолжаться в определенный момент в будущем.
    </p>
    <br />
    <p>
        Переводится глаголом несовершенно вида в будущем времени.
    </p>
    <br />
    <ul class="italic">
        <li>
            Next year I <span class="bold">will have been working</span> as a translator for 20 years.
            <br />
            <span class="bold">В следующем году я <span class="bold">буду работать</span> переводчиком уже 20 лет.</span>
        </li>
    </ul>
    <br />
    <p>
        2. Для выражения действия, которое закончится непосредственно к опреденному моменту в будущем.
    </p>
    <br />
    <p>
        Переводится глаголом несовершенно вида в будущем времени.
    </p>
    <br />
    <ul class="italic">
        <li>
            You <span class="bold">will have been waiting</span> for more than two hours when her plane finally arrives.
            <br />
            <span class="grey">Ты <span class="bold">будешь ждать</span> свыше двух часов, прежде чем ее самолет, наконец, приземлится.</span>
        </li>
    </ul>
    <br />
    <h2>
        Отрицание
    </h2>
    <br />
    <p>
        Образуется путем добавления после <span class="bold">will отрицательной частицы not</span>.
    </p>
    <br />
    <ul class="italic">
        <li>
            You <span class="bold">will not have been waiting</span> for more than two hours when her plane finally arrives.
            <br />
            <span class="bold">Ты <span class="bold">не будешь ждать</span> свыше двух часов, прежде чем ее самолет, наконец, приземлится.</span>
        </li>
    </ul>
    <br />
    <h2>
        Вопрос
    </h2>
    <br />
    <p>
        Образуется <span class="bold">вынесением will перед подлежащим</span>.
    </p>
    <br />
    <ul class="italic">
        <li>
            <span class="bold">Will</span> you <span class="bold">have been waiting</span> for more than two hours when her plane finally arrives?
            <br />
            <span class="grey">Ты <span class="bold">будешь ждать</span> свыше двух часов, прежде чем ее самолет, наконец, приземлится?</span>
        </li>
    </ul>
    <br />
    <h1>
        Present Perfect Continuous
    </h1>
    <br />
    <h2>
        Настоящее совершенное продолженное время
    </h2>
    <br />
    <p>
        Указывает, что действие началось в недалеком прошлом и либо еще продолжается, либо закончилось только что.
    </p>
    <br />
    <p>
        Образуется при помощи <span class="bold">have(has) been</span> и глагола с окончанием <span class="bold">-ing</span>.
    </p>
    <br />
    <ul class="italic">
        <li>
            I <span class="bold">have been living</span> here for three years.
            <br />
            <span class="grey">Я <span class="bold">живу</span> здесь (уже) три года.</span>
        </li>
        <li>
            She <span class="bold">has been living</span> here for three years.
            <br />
            <span class="grey">Она <span class="bold">живёт</span> здесь (уже) три года.</span>
        </li>
    </ul>
    <br />
    <p>
        Основное отличие от Present Perfect (Simple) в том, что Present Perfect сосредоточен на результате, а Present Perfect Continuous на длительности действия.
    </p>
    <br />
    <h2>
        Употребляется
    </h2>
    <br />
    <p>
        1. Для выражения действия, которое началось в прошлом и продолжается до сих пор.
    </p>
    <br />
    <p>
        Переводится глаголом несовершенно вида в настоящем времени.
    </p>
    <br />
    <ul class="italic">
        <li>
            I <span class="bold">have been reading</span> the book since you gave me this one.
            <br />
            <span class="grey">Я <span class="bold">читаю</span> эту книгу с тех пор как ты дал мне её</span>
        </li>
    </ul>
    <br />
    <p>
        2. Для выражения действия, которое началось в прошлом и закончилось только что.
    </p>
    <br />
    <p>
        Переводится глаголом несовершенно вида в прошедшем времени.
    </p>
    <br />
    <ul class="italic">
        <li>
            I <span class="bold">have been trying</span> to find the hotel all day.
            <br />
            <span class="bold">Я <span class="bold">пытался</span> найти эту гостиницу весь день.</span>
        </li>
    </ul>
    <br />
    <h2>
        Отрицание
    </h2>
    <br />
    <p>
        Образуется путем добавления <span class="bold">после</span> <span class="bold">have(has)</span> отрицательной частицы <span class="bold">not</span>.
    </p>
    <br />
    <ul>
        <li>
            It <span class="bold">has not been snowing</span> here since 2003.
            <br />
            <span class="grey">Снега не было здесь с 2003 года.</span>
        </li>
    </ul>
    <br />
    <h2>
        Вопрос
    </h2>
    <br />
    <p>
        Образуется вынесением have(has) перед подлежащим.
    </p>
    <br />
    <ul class="italic">
        <li>
            <span class="bold">Has</span> he <span class="bold">been living</span> in Moscow for five years?
            <br />
            <span class="grey">Он <span class="bold">живет</span> в Москве пять лет?</span>
        </li>
    </ul>
    <br />
    <h1>
        Past Perfect Continuous
    </h1>
    <br />
    <h2>
        Прошедшее совершенное продолженное время
    </h2>
    <br />
    <p>
        Указывает, что действие началось в прошлом и либо закончилось к определенному моменту в прошлом, либо ещё продолжалось в определенный момент в прошлом.
    </p>
    <br />
    <p>
        Образуется при помощи <span class="bold">had been</span> и глагола с окончанием <span class="bold">-ing</span>.
    </p>
    <br />
    <partial name="../../Shared/Hints/_hint21.cshtml" />
    <br />
    <ul class="italic">
        <li>
            She <span class="bold">had been sleeping</span> for three hours when we returned.
            <span class="bold">Она <span class="bold">спала</span> уже три часа, когда мы вернулись.</span>
        </li>
    </ul>
    <br />
    <p>
        Основное отличие от Past Perfect (Simple) в том, что Past Perfect сосредоточен на результате, а Past Perfect Continuous на длительности действия.
    </p>
    <br />
    <h2>
        Употребляется
    </h2>
    <p>
        1. Для выражения действия, которое началось и все ещё продолжалось к определенному моменту в прошлом.
    </p>
    <br />
    <p>
        Переводится глаголом несовершенно вида в прошедшем времени времени.
    </p>
    <br />
    <ul class="italic">
        <li>
            I <span class="bold">had been reading</span> this book since 3 o'clock when he came.
            <span class="grey">Я <span class="bold">читал</span> эту книгу с 3 часов, когда он пришел.</span>
        </li>
    </ul>
    <br />
    <p>
        2. Для выражения действия, которое началось в прошлом и закончилось к определенному моменту в прошлом.
    </p>
    <br />
    <p>
        Переводится глаголом несовершенно вида в прошедшем времени.
    </p>
    <br />
    <ul class="italic">
        <li>
            He <span class="bold">had been smoking</span> for 30 years when he finally gave it up.
            <br />
            <span class="grey">Он <span class="bold">курил</span> 30 лет перед тем, как окончательно бросил.</span>
        </li>
    </ul>
    <br />
    <p>
        Отрицание
    </p>
    <br />
    <p>
        Образуется путем добавления <span class="bold">после had</span> отрицательной частицы <span class="bold">not</span>.
    </p>
    <br />
    <p>
        Hе <span class="bold">had not been working</span> here since 2001.
        <br />
        <span class="grey">Он <span class="bold">не работал</span> здесь с 2001 года.</span>
    </p>
    <br />
    <p>
        Вопрос
    </p>
    <br />
    <p>
        Образуется вынесением had перед подлежащим.
    </p>
    <br />
    <ul class="italic">
        <li>
            <span class="bold">Had you been waiting</span> there for more than two hours when she finally arrived?
            <br />
            <span class="grey">Ты <span class="bold">ждал</span> там больше двух часов, пока она, наконец, не пришла?</span>
        </li>
    </ul>
    <br />
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>