<div class="lesson-info">
    <h1>
        Урок 2
    </h1>
    <br />
    <p class="bold">
        Местоимения, отвечающие на вопрос <span class="underline">кого?</span> и <span class="underline">кому?</span>
    </p>
    <br />
    <p>
        Чтобы разнообразить наши предложения и сделать их немного сложнее, добавим местоимения в родительном (кого?) и дательном (кому?) падеже.
    </p>
    <br />
    <p>
        В английском языке эти местоимения выглядят совершенно одинаково:
    </p>
    <br />
    <div class="lesson2-help-table1 flex-center">
        <table>
            <tr>
                <th colspan="2">
                    Кто?
                </th>
                <th colspan="2">
                    Кого?
                </th>
                <th colspan="2">
                    Кому?
                </th>
            </tr>
            <tr>
                <td class="grey">
                    Я
                </td>
                <td class="italic">
                    I
                </td>
                <td class="grey">
                    Меня
                </td>
                <td class="italic">
                    Me
                </td>
                <td class="grey">
                    Мне
                </td>
                <td class="italic">
                    Me
                </td>
            </tr>
            <tr>
                <td class="grey">
                    Ты
                </td>
                <td class="italic">
                    You
                </td>
                <td class="grey">
                    Тебя
                </td>
                <td class="italic">
                    You
                </td>
                <td class="grey">
                    Тебе
                </td>
                <td class="italic">
                    You
                </td>
            </tr>
            <tr>
                <td class="grey">
                    Он
                </td>
                <td class="italic">
                    He
                </td>
                <td class="grey">
                    Его
                </td>
                <td class="italic">
                    Him
                </td>
                <td class="grey">
                    Ему
                </td>
                <td class="italic">
                    Him
                </td>
            </tr>
            <tr>
                <td class="grey">
                    Она
                </td>
                <td class="italic">
                    She
                </td>
                <td class="grey">
                    Её
                </td>
                <td class="italic">
                    Her
                </td>
                <td class="grey">
                    Ей
                </td>
                <td class="italic">
                    Her
                </td>
            </tr>
            <tr>
                <td class="grey">
                    Мы
                </td>
                <td class="italic">
                    We
                </td>
                <td class="grey">
                    Нас
                </td>
                <td class="italic">
                    Us
                </td>
                <td class="grey">
                    Нам
                </td>
                <td class="italic">
                    Us
                </td>
            </tr>
            <tr>
                <td class="grey">
                    Они
                </td>
                <td class="italic">
                    They
                </td>
                <td class="grey">
                    Их
                </td>
                <td class="italic">
                    Them
                </td>
                <td class="grey">
                    Им
                </td>
                <td class="italic">
                    Them
                </td>
            </tr>
        </table>
    </div>
    <br />
    <p>
        Предложения строятся так же как и на прошлом уроке, а в конце прибавляется нужное местоимение.
    </p>
    <br />
    <ul>
        <li>
            <p>
                I see you. <span class="grey">- Я вижу тебя.</span>
            </p>
        </li>
        <li>
            <p>
                She will help me. <span class="grey">- Она поможет мне.</span>
            </p>
        </li>
    </ul>
    <br />
    <h2>
        Вопросительные слова.
    </h2>
    <br />
    <p>
        Теперь мы научимся составлять предложения со специальными вопросительными словами.
    </p>
    <br />
    <p>
        Список вопросительных слов к уроку:
    </p>
    <br />
    <div class="lesson2-help-table2 flex-center">
        <table>
            <tr>
                <td>What?</td>
                <td>Что? Какой?</td>
            </tr>
            <tr>
                <td>Who?</td>
                <td>Кто?</td>
            </tr>
            <tr>
                <td>Where?</td>
                <td>Где? Куда?</td>
            </tr>
            <tr>
                <td>When?</td>
                <td>Когда?</td>
            </tr>
            <tr>
                <td>Why?</td>
                <td>Почему? Зачем?</td>
            </tr>
            <tr>
                <td>How?</td>
                <td>Как? Каким образом?</td>
            </tr>
        </table>
    </div>
    <br />
    <p>
        Предложения с вопросительными словами составляются по следующему алгоритму:
    </p>
    <br />
    <p>
        Сначала идет вопросительное слово, а затем предложение строится по уже известному нам правилу.
    </p>
    <br />
    <ul>
        <li>
            Where did you see her?<span class="grey"> - Где ты видел её?</span>
        </li>
        <li>
            How will they fly?<span class="grey"> - Как они полетят?</span>
        </li>
    </ul>
    <br />
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>