<div class="lesson-info">
    <h1>
        Present Participle Simple
    </h1>
    <br />
    <h2>
        Причастие настоящего времени
    </h2>
    <br />
    <p>
        Обозначает действие, проистекающее одновременно с действием, выраженным сказуемым.
    </p>
    <br />
    <p>
        Образуется при помощи глагола с окончанием <span class="bold">-ing</span>.
    </p>
    <br />
    <ul class="italic">
        <li>
            <span class="bold">Сlosing</span> the window, she noticed a letter.
            <br />
            <span class="grey"><span class="bold">Закрывая</span> окно, она заметила письмо.</span>
        </li>
    </ul>
    <br />
    <h2>
        Употребляется
    </h2>
    <br />
    <p>
        1. Для выражения одновременности с действием глагола-сказуемого.
    </p>
    <br />
    <p>
        Переводится либо деепричастным оборотом (что делая?) либо придаточным предложением, начинающимся со слова "когда".
    </p>
    <br />
    <ul class="italic">
        <li>
            <span class="bold">Buying</span> a car you need to get the insurance.
            <br />
            <span class="grey"><span class="bold">Покупая</span> машину вам нужно получить страховку.</span>
            <br />
            <span class="grey"><span class="bold">Когда вы покупаете</span> машину, вам нужно получить страховку.</span>
        </li>
    </ul>
    <br />
    <p>
        2. Для обозначения действия, относящегося к <span class="bold">настоящему моменту</span> независимо от времени глагола-сказуемого.
    </p>
    <br />
    <p>
        Переводится причастием (какой?) либо придаточным предложением, начинающимся со слова "который".
    </p>
    <br />
    <ul class="italic">
        <li>
            The woman <span class="bold">waiting</span> in the car called you the day before yesterday.
            <br />
            <span class="grey">Женщина, <span class="bold">ждущая</span> в машине, звонила вам позавчера.</span>
            <br />
            <span class="grey">Женщина, <span class="bold">которая ждет</span> в машине, звонила вам позавчера.</span>
        </li>
    </ul>
    <br />
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>