<div class="lesson-info">
    <h1>
        Урок 11
    </h1>
    <br />
    <h2>
        Модальные глаголы
    </h2>
    <br />
    <p>
        Модальные глаголы – глаголы, обозначающие физическую или моральную возможность, необходимость, долженствование.
    </p>
    <br />
    <p>
        Проще говоря – ваше отношение к действию:
    </p>
    <ul>
        <li>
            I <span class="bold">can</span> do it.
            <br />
            <span class="grey">Я <span class="bold">могу</span> сделать это.</span>
        </li>
        <li>
            I <span class="bold">must</span> do it.
            <br />
            <span class="grey">Я <span class="bold">должен</span> сделать это.</span>
        </li>
        <li>
            I <span class="bold">should</span> do it.
            <br />
            <span class="grey">Мне <span class="bold">нужно</span> сделать это.</span>
        </li>
    </ul>
    <br />
    <p>
        <span class="bold underline">Нужно</span> запомнить особенности модальных глаголов:
    </p>
    <br />
    <ul>
        <li>
            После модальных глаголов не используется частица <span class="bold">to</span>
        </li>
        <li>
            Модальные глаголы самостоятельно образуют вопросительную и отрицательную форму
        </li>
        <li>
            Модальные глаголы можно употреблять в настоящем времени, говоря о будущем
        </li>
    </ul>
    <br />
    <h2>
        Модальный глагол Can
    </h2>
    <br />
    <p>
        Модальный глагол <span class="bold">can</span> выражает возможность или способность совершить действие.
    </p>
    <br />
    <p>
        На русский язык обычно переводится словами <span class="bold">могу, умею</span>.
    </p>
    <br />
    <ul>
        <li>
            I <span class="bold">can</span> run fast.
            <span class="grey">Я <span class="bold">могу</span> бежать быстро.</span>
        </li>
        <li>
            She <span class="bold">can</span> play piano.
            <span class="grey">Она <span class="bold">умеет</span> играть на пианино.</span>
        </li>
    </ul>
    <br />
    <h2>
        Модальный глагол <span class="bold underscore">Must</span>
    </h2>
    <br />
    <p>
        Модальный глагол <span class="bold">must</span> выражает обязанность, необходимость совершения действия в силу определенных обстоятельств, а также приказание или совет.
    </p>
    <br />
    <p>
        На русский язык обычно переводится словами <span class="bold">должен, обязан</span>.
    </p>
    <br />
    <ul>
        <li>
            You <span class="bold">must</span> help me.
            <br />
            <span class="grey">Вы <span class="bold">должны</span> мне помочь.</span>
        </li>
        <li>
            I <span class="bold">must</span> read this book.
            <br />
            <span class="grey">Я <span class="bold">обязан</span> прочитать эту книгу.</span>
        </li>
    </ul>
    <br />
    <h2>
        Модальный глагол <span class="underline">Should</span>
    </h2>
    <br />
    <p>
        Модальный глагол <span class="bold">should</span> выражает необходимость, но не обязанность совершения действия. Т.е. <span class="bold">мне нужно</span> что-то сделать, но я не обязан это делать.
    </p>
    <br />
    <p>
        На русский язык обычно переводится словом <span class="bold">нужно</span>.
    </p>
    <br />
    <ul>
        <li>
            I <span class="bold">should</span> discuss it with you.
            <br />
            <span class="grey">Мне <span class="bold">нужно</span> обсудить с тобой это.</span>
        </li>
        <li>
            I <span class="bold">should</span> read this book.
            <br />
            <span class="grey">Мне <span class="bold">нужно</span> прочитать эту книгу.</span>
        </li>
    </ul>
    <br />
    <h2>
        Вопросительная форма
    </h2>
    <p>
        При построении вопроса модальный глагол <span class="bold">выносится в начало предложения</span>.
    </p>
    <br />
    <ul>
        <li>
            <span class="bold">Can</span> you help me?
            <br />
            <span class="grey"><span class="bold">Можете</span> вы мне помочь?</span>
        </li>
        <li>
            <span class="bold">Can</span> you wait for me?
            <br />
            <span class="grey"><span class="bold">Можете</span> вы подождать меня?</span>
        </li>
    </ul>
    <br />
    <h2>
        Отрицательная форма
    </h2>
    <br />
    <p>
        В отрицательном предложении к модальному глаголу <span class="bold">прибавляется частица <span class="underline"></span>not</span>.
    </p>
    <br />
    <ul>
        <li>
            Visitors <span class="bold">must not</span> park here.
            <br />
            <span class="grey">Посетители <span class="bold">не должны</span> парковаться здесь. (Посетителям <span class="bold">нельзя</span> парковаться тут)</span>
        </li>
        <li>
            He <span class="bold">can not</span> help me.
            <br />
            <span class="grey">Он <span class="bold">не может</span> помочь мне.</span>
        </li>
    </ul>
    <br />
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>