<div class="lesson-info">
    <h1>
        Future Perfect
    </h1>
    <br />
    <h2>
        Будущее совершенное время
    </h2>
    <br />
    <p>
        Выполняет ту же функцию, что и Past Perfect, только по отношению к будущему.
    </p>
    <br />
    <p>
        Указывает, что действие закончится (совершится) к тому моменту в будущем о котором идет речь.
    </p>
    <br />
    <p>
        Образуется при помощи <span class="bold">will have</span> и <span class="bold">третьей формы глагола</span>.
    </p>
    <br />
    <p>
        На русский язык переводится будущим временем совершенного вида (<span class="italic">что сделаю?</span>).
    </p>
    <br />
    <partial name="../../Shared/Hints/_hint18.cshtml" />
    <br />
    <p>
        Для первого лица ( I или we ) вместо will также употребляют <span class="bold">shall</span>. Правильными являются оба варианта.
    </p>
    <br />
    <ul class="italic">
        <li>
            I <span class="bold">will have written</span> the letter by 7 o’clock.
            <br />
            <span class="grey">Я (уже) <span class="bold">напишу</span> письмо к 7 часам.</span>
        </li>
        <li>
            I <span class="bold">shall have written</span> the letter by 7 o’clock.
            <br />
            <span class="bold">Я (уже) напишу письмо к 7 часам.</span>
        </li>
    </ul>
    <br />
    <p>
        Если дословно, то: <span class="grey">«К 7 часам я уже буду иметь написанным это письмо»</span>
    </p>
    <br />
    <p>
        В английском языке употребление наречия <span class="bold">already</span> <span class="grey">(уже)</span> с Future Perfect <span class="bold">не обязательно</span>, так как сама форма глагола показывает, что действие уже совершится.
    </p>
    <br />
    <p>
        Already употребляется с Future Perfect только в тех случаях, когда хотят <span class="bold">подчеркнуть</span> факт совершения действия.
    </p>
    <br />
    <p>
        Обратите внимание, что наречия <span class="bold">already, ever, never</span> всегда ставятся между have и глаголом.
    </p>
    <br />
    <h2>
        Употребляется
    </h2>
    <br />
    <p>
        1. Для того чтобы указать, что действие <span class="bold">уже совершится</span> к определенному <span class="bold">моменту в будущем</span>.
    </p>
    <br />
    <ul class="italic">
        <li>
            He <span class="bold">will have</span> (already) <span class="bold">come</span> home by 6 o’clock.
            <br />
            <span class="grey">Он (уже) <span class="bold">придет</span> домой к 6 часам.</span>
        </li>
    </ul>
    <br />
    <p>
        2. Для того чтобы указать, что <span class="bold">одно действие совершится раньше другого</span> в будущем.
    </p>
    <ul class="italic">
        <li>
            Hе <span class="bold">will have read</span> the book before he sees the film.
            <br />
            <span class="grey">Он <span class="bold">прочтет</span> книгу до того, как увидит фильм.</span>
        </li>
    </ul>
    <br />
    <p>
        Действие, которое произойдет <span class="bold">раньше</span> - выражается с помощью <span class="bold">Future Perfect</span>. Действие, которое произойдет <span class="bold">позже</span> – выражается с помощью <span class="bold">Present Simple</span>.
    </p>
    <br />
    <h2>
        Отрицание
    </h2>
    <br />
    <p>
        Образуется путем добавления <span class="bold">после will</span> отрицательной частицы <span class="bold">not</span>.
    </p>
    <br />
    <p>
        Отрицательная форма Future Perfect означает, что действие <span class="bold">еще не успеет совершиться</span> к определенному моменту в будущем.
    </p>
    <br />
    <ul class="italic">
        <li>
            He <span class="bold">will not have read</span> the book by Saturday.
            <br />
            <span class="grey">Он <span class="bold">еще не прочитает (не успеет прочитать)</span> эту книгу к субботе.</span>
        </li>
    </ul>
    <br />
    <h2>
        Вопрос
    </h2>
    <br />
    <p>
        Образуется вынесением <span class="bold">will</span> перед подлежащим.
    </p>
    <br />
    <ul class="italic">
        <li>
            <span class="bold">Will</span> he <span class="bold">have read</span> the book by Saturday?
            <br />
            <span class="bold">Он (уже) <span class="bold">прочитает</span> эту книгу к субботе?</span>
        </li>
    </ul>
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>