<div class="lesson-info">
    <h1>
        Past Participle
    </h1>
    <br />
    <h2>
        Причастие прошедшего времени
    </h2>
    <br />
    <p>
        Обозначает законченное действие, выполненное над объектом.
    </p>
    <br />
    <p>
        Образуется при помощи третьей формы глагола.
    </p>
    <br />
    <ul class="italic">
        <li>
            The <span class="bold">opened</span> book is mine.
            <br />
            <span class="grey"><span class="bold">Раскрытая</span> книга - моя.</span>
        </li>
    </ul>
    <br />
    <h2>
        Употребляется
    </h2>
    <br />
    <p>
        Для обозначения действия которое <span class="bold">испытывает на себе</span> лицо или предмет.
    </p>
    <br />
    <p>
        Соответствует в русском языке причастию страдательного залога (какой?).
    </p>
    <br />
    <ul class="italic">
        <li>
            He returned the phone <span class="bold">found</span> in the street.
            <br />
            <span class="grey">Он вернул телефон (какой?) <span class="bold">найденный</span> на улице.</span>
        </li>
        <li>
            The <span class="bold">excited</span> crowd cried loudly.
            <br />
            <span class="grey">(какая?) <span class="bold">Возбужденная</span> толпа громко кричала.</span>
        </li>
    </ul>
    <br />
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>