<div class="lesson-info">
    <h1>
        Урок 6
    </h1>
    <br />
    <h2>
        Степени сравнения прилагательных

    </h2>
    <br />
    <p>
        Прилагательное отвечает на вопрос какой?/какая? и описывает существительное.

    </p>
    <br />
    <ul>
        <li>A good boy.<span class="grey"> - (какой?) Хороший мальчик.</span></li>
        <li>An interesting book.<span class="grey"></span> - (какая?) Интересная книга.</li>
    </ul>
    <br />
    <p>
        Существует три степени сравнения прилагательных:
    </p>
    <br />
    <ul>
        <li><span class="bold">положительная</span>, например <span class="italic">длинный</span></li>
        <li><span class="bold">сравнительная</span>, например <span class="italic">длиннее</span> или <span class="italic">более длинный</span></li>
        <li><span class="bold">превосходная</span>, например <span class="italic">длиннейший</span> или <span class="italic">самый длинный</span></li>
    </ul>
    <br />
    <p>
        В английском языке, сравнительная и превосходная степень образуется двумя способами:
    </p>
    <br />
    <ul>
        <li><span class="bold">сравнительная</span>, прибавлением суффикса <span class="bold">-er</span> или при помощи слова <span class="bold">more</span></li>
        <li><span class="bold">превосходная</span>, прибавлением суффикса <span class="bold">-est</span> или при помощи слова <span class="bold">most</span></li>
    </ul>
    <br />
    <partial name="../../Shared/HintTables/_hintTable6.cshtml" />
    <br />
    <p>
        Например:
    </p>
    <br />
    <ul>
        <li>He is <span class="bold">older</span> than you.<span class="grey"> - Он старше тебя.</span></li>
        <li>My jeans are <span class="bold">shorter</span> than pants.<span class="grey"> - Мои джинсы короче брюк.</span></li>
        <li>Her story is <span class="bold">more</span> interesting.<span class="grey"> - Её история интересней.</span></li>
        <li>Mercedes is <span class="bold">more</span> expensive than Ford.<span class="grey"> - Мерседес более дорогой, чем Форд.</span></li>
        <li>He bought <span class="bold">the most</span> expensive wine.<span class="grey"> - Он купил самое дорогое вино.</span></li>
        <li>I am <span class="bold">the best</span>.<span class="grey"> - Я лучший.</span></li>
        <li>It was <span class="bold">the best</span> day in my life.<span class="grey"> - Это был самый лучший день в моей жизни.</span></li>
    </ul>
    <br />
    <h2>
        Указательные местоимения
    </h2>
    <br />
    <p>
        Указательные местоимения - называются так, потому что указывают на объект(существительное).
    </p>
    <br />
    <p>
        В зависимости от того как далеко находится объект, употребляются разные указательные местоимения:
    </p>
    <br />
    <div class="lesson6-help-table1 flex-center">
        <table>
            <tr>
                <td></td>
                <td>Рядом</td>
                <td>Далеко</td>
            </tr>
            <tr>
                <td>Один</td>
                <td><span class="bold">This</span> - этот</td>
                <td><span class="bold">That</span> - тот</td>
            </tr>
            <tr>
                <td>Много</td>
                <td><span class="bold">These</span> - эти</td>
                <td><span class="bold">Those</span> - те</td>
            </tr>
        </table>
    </div>
    <br />
    <p>
        Например:
    </p>
    <br />
    <ul>
        <li><span class="bold">This</span> car is the fastest.<span class="grey"> - Эта машина самая быстрая.</span></li>
        <li><span class="bold">These</span> cars are new.<span class="grey"> - Эти машины новые.</span></li>
    </ul>
    <br />
    <p>
        Внимание! В английском языке слово one заменяет повторяющееся существительное в предложении.
    </p>
    <br />
    <ul>
        <li>Существительное в единственном лице заменяется на <span class="bold">One</span></li>
        <li>Существительное во множественном лице заменяется на <span class="bold">Ones</span></li>
    </ul>
    <br />
    <p>
        Например:
    </p>
    <br />
    <ul>
        <li>This book is more difficult than that <span class="bold">one</span>.<span class="grey"> - Эта книга более сложная, чем та (книга).</span></li>
        <li>These cookies are tastier than those <span class="bold">ones</span>.<span class="grey"> - Эти булочки более свежие, чем те (булочки).</span></li>
    </ul>
    <br />
    <h2>
        Советы:
    </h2>
    <br />
    <ul>
        <li>
            <p>
                Чтобы стереть неправильно выбранное слово, нажмите левую кнопку мыши в области имеющей фарфоровый цвет (такой же как фон этой страницы).
            </p>
        </li>
        <li>
            <p>
                Чтобы посмотреть подсказку, нажмите на пункт "Подсказка" в меню.
            </p>
        </li>
        <li>
            <p>
                Чтобы открыть следующий урок, наберите 100 баллов.
            </p>
        </li>
    </ul>
    <br />
    <p class="italic">
        Если знаете, как улучшить программу, напишите нам.
    </p>
</div>