<div class="lesson-info">
    <h1>
        Perfect Tenses
    </h1>
    <br />
    <p>
        Обозначают совершенное действие. Образование Perfect Tenses представлено в таблице:
    </p>
    <br />
    <partial name="../../Shared/Hints/_hint19.cshtml" />
    <br />
    <h1>
        Future Perfect
    </h1>
    <br />
    <h2>
        Будущее совершенное время
    </h2>
    <br />
    <p>
        Выполняет ту же функцию, что и Past Perfect, только по отношению к будущему.
    </p>
    <br />
    <p>
        Указывает, что действие закончится (совершится) к тому моменту в будущем о котором идет речь.
    </p>
    <br />
    <p>
        Образуется при помощи <span class="bold">will have</span> и <span class="bold">третьей формы глагола</span>.
    </p>
    <br />
    <p>
        На русский язык переводится будущим временем совершенного вида (<span class="italic">что сделаю?</span>).
    </p>
    <br />
    <p>
        Для первого лица ( I или we ) вместо will также употребляют <span class="bold">shall</span>. Правильными являются оба варианта.
    </p>
    <br />
    <ul class="italic">
        <li>
            I <span class="bold">will have written</span> the letter by 7 o’clock.
            <br />
            <span class="grey">Я (уже) <span class="bold">напишу</span> письмо к 7 часам.</span>
        </li>
        <li>
            I <span class="bold">shall have written</span> the letter by 7 o’clock.
            <br />
            <span class="bold">Я (уже) напишу письмо к 7 часам.</span>
        </li>
    </ul>
    <br />
    <p>
        Если дословно, то: <span class="grey">«К 7 часам я уже буду иметь написанным это письмо»</span>
    </p>
    <br />
    <p>
        В английском языке употребление наречия <span class="bold">already</span> <span class="grey">(уже)</span> с Future Perfect <span class="bold">не обязательно</span>, так как сама форма глагола показывает, что действие уже совершится.
    </p>
    <br />
    <p>
        Already употребляется с Future Perfect только в тех случаях, когда хотят <span class="bold">подчеркнуть</span> факт совершения действия.
    </p>
    <br />
    <p>
        Обратите внимание, что наречия <span class="bold">already, ever, never</span> всегда ставятся между have и глаголом.
    </p>
    <br />
    <h2>
        Употребляется
    </h2>
    <br />
    <p>
        1. Для того чтобы указать, что действие <span class="bold">уже совершится</span> к определенному <span class="bold">моменту в будущем</span>.
    </p>
    <br />
    <ul class="italic">
        <li>
            He <span class="bold">will have</span> (already) <span class="bold">come</span> home by 6 o’clock.
            <br />
            <span class="grey">Он (уже) <span class="bold">придет</span> домой к 6 часам.</span>
        </li>
    </ul>
    <br />
    <p>
        2. Для того чтобы указать, что <span class="bold">одно действие совершится раньше другого</span> в будущем.
    </p>
    <ul class="italic">
        <li>
            Hе <span class="bold">will have read</span> the book before he sees the film.
            <br />
            <span class="grey">Он <span class="bold">прочтет</span> книгу до того, как увидит фильм.</span>
        </li>
    </ul>
    <br />
    <p>
        Действие, которое произойдет <span class="bold">раньше</span> - выражается с помощью <span class="bold">Future Perfect</span>. Действие, которое произойдет <span class="bold">позже</span> – выражается с помощью <span class="bold">Present Simple</span>.
    </p>
    <br />
    <h2>
        Отрицание
    </h2>
    <br />
    <p>
        Образуется путем добавления <span class="bold">после will</span> отрицательной частицы <span class="bold">not</span>.
    </p>
    <br />
    <p>
        Отрицательная форма Future Perfect означает, что действие <span class="bold">еще не успеет совершиться</span> к определенному моменту в будущем.
    </p>
    <br />
    <ul class="italic">
        <li>
            He <span class="bold">will not have read</span> the book by Saturday.
            <br />
            <span class="grey">Он <span class="bold">еще не прочитает (не успеет прочитать)</span> эту книгу к субботе.</span>
        </li>
    </ul>
    <br />
    <h2>
        Вопрос
    </h2>
    <br />
    <p>
        Образуется вынесением <span class="bold">will</span> перед подлежащим.
    </p>
    <br />
    <ul class="italic">
        <li>
            <span class="bold">Will</span> he <span class="bold">have read</span> the book by Saturday?
            <br />
            <span class="bold">Он (уже) <span class="bold">прочитает</span> эту книгу к субботе?</span>
        </li>
    </ul>
    <br />
        <h1>
        Present Perfect
    </h1>
    <br />
    <h2>
        Настоящее совершенное время
    </h2>
    <br />
    <p>
        Указывает, что действие уже закончилось (совершилось) к текущему моменту. Момент совершения действия не указывается, т.к. имеет значение только факт совершения действия.
    </p>
    <br />
    <p>
        Образуется при помощи <span class="bold">have и третьей формы</span> глагола.
    </p>
    <br />
    <p>
        На русский язык переводится прошедшим временем совершенного вида (что сделал?).
    </p>
    <br />
    <ul>
        <li class="italic">
            I <span class="bold">have written</span> a letter.
            <span class="grey">Я <span class="bold">написал</span> письмо.</span>
        </li>
        <li class="italic">
            I <span class="bold">have</span> already <span class="bold">watched</span> this film.
            <span class="grey">Я уже<span class="bold">видел</span> этот фильм.</span>
        </li>
    </ul>
    <br />
    <h2>
        Употребляется
    </h2>
    <br />
    <p>
        Для выражения действия, которое произошло в прошлом. При этом результат этого действия имеет отношение к настоящему.
    </p>
    <br />
    <p>
        Момент совершения действия никогда не указывается, т.к. имеет значение только факт совершения действия.
    </p>
    <br />
    <h2>
        Вспомогательные слова
    </h2>
    <br />
    <p>
        С Present Perfect обычно употребляются следующие наречия и обстоятельства времени:
    </p>
    <br />
    <ul class="italic">
        <li>already - <span class="grey">уже</span></li>
        <li>always - <span class="grey">всегда</span></li>
        <li>just - <span class="grey">только что</span></li>
        <li>ever - <span class="grey">когда-либо, когда-нибудь</span></li>
        <li>often - <span class="grey">часто</span></li>
        <li>lately - <span class="grey">недавно, в последнее время</span></li>
        <li>recently - <span class="grey">недавно, на днях</span></li>
        <li>since - <span class="grey">с тех пор, как</span></li>
        <li>yet - <span class="grey">еще (в отрицательных предложениях)</span></li>
        <li>yet - <span class="grey">уже (в вопросительных предложениях)</span></li>
        <li>never - <span class="grey">никогда</span></li>
        <li>today - <span class="grey">сегодня</span></li>
        <li>this week - <span class="grey">на этой неделе</span></li>
        <li>this month - <span class="grey">в этом месяце</span></li>
        <li>this year - <span class="grey">в этом году</span></li>
    </ul>
    <br />
    <p>
        Следует запомнить, что обычно:
    </p>
    <br />
    <ul class="italic">
        <li><span class="bold">already, just, never, ever</span> – ставятся <span class="bold">между have и глаголом;</span></li>
        <li><span class="bold">yet, lately, recently</span> – ставятся <span class="bold">в конце предложения.</span></li>
    </ul>
    <br />
    <p>
        В предложениях c Present Perfect часто употребляются слова <span class="bold">уже, ещё</span>.
    </p>
    <br />
    <p>
        Например:
    </p>
    <br />
    <ul>
        <li>
            I <span class="bold">have already done</span> it.
            <br />
            <span class="grey">Я <span class="bold">уже сделал</span> это.</span>
        </li>
        <li>
            I <span class="bold">haven't done</span> it <span class="bold">yet</span>.
            <br />
            <span class="grey">Я <span class="bold">ещё не сделал</span> это.</span>
        </li>
        <li>
            <span class="bold">Have</span> you <span class="bold">done</span> it <span class="bold">yet</span>?.
            <br />
            <span class="grey">Ты <span class="bold">уже сделал</span> это?</span>
        </li>
    </ul>
    <br />
    <h2>
        Отрицание
    </h2>
    <br />
    <p>
        Образуется путем добавления <span class="bold">после have</span> отрицательной частицы <span class="bold">not</span> или слова <span class="bold">never</span> - <span class="grey">никогда</span>.
    </p>
    <br />
    <ul>
        <li>
            I <span class="bold">have not read</span> this book.
            <br />
            <span class="grey">Я <span class="bold">не читал</span> эту книгу.</span>
        </li>
        <li>
            I <span class="bold">have never watched</span> this film.
            <br />
            <span class="grey">Я <span class="bold">никогда не видел</span> этот фильм.</span>
        </li>
    </ul>
    <br />
    <h2>
        Вопрос
    </h2>
    <br />
    <p>
        Образуется вынесением have (has) перед подлежащим.
    </p>
    <br />
    <ul>
        <li>
            <span class="bold">Has</span> he <span class="bold">read</span> the book?
            <br />
            <span class="grey">Он <span class="bold">прочитал</span> эту книгу?</span>
        </li>
    </ul>
    <br />
    <h1>
        Past Perfect
    </h1>
    <br />
    <h2>
        Прошедшее совершенное время
    </h2>
    <br />
    <p>
        Указывает, что действие началось в прошлом и закончилось (совершилось) к тому моменту в прошлом о котором идет речь.
    </p>
    <br />
    <p>
        Образуется при помощи <span class="bold">had</span> и <span class="bold">третьей формы</span> глагола.
    </p>
    <br />
    <p>
        На русский язык переводится прошедшим временем совершенного вида (<span class="italic">что сделал?</span>).
    </p>
    <br />
    <ul>
        <li class="italic">
            I <span class="bold">had</span> (already) <span class="bold">written</span> the letter by 7 o'clock.
            <br />
            <span class="grey">Я (уже) <span class="bold">написал</span> письмо к 7 часам.</span>
        </li>
    </ul>
    <br />
    <p>
        Если дословно, то: <span class="grey">«К 7 часам я уже имел написанным это письмо»</span>
    </p>
    <br />
    <p>
        В английском языке употребление наречия <span class="bold">already</span> <span class="grey">(уже)</span> с Past Perfect <span class="bold">не обязательно</span>, так как сама форма глагола показывает, что действие уже совершилось.
    </p>
    <br />
    <p>
        Already употребляется с Past Perfect только в тех случаях, когда хотят <span class="bold">подчеркнуть</span> факт совершения действия.
    </p>
    <br />
    <p>
        Обратите внимание, что наречия <span class="bold">already, ever, never</span> всегда ставятся между had и глаголом.
    </p>
    <br />
    <h2>
        Употребляется
    </h2>
    <br />
    <p>
        1. Для того чтобы указать, что действие <span class="bold">уже совершилось</span> к определенному <span class="bold">моменту в прошлом</span>.
    </p>
    <br />
    <ul>
        <li class="italic">
            He <span class="bold">had</span> (already) <span class="bold">come</span> home by 6 o’clock.
            <br />
            <span class="grey">Он (уже) пришел домой к 6 часам.</span>
        </li>
    </ul>
    <br />
    <p>
        2. Для того чтобы указать, что <span class="bold">одно действие совершилось раньше другого</span> в прошлом.
    </p>
    <br />
    <ul>
        <li>
            The rain <span class="bold">had stopped</span> before we left the house.
            <br />
            <span class="grey">
                Дождь закончился до того, как мы покинули дом.
                <br />
                (Дождь закончился. Затем, мы покинули дом).
            </span>
        </li>
    </ul>
    <br />
    <p>
        Действие, которое произошло <span class="bold">раньше</span> - выражается с помощью <span class="bold">Past Perfect</span>. Действие, которое произошло <span class="bold">позже</span> – выражается с помощью <span class="bold">Past Simple</span>.
    </p>
    <br />
    <h2>
        Отрицание
    </h2>
    <br />
    <p>
        Образуется путем добавления <span class="bold">после had</span> отрицательной частицы <span class="bold">not</span>.
    </p>
    <br />
    <p>
        Отрицательная форма Past Perfect означает, что действие <span class="bold">еще не успело совершиться</span> к определенному моменту в прошлом.
    </p>
    <br />
    <ul class="italic">
        <li>
            He <span class="bold">hadn’t read</span> the book by Saturday.
            <br />
            <span class="grey">Он еще <span class="bold">не прочитал (не успел прочитать)</span> эту книгу к субботе.</span>
        </li>
    </ul>
    <br />
    <h2>
        Вопрос
    </h2>
    <br />
    <p>
        Образуется вынесением had перед подлежащим.
    </p>
    <br />
    <ul class="italic">
        <li>
            <span class="bold">Had</span> he <span class="bold">read</span> the book by Saturday?
            <br />
            <span class="grey">Он (уже) <span class="bold">прочитал</span> эту книгу к субботе?</span>
        </li>
    </ul>
    <br />
    <h2>
        Ошибки
    </h2>
    <br />
    <p>
        Самая распространенная ошибка – использовать Past Perfect только потому, что речь идет о чем-то в далеком прошлом:
    </p>
    <br />
    <ul class="italic red bold">
        <li>
            The Romans had spoken Latin – не правильно!
        </li>
    </ul>
    <br />
    <p>
        Past Perfect используется, когда мы говорим о моменте или действии в прошлом и хотим подчеркнуть, что что-то произошло еще раньше.
    </p>
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>