<div class="lesson-info">
    <h1>
        Урок 12
    </h1>
    <br />
    <h2>
        Continuous
    </h2>
    <br />
    <p>
        Continuous – это форма описания <span class="bold">действия</span> (action), происходящего в точно указанный <span class="bold">момент</span> или <span class="bold">промежуток времени</span>.
    </p>
    <br />
    <p>
        Образуется по следующей формуле:
    </p>
    <br />
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bold">to be</span> + <span class="bold">глагол</span> <span class="grey">c окончанием</span> <span class="bold">-ing</span>
    </p>
    <br />
    <p>
        Отличительной особенностью этой формы является то, что действие началось раньше, и все еще <span class="bold">продолжает длиться</span> в тот момент, о котором мы говорим.
    </p>
    <br />
    <p>
        Например:
    </p>
    <br />
    <ul>
        <li>
            I <span class="bold">am</span> go<span class="bold">ing</span> home (now).
            <br />
            <span class="grey">Я иду домой (сейчас) – т.е. я шел домой до текущего момента и продолжаю идти.</span>
        </li>
        <li>
            She <span class="bold">was</span> study<span class="bold">ing</span> English from 5 to 7 yesterday.
            <br />
            <span class="grey">Она учила английский вчера с 5 до 7. – т.е. в указанный промежуток времени.</span>
        </li>
    </ul>
    <br />
    <p>
        Схема образования предложений нам уже частично знакома. Это схема глагола <span class="bold">to be</span> к которой добавлен <span class="bold">глагол действия</span> с окончанием <span class="bold">-ing</span>:
    </p>
    <br />
    <partial name="../../Shared/HintTables/_hintTable12.cshtml" />
    <br />
    <p>
        Важно!
        <br />
        Этой формой мы описываем <span class="bold">продолжающиеся действия</span> в конкретный <span class="bold">момент времени</span>.
    </p>
    <br />
    <p>
        Следовательно:
    </p>
    <br />
    <ul class="decimal">
        <li>
            если действие происходит на наших глазах (сейчас, в данный момент);
        </li>
        <li>
            если есть указание на момент времени (в 3 часа, с 5 до 7);
        </li>
        <li>
            если есть другое действие, которое прерывает процесс;
        </li>
    </ul>
    <br />
    <p>
        то мы <span class="bold">должны</span> использовать Continuous.
    </p>
    <br />
    <ul>
        <li>
            He is reading a book.
            <br />
            <span class="grey">Он читает книгу. (сейчас, в данный момент)</span>
        </li>
        <li>
            You will be driving home <span class="underline">this time</span> tomorrow.
            <br />
            <span class="grey">Ты будешь ехать домой завтра <span class="underline">в это же время</span>. (указан точный момент времени)</span>
        </li>
        <li>
            I was working, <span class="underline">when she came</span>.
            <br />
            <span class="grey">Я работал, <span class="underline">когда она пришла</span>. (действие прерывающее процесс)</span>
        </li>
    </ul>
    <br />
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>