<div class="lesson-info">
    <h1>
        Simple (Indefinite) Passive
    </h1>
    <br />
    <h2>
        Страдательный залог простого (неопределенного) времени
    </h2>
    <br />
    <p>
        Обозначает действие, которое испытывает на себе подлежащее. Т.е. предмет (подлежащее) не сам выполняет действие, а испытывает на себе действие другого предмета.
    </p>
    <br />
    <p>
        Образуется при помощи глагола <span class="bold">to be</span> в соответствующей форме <span class="bold">+ третья форма</span> глагола.
    </p>
    <br />
    <ul class="italic">
        <li>
            The message <span class="bold">is written</span> by my brother.
            <br />
            <span class="grey">
                Сообщение написано моим братом.
                <br />
                (т.е. сообщение не само написалось, а его написал брат)
            </span>
        </li>
    </ul>
    <br />
    <p>
        На русский язык pasive voice может переводиться следующими способами:
    </p>
    <br />
    <ul class="decimal">
        <li>
            глаголом с окончанием -ся, -сь <span class="grey">(строится, строилось)</span>
        </li>
        <li>
            глаголом быть + причастие пассивного залога <span class="grey">(было построено)</span>
        </li>
        <li>
            глаголом 3-го лица множественного числа <span class="grey">(построили)</span>
        </li>
    </ul>
    <br />
    <p>
        Например:
    </p>
    <br />
    <ul class="italic">
        <li>
            The office <span class="bold">was cleaned</span> yesterday.
            <br />
            <span class="grey">
                Офис <span class="bold">убирался</span> вчера.
                <br />
                Офис <span class="bold">был убран</span> вчера.
                <br />
                Офис <span class="bold">убирали</span> вчера.
            </span>
        </li>
    </ul>
    <br />
    <h2>
        Употребляется
    </h2>
    <br />
    <p>
        1. Когда неизвестно или, наоборот, и так очевидно, кто выполняет действие.
    </p>
    <br />
    <ul>
        <li>
            My house <span class="bold">was burgled</span> last year.
            <br />
            <span class="grey">Мой дом <span class="bold">обокрали</span> в прошлом году.</span>
        </li>
    </ul>
    <br />
    <p>
        2. Когда действие более важно, чем то, кто его выполняет.
    </p>
    <br />
    <ul class="italic">
        <li>
            The window <span class="bold">was broken</span> yesterday.
            <br />
            <span class="grey">Окно <span class="bold">было разбито</span> вчера.</span>
        </li>
    </ul>
    <br />
    <h2>
        Предлоги by и with
    </h2>
    <br />
    <p>
        Предлог <span class="bold">by</span> ставится перед существительным, выполняющим действие.
    </p>
    <br />
    <ul>
        <li>
            Hе <span class="bold">is followed</span> by the police.
            <br />
            <span class="grey">Его <span class="bold">преследует</span> полиция.</span>
        </li>
    </ul>
    <br />
    <p>
        Предлог <span class="bold">with</span> ставится перед существительным, которое является орудием действия.
    </p>
    <br />
    <ul class="italic">
        <li>
            The letter <span class="bold">is written</span> with a pen.
            <br />
            <span class="grey">Письмо <span class="bold">написано</span> ручкой.</span>
        </li>
    </ul>
    <br />
    <h2>
        Местоимение it
    </h2>
    <br />
    <p>
        Местоимение <span class="bold">it</span> со страдательным залогои переводится неопределенно-личными оборотами:
    </p>
    <br />
    <ul class="italic">
        <li>
            It is said...
            <br />
            <span class="grey">Говорят...</span>
        </li>
        <li>
            It is known...
            <br />
            <span class="grey">Известно...</span>
        </li>
        <li>
            It is thought...
            <br />
            <span class="grey">Полагают...</span>
        </li>
        <li>
            It is reported...
            <br />
            <span class="grey">Сообщают...</span>
        </li>
    </ul>
    <br />
    <h1>
        Continuous Passive
    </h1>
    <br />
    <h2>
        Страдательный залог продолженного времени
    </h2>
    <br />
    <p>
        Обозначает действие, которое <span class="bold">продолжает</span> испытывать на себе подлежащее. Т.е. предмет (подлежащее) не сам выполняет действие, а испытывает на себе действие другого предмета.
    </p>
    <br />
    <p>
        Так как это <span class="bold">continuous</span>, то обязательно указание времени, когда происходило действия. Хотя, <span class="bold">now</span> может опускаться, если понятно, что действие происходит прямо сейчас.
    </p>
    <br />
    <p>
        Образуется при помощи глагола <span class="bold">to be</span> в соответствующей форме + <span class="bold">being + третья форма</span> глагола.
    </p>
    <br />
    <ul class="italic">
        <li>
            The message <span class="bold">is being written</span> by my brother now.
            <br />
            <span class="grey">Сообщение <span class="bold">пишется</span> моим братом сейчас.</span>
        </li>
    </ul>
    <br />
    <p>
        На русский язык pasive voice может переводиться следующими способами:
    </p>
    <br />
    <ul class="decimal">
        <li>
            глаголом с окончанием -ся, -сь (строится, строилось)
        </li>
        <li>
            глаголом 3-го лица множественного числа (построили)
        </li>
    </ul>
    <br />
    <p>
        Например:
    </p>
    <br />
    <ul>
        <li>
            The office <span class="bold">was being cleaned</span> at 3 o'clock.
            <br />
            <span class="grey">
                Офис убирался в 3 часа.
                <br />
                Офис убирали в 3 часа.
            </span>
        </li>
    </ul>
    <br />
    <h1>
        Perfect Passive
    </h1>
    <br />
    <h2>
        Страдательный залог совершенного времени
    </h2>
    <br />
    <p>
        Обозначает уже завершенное действие, которое испытывало на себе подлежащее. Т.е. предмет (подлежащее) не сам выполнял действие, а испытывал на себе действие другого предмета.
    </p>
    <br />
    <p>
        Образуется при помощи глагола <span class="bold">to have</span> в соответствующей форме <span class="bold">+ been + третья форма</span> глагола.
    </p>
    <br />
    <ul class="italic">
        <li>
            The message <span class="bold">has been written</span> by my brother.
            <br />
            <span class="grey">Сообщение <span class="bold">уже написано</span> моим братом.</span>
        </li>
    </ul>
    <br />
    <p>
        На русский язык pasive voice может переводиться следующими способами:
    </p>
    <ul class="decimal">
        <li>
            глаголом совершенного вида с окончанием <span class="bold">-ся, -сь</span> <span class="grey">(строится, строилось)</span>
        </li>
        <li>
            глаголом быть + причастие пассивного залога <span class="grey">(было построено)</span>
        </li>
        <li>
            глаголом совершенного вида 3-го лица множественного числа <span class="grey">(построили)</span>
        </li>
    </ul>
    <br />
    <p>
        Например:
    </p>
    <br />
    <ul class="italic">
        <li>
            My house <span class="bold">had been built</span> by last year.
            <br />
            <span class="grey">
                Мой дом <span class="bold">уже построился</span> к прошлому году.
                Мой дом <span class="bold">уже был построен</span> к прошлому году.
                Мой дом <span class="bold">уже построили</span> к прошлому году
            </span>
        </li>
    </ul>
    <br />
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>