<div class="lesson-info">
    <h1>
        Past Perfect
    </h1>
    <br />
    <h2>
        Прошедшее совершенное время
    </h2>
    <br />
    <p>
        Указывает, что действие началось в прошлом и закончилось (совершилось) к тому моменту в прошлом о котором идет речь.
    </p>
    <br />
    <p>
        Образуется при помощи <span class="bold">had</span> и <span class="bold">третьей формы</span> глагола.
    </p>
    <br />
    <partial name="../../Shared/Hints/_hint17.cshtml" />
    <br />
    <p>
        На русский язык переводится прошедшим временем совершенного вида (<span class="italic">что сделал?</span>).
    </p>
    <br />
    <ul>
        <li class="italic">
            I <span class="bold">had</span> (already) <span class="bold">written</span> the letter by 7 o'clock.
            <br />
            <span class="grey">Я (уже) <span class="bold">написал</span> письмо к 7 часам.</span>
        </li>
    </ul>
    <br />
    <p>
        Если дословно, то: <span class="grey">«К 7 часам я уже имел написанным это письмо»</span>
    </p>
    <br />
    <p>
        В английском языке употребление наречия <span class="bold">already</span> <span class="grey">(уже)</span> с Past Perfect <span class="bold">не обязательно</span>, так как сама форма глагола показывает, что действие уже совершилось.
    </p>
    <br />
    <p>
        Already употребляется с Past Perfect только в тех случаях, когда хотят <span class="bold">подчеркнуть</span> факт совершения действия.
    </p>
    <br />
    <p>
        Обратите внимание, что наречия <span class="bold">already, ever, never</span> всегда ставятся между had и глаголом.
    </p>
    <br />
    <h2>
        Употребляется
    </h2>
    <br />
    <p>
        1. Для того чтобы указать, что действие <span class="bold">уже совершилось</span> к определенному <span class="bold">моменту в прошлом</span>.
    </p>
    <br />
    <ul>
        <li class="italic">
            He <span class="bold">had</span> (already) <span class="bold">come</span> home by 6 o’clock.
            <br />
            <span class="grey">Он (уже) пришел домой к 6 часам.</span>
        </li>
    </ul>
    <br />
    <p>
        2. Для того чтобы указать, что <span class="bold">одно действие совершилось раньше другого</span> в прошлом.
    </p>
    <br />
    <ul>
        <li>
            The rain <span class="bold">had stopped</span> before we left the house.
            <br />
            <span class="grey">
                Дождь закончился до того, как мы покинули дом.
                <br />
                (Дождь закончился. Затем, мы покинули дом).
            </span>
        </li>
    </ul>
    <br />
    <p>
        Действие, которое произошло <span class="bold">раньше</span> - выражается с помощью <span class="bold">Past Perfect</span>. Действие, которое произошло <span class="bold">позже</span> – выражается с помощью <span class="bold">Past Simple</span>.
    </p>
    <br />
    <h2>
        Отрицание
    </h2>
    <br />
    <p>
        Образуется путем добавления <span class="bold">после had</span> отрицательной частицы <span class="bold">not</span>.
    </p>
    <br />
    <p>
        Отрицательная форма Past Perfect означает, что действие <span class="bold">еще не успело совершиться</span> к определенному моменту в прошлом.
    </p>
    <br />
    <ul class="italic">
        <li>
            He <span class="bold">hadn’t read</span> the book by Saturday.
            <br />
            <span class="grey">Он еще <span class="bold">не прочитал (не успел прочитать)</span> эту книгу к субботе.</span>
        </li>
    </ul>
    <br />
    <h2>
        Вопрос
    </h2>
    <br />
    <p>
        Образуется вынесением had перед подлежащим.
    </p>
    <br />
    <ul class="italic">
        <li>
            <span class="bold">Had</span> he <span class="bold">read</span> the book by Saturday?
            <br />
            <span class="grey">Он (уже) <span class="bold">прочитал</span> эту книгу к субботе?</span>
        </li>
    </ul>
    <br />
    <h2>
        Ошибки
    </h2>
    <br />
    <p>
        Самая распространенная ошибка – использовать Past Perfect только потому, что речь идет о чем-то в далеком прошлом:
    </p>
    <br />
    <ul class="italic red bold">
        <li>
            The Romans had spoken Latin – не правильно!
        </li>
    </ul>
    <br />
    <p>
        Past Perfect используется, когда мы говорим о моменте или действии в прошлом и хотим подчеркнуть, что что-то произошло еще раньше.
    </p>
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>