<div class="lesson-info">
    <h1>
        Урок 14
    </h1>
    <br />
    <h2>
        Повелительное наклонение
    </h2>
    <br />
    <p>
        Мы используем повелительное наклонение в английском языке для призывов, приказов. Для этого мы начинаем предложение с глагола:
    </p>
    <br />
    <ul>
        <li>
            Go!
            <br />
            <span class="grey">Иди!</span>
        </li>
        <li>
            Take it!
            <br />
            <span class="grey">Возьми это!</span>
        </li>
        <li>
            Do it.
            <br />
            <span class="grey">Сделай это.</span>
        </li>
        <li>
            Come here.
            <br />
            <span class="grey">Подойди сюда.</span>
        </li>
        <li>
            Phone me tomorrow.
            <br />
            <span class="grey">Позвони мне завтра.</span>
        </li>
        <li>
            Be careful!
            <br />
            <span class="grey">Будь осторожным!</span>
        </li>

    </ul>
    <br />
    <p>
        Если нужно использовать это наклонение в отрицательной форме, то мы говорим:
    </p>
    <br />
    <ul>
        <li>
            Don't go!
            <br />
            <span class="grey">Не иди!</span>
        </li>
        <li>
            Don't take it!
            <br />
            <span class="grey">Не бери это!</span>
        </li>
        <li>
            Don't phone me.
            <br />
            <span class="grey">Не звони мне.</span>
        </li>
    </ul>
    <p>
        В случае, когда нужно предложить что-то вроде "давайте сделаем это", мы говорим:
    </p>
    <br />
    <ul>
        <li>
            Let's go there!
            <br />
            <span class="grey">Давайте идем туда!</span>
        </li>
        <li>
            Let's do it!
            <br />
            <span class="grey">Давайте сделаем это!</span>
        </li>
        <li>
            Let's dance!
            <br />
            <span class="grey">Давайте танцевать!</span>
        </li>
    </ul>
    <br />
    <p>
        Let's это сокращение от "let us". Глагол let можно использовать и с другими местоимениями:
    </p>
    <br />
    <ul>
        <li>
            Let him say.
            <br />
            <span class="grey">Дай ему сказать/Пусть он скажет/Позволь ему сказать.</span>
        </li>
        <li>
            Let her work.
            <br />
            <span class="grey">Дай ей работать/Пусть она работает/Позволь ей работать.</span>
        </li>
    </ul>
    <br />
    <p>
        Возможно выражение просьбы, со словом please (пожалуйста):
    </p>
    <br />
    <ul>
        <li>
            Dance with me, please.
            <br />
            <span class="grey">Потанцуй со мной, пожалуйста.</span>
        </li>
        <li>
            Don't start without me, please.
            <br />
            <span class="grey">Не начинайте без меня, пожалуйста.</span>
        </li>
        <li>
            Tell about her, please.
            <br />
            <span class="grey">Расскажи о ней, пожалуйста.</span>
        </li>
    </ul>
    <br />
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>