<div class="lesson-info">
    <h1>
        Урок 16. Фразовые глаголы
    </h1>
    <br />
    <p>
        Фразовый глагол представляет собой устойчивую связку из глагола и предлога (или наречия), в которой глагол означает действие, а предлог или наречие – его характер или направленность.
    </p>
    <br />
    <p>
        <span class="bodl">GO UP</span> (go - <span class="grey">идти</span>, up - <span class="grey">вверх</span>)
    </p>
    <br />
    <p>
        В русском языке из слова «делать» с помощью приставок образуется целая куча слов («сделать», «подделать», «разделать», «обделать», «отделать», «наделать»...), каждое из которых может в разных ситуациях означать разные действия.
    </p>
    <br />
    <p>
        Подобно этому в английском языке из распространённых глаголов при помощи предлогов можно создать бесчисленное количество фразовых глаголов, способных означать всё, что угодно.
    </p>
    <br />
    <p>
        <span class="bold">GO UP</span> – <span class="grey">подниматься, идти вверх, вбираться</span>
    </p>
    <br />
    <p>
        Но, очень часто можно легко догадаться о значении фразовых глаголов, поняв простой алгоритм работы предлогов: направление, место и т.д. (например, sit down — <span class="grey">садиться</span>, look for — <span class="grey">искать</span>).
    </p>
    <br />
    <p>
        Фразовые глаголы в английском языке очень распространенное явление, но чаще они используются в повседневной речи, чем в деловой переписке или деловой беседе.
    </p>
    <br />
    <p>
        Очень важно знать их (хотя бы наиболее употребляемые) и использовать, для того чтобы ваш английский стал естественнее и более «английским».
    </p>
    <br />
    <div class="lesson16-help-table flex-center">
        <table>
            <tr>
                <th rowspan="6">
                    go
                </th>
                <th>
                    up
                </th>
                <td class="grey">
                    1. подниматься
                    <br />
                    2. взбираться по чему-то, на что-то
                </td>
            </tr>
            <tr>
                <th>
                    down
                </th>
                <td class="grey">
                    снижаться, опускаться, падать
                </td>
            </tr>
            <tr>
                <th>
                    in
                </th>
                <td class="grey">
                    входить
                </td>
            </tr>
            <tr>
                <th>
                    out
                </th>
                <td class="grey">
                    1. выйти наружу
                    <br />
                    2. выйти в город, посетить места развлечений
                </td>
            </tr>
            <tr>
                <th>
                    back
                </th>
                <td class="grey">
                    вернуться
                </td>
            </tr>
            <tr>
                <th>
                    away
                </th>
                <td class="grey">
                    уйти
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div class="lesson16-help-table flex-center">
        <table>
            <tr>
                <th rowspan="5">
                    come
                </th>
                <th>
                    up
                </th>
                <td class="grey">
                    1. повышаться
                    <br />
                    2. возникнуть, появиться
                </td>
            </tr>
            <tr>
                <th>
                    down
                </th>
                <td class="grey">
                    1. спуститься вниз
                    <br />
                    2. упасть
                </td>
            </tr>
            <tr>
                <th>
                    in
                </th>
                <td class="grey">
                    войти
                </td>
            </tr>
            <tr>
                <th>
                    out
                </th>
                <td class="grey">
                    1. выйти из
                    <br />
                    2. выйти (о книге)
                    <br />
                    3. стать известным (об информации, секретах)
                    <br />
                    4. закончиться каким-то результатом
                </td>
            </tr>
            <tr>
                <th>
                    back
                </th>
                <td class="grey">
                    вернуться
                </td>
            </tr>
        </table>
    </div>
    <br />
        <div class="lesson16-help-table flex-center">
        <table>
            <tr>
                <th rowspan="8">
                    look
                </th>
                <th>
                    up
                </th>
                <td class="grey">
                    1. смотреть вверх
                    <br />
                    2. посмотреть/поискать какую-то информацию в справочнике
                </td>
            </tr>
            <tr>
                <th>
                    down
                </th>
                <td class="grey">
                    смотреть вниз, опустить взгляд
                </td>
            </tr>
            <tr>
                <th>
                    in
                </th>
                <td class="grey">
                    посмотреть, заглянуть
                </td>
            </tr>
            <tr>
                <th>
                    out of
                </th>
                <td class="grey">
                    выглянуть
                </td>
            </tr>
            <tr>
                <th>
                    back
                </th>
                <td class="grey">
                    оглянуться
                </td>
            </tr>
            <tr>
                <th>
                    away
                </th>
                <td class="grey">
                    отвернуться
                </td>
            </tr>
            <tr>
                <th>
                    for
                </th>
                <td class="grey">
                    искать, надеяться
                </td>
            </tr>
            <tr>
                <th>
                    after
                </th>
                <td class="grey">
                    присматривать за кем-то, заботиться, ухаживать
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div class="lesson16-help-table flex-center">
        <table>
            <tr>
                <th rowspan="3">
                    give
                </th>
                <th>
                    up
                </th>
                <td class="grey">
                    1. сдаваться
                    <br />
                    2. отказаться от продолжения или попыток делать что-то
                </td>
            </tr>
            <tr>
                <th>
                    in
                </th>
                <td class="grey">
                    уступить, сдаться
                </td>
            </tr>
            <tr>
                <th>
                    out
                </th>
                <td class="grey">
                    1. раздавать, распределять
                    <br />
                    2. иссякнуть (о запасах, силах)
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div class="lesson16-help-table flex-center">
        <table>
            <tr>
                <th rowspan="2">
                    turn
                </th>
                <th>
                    on
                </th>
                <td class="grey">
                    включать
                </td>
            </tr>
            <tr>
                <th>
                    off
                </th>
                <td class="grey">
                    выключать
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div class="lesson16-help-table flex-center">
        <table>
            <tr>
                <th>
                    put
                </th>
                <th>
                    on
                </th>
                <td class="grey">
                    надевать
                </td>
            </tr>
        </table>
    </div>
    <br />
        <div class="lesson16-help-table flex-center">
        <table>
            <tr>
                <th>
                    break
                </th>
                <th>
                    down
                </th>
                <td class="grey">
                    ломать, ломаться
                </td>
            </tr>
        </table>
    </div>
    <br />
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>