<div class="lesson-info">
    <h1>
        Continuous Passive
    </h1>
    <br />
    <h2>
        Страдательный залог продолженного времени
    </h2>
    <br />
    <p>
        Обозначает действие, которое <span class="bold">продолжает</span> испытывать на себе подлежащее. Т.е. предмет (подлежащее) не сам выполняет действие, а испытывает на себе действие другого предмета.
    </p>
    <br />
    <p>
        Так как это <span class="bold">continuous</span>, то обязательно указание времени, когда происходило действия. Хотя, <span class="bold">now</span> может опускаться, если понятно, что действие происходит прямо сейчас.
    </p>
    <br />
    <p>
        Образуется при помощи глагола <span class="bold">to be</span> в соответствующей форме + <span class="bold">being + третья форма</span> глагола.
    </p>
    <br />
    <ul class="italic">
        <li>
            The message <span class="bold">is being written</span> by my brother now.
            <br />
            <span class="grey">Сообщение <span class="bold">пишется</span> моим братом сейчас.</span>
        </li>
    </ul>
    <br />
    <p>
        На русский язык pasive voice может переводиться следующими способами:
    </p>
    <br />
    <ul class="decimal">
        <li>
            глаголом с окончанием -ся, -сь (строится, строилось)
        </li>
        <li>
            глаголом 3-го лица множественного числа (построили)
        </li>
    </ul>
    <br />
    <p>
        Например:
    </p>
    <br />
    <ul>
        <li>
            The office <span class="bold">was being cleaned</span> at 3 o'clock.
            <br />
            <span class="grey">
                Офис убирался в 3 часа.
                <br />
                Офис убирали в 3 часа.
            </span>
        </li>
    </ul>
    <br />
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>