<div class="lesson-info">
    <h1>
        Урок 14
    </h1>
    <br />
    <h2>
        Present Perfect
    </h2>
    <br />
    <p>
        Perfect – это форма описания <span class="bold">результата действия</span>.
    </p>
    <br />
    <p>
        На русский язык Present Perfect (несмотря на то, что в английском это форма настоящего времени) переводится <span class="bold">совершенным действием</span> в прошедшем времени.
    </p>
    <br />
    <p>
        То есть, отвечает на вопрос "что сделал?".
    </p>
    <br />
    <p>
        Образуется по следующей формуле:
    </p>
    <br />
    <p class="grey">
        глагол <span class="bold">have + V3</span> (третья форма глагола)
    </p>
    <br />
    <p>
        Глагол <span class="bold">to have</span> имеет форму настоящего времени «have» – для употребления с местоимениями - I, you, we, they и форму «has» - для употребления с местоимениями - he, she, it.
    </p>
    <br />
    <div class="flex-center">
        <table>
            <tr>
                <td class="grey border-right">
                    I
                    <br />
                    you
                    <br />
                    we
                    <br />
                    they
                </td>
                <td class="border-right">
                    have
                </td>
                <td class="grey border-right">
                    he
                    <br />
                    she
                    <br />
                    it
                </td>
                <td>
                    has
                </td>
            </tr>
        </table>
    </div>
    <br />
    <p>
        В сочетании с глаголом действия в форме причастия: <span class="grey">сделанный, выполненный, виденный</span> (с окончанием -ed для правильных глаголов и в 3 форме для неправильных глаголов), мы получаем результат.
    </p>
    <br />
    <p>
        Например:
    </p>
    <br />
    <ul>
        <li>
            I <span class="bold">have done</span> it.
            <br />
            <span class="grey">Я <span class="bold">сделал</span> это.</span>
        </li>
        <li>
            He <span class="bold">has played</span> football.
            <br />
            <span class="grey">Он <span class="bold">поиграл</span> в футбол.</span>
        </li>
    </ul>
    <br />
    <p>
        В таких предложениях часто употребляются слова <span class="bold">уже, ещё</span>.
    </p>
    <br />
    <div class="flex-center">
        <table>
            <tr class="border-bottom">
                <td class="border-right">
                    ?
                    <br />
                    вопросительные
                    <br />
                    предложения
                </td>
                <td class="border-right">
                    +
                    <br />
                    утвердительные
                    <br />
                    предложения
                </td>
                <td>
                    -
                    <br />
                    отрицательные
                    <br />
                    предложения
                </td>
            </tr>
            <tr class="border-bottom">
                <td class="border-right">
                    yet
                    <br />
                    <span class="grey">уже</span>
                </td>
                <td class="border-right">
                    already
                    <br />
                    <span class="grey">уже</span>
                </td>
                <td>
                    yet
                    <br />
                    <span class="grey">ещё</span>
                </td>
            </tr>
        </table>
    </div>
    <br />
    <p>
        Например:
    </p>
    <br />
    <ul>
        <li>
            I <span class="bold">have already done</span> it.
            <br />
            <span class="grey">Я <span class="bold">уже сделал</span> это.</span>
        </li>
        <li>
            I <span class="bold">haven't done</span> it <span class="bold">yet</span>.
            <br />
            <span class="grey">Я <span class="bold">ещё не сделал</span> это.</span>
        </li>
        <li>
            <span class="bold">Have</span> you <span class="bold">done</span> it <span class="bold">yet</span>?
            <br />
            <span class="grey">Ты <span class="bold">уже сделал</span> это?</span>
        </li>
    </ul>
    <br />
    <p>
        В отрицательных предложениях к глаголу <span class="bold">have</span> прибавляется частица <span class="bold">not</span>.
    </p>
    <br />
    <p>
        В вопросительных предложениях глагол <span class="bold">have</span> выносится в начало предложения.
    </p>
    <br />
    <partial name="../../Shared/_lessonAdvices.cshtml" />
</div>