<div class="hint-table9">
    <h2>
        Утвердительное предложение
    </h2>
    <br />
    <p>
        Если мы говорим об <span class="bold">одном предмете</span>, мы употребляем выражение <span class="bold">there is</span>:
    </p>
    <br />
    <ul>
        <li>
            <span class="bold">There is</span> a ball under the chair.
            <br />
            <span class="grey">Под стулом (есть, находится, лежит) мяч.</span>
        </li>
    </ul>
    <br />
    <p>
        Если мы говорим о нескольких предметах, мы употребляем выражение there are:
    </p>
    <ul>
        <li>
            <span class="bold">There are</span> balls under the table.
            <br />
            <span class="grey">Под столом (есть, находятся, лежат) мячи.</span>
        </li>
    </ul>
    <br />
    <p>
        При этом неопределенный артикль <span class="bold">a</span> перед предметами, о которых говорят, <span class="bold">не употребляется!</span> Т.к. перед существительными во множественном числе неопределенный артикль не ставится.
    </p>
    <br />
    <h2>
        Отрицательные предложения
    </h2>
    <br />
    <p>
        Тут все просто, после глагола <span class="bold">to be</span> добавляем частицу <span class="bold">not</span>, тем самым подчеркивая отсутствие предмета в определенном месте. Смотри <span class="bold">Урок 3</span>.
    </p>
    <br />
    <ul>
        <li>
            <span class="bold">There is not (isn’t)</span> a ball under the chair.
            <br />
            <span class="grey">Под стулом нет мяча.</span>
        </li>
        <li>
            <span class="bold">There were not (weren’t)</span> balls under the table.
            <br />
            <span class="grey">Под столом не было мячей.</span>
        </li>
        <li>
            <span class="bold">There will not be (won’t be)</span> a ball under the chair.
            <br />
            <span class="grey">Под стулом не будет мяча.</span>
        </li>
    </ul>
    <br />
    <h2>
        Вопросительные предложения
    </h2>
    <br />
    <p>
        Когда мы хотим поинтересоваться о наличии какого-то предмета в конкретном месте, надо просто поменять местами <span class="bold">there</span> с глаголом <span class="bold">to be</span>.
    </p>
    <br />
    <ul>
        <li>
            <span class="bold">Is there</span> a ball under the chair?
            <br />
            <span class="grey">Под стулом есть мяч?</span>
        </li>
        <li>
            <span class="bold">Were there</span> balls under the table?
            <br />
            <span class="grey">Под столом были мячи?</span>
        </li>
        <li>
            <span class="bold">Will there</span> be a ball under the chair?
            <br />
            <span class="grey">Под стулом будет мяч?</span>
        </li>
    </ul>
</div>