<div class="hint-table1">
    <div class="flex-center">
        <table>
            <tr>
                <td>Вопрос</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Утверждение</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Отрицание</td>
            </tr>
        </table>
        <table>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="flex-center">
        <table>
            <tr>
                <td rowspan="6">
                    Will
                </td>
                <td>I</td>
                <td rowspan="6">love</td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="6">
                    will love
                </td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="6">
                    will not love
                </td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Б</td>
            </tr>
            <tr>
                <td>у</td>
            </tr>
            <tr>
                <td>д</td>
            </tr>
            <tr>
                <td>у</td>
            </tr>
            <tr>
                <td>щ</td>
            </tr>
            <tr>
                <td>е</td>
            </tr>
            <tr>
                <td>е</td>
            </tr>
        </table>
    </div>
    <div class="flex-center">
        <table>
            <tr>
                <td rowspan="4">
                    Do
                </td>
                <td>I</td>
                <td rowspan="6">love</td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td rowspan="2">
                    Does
                </td>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="4">love</td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
                <td rowspan="2">loves</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="4">
                    don't love
                </td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
                <td rowspan="2">
                    doesn't love
                </td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Н</td>
            </tr>
            <tr>
                <td>а</td>
            </tr>
            <tr>
                <td>с</td>
            </tr>
            <tr>
                <td>т</td>
            </tr>
            <tr>
                <td>о</td>
            </tr>
            <tr>
                <td>я</td>
            </tr>
            <tr>
                <td>щ</td>
            </tr>
            <tr>
                <td>е</td>
            </tr>
            <tr>
                <td>е</td>
            </tr>
        </table>
    </div>
    <div class="flex-center">
        <table>
            <tr>
                <td rowspan="6">
                    Did
                </td>
                <td>I</td>
                <td rowspan="6">love</td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="6">loved</td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="6">
                    did not love
                </td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>П</td>
            </tr>
            <tr>
                <td>р</td>
            </tr>
            <tr>
                <td>о</td>
            </tr>
            <tr>
                <td>ш</td>
            </tr>
            <tr>
                <td>е</td>
            </tr>
            <tr>
                <td>д</td>
            </tr>
            <tr>
                <td>ш</td>
            </tr>
            <tr>
                <td>е</td>
            </tr>
            <tr>
                <td>е</td>
            </tr>
        </table>
    </div>
</div>
