<div class="hint-table3 flex-center">
    <table>
        <tr class="border-bottom">
            <td colspan="3" class="border-right">Вопрос</td>
            <td colspan="2" class="border-right">Утверждение</td>
            <td colspan="2" class="border-right">Отрицание</td>
        </tr>
        <tr>
            <td rowspan="6">Will</td>
            <td>I</td>
            <td rowspan="6" class="border-right">be</td>
            <td>I</td>
            <td rowspan="6" class="border-right">will be</td>
            <td>I</td>
            <td rowspan="6" class="border-right">will not be</td>
            <td rowspan="6" class="vertical-upright font-size17px">Будущее</td>
        </tr>
        <tr>
            <td>he</td>
            <td>he</td>
            <td>he</td>
        </tr>
        <tr>
            <td>she</td>
            <td>she</td>
            <td>she</td>
        </tr>
        <tr>
            <td>you</td>
            <td>you</td>
            <td>you</td>
        </tr>
        <tr>
            <td>we</td>
            <td>we</td>
            <td>we</td>
        </tr>
        <tr class="border-bottom">
            <td>they</td>
            <td>they</td>
            <td>they</td>
        </tr>
        <tr>
            <td>Am</td>
            <td colspan="2" class="border-right">I</td>
            <td>I</td>
            <td class="border-right">am</td>
            <td>I</td>
            <td class="border-right">am not</td>
            <td rowspan="6" class="vertical-upright font-size17px">Настоящее</td>
        </tr>
        <tr>
            <td rowspan="2">Is</td>
            <td colspan="2" class="border-right">he</td>
            <td>he</td>
            <td rowspan="2" class="border-right">is</td>
            <td>he</td>
            <td rowspan="2" class="border-right">is not</td>
        </tr>
        <tr>
            <td colspan="2" class="border-right">she</td>
            <td>she</td>
            <td>she</td>
        </tr>
        <tr>
            <td rowspan="3">Are</td>
            <td colspan="2" class="border-right">you</td>
            <td>you</td>
            <td rowspan="3" class="border-right">are</td>
            <td>you</td>
            <td rowspan="3" class="border-right">are not</td>
        </tr>
        <tr>
            <td colspan="2" class="border-right">we</td>
            <td>we</td>
            <td>we</td>
        </tr>
        <tr class="border-bottom">
            <td colspan="2" class="border-right">they</td>
            <td>they</td>
            <td>they</td>
        </tr>
        <tr>
            <td rowspan="3">Was</td>
            <td colspan="2" class="border-right">I</td>
            <td>I</td>
            <td rowspan="3" class="border-right">was</td>
            <td>I</td>
            <td rowspan="3" class="border-right">was not</td>
            <td rowspan="6" class="vertical-upright font-size17px">Прошедшее</td>
        </tr>
        <tr>
            <td colspan="2" class="border-right">he</td>
            <td>he</td>
            <td>he</td>
        </tr>
        <tr>
            <td colspan="2" class="border-right">she</td>
            <td>she</td>
            <td>she</td>
        </tr>
        <tr>
            <td rowspan="3">Were</td>
            <td colspan="2" class="border-right">you</td>
            <td>you</td>
            <td rowspan="3" class="border-right">were</td>
            <td>you</td>
            <td rowspan="3" class="border-right">were not</td>
        </tr>
        <tr>
            <td colspan="2" class="border-right">we</td>
            <td>we</td>
            <td>we</td>
        </tr>
        <tr>
            <td colspan="2" class="border-right">they</td>
            <td>they</td>
            <td>they</td>
        </tr>
    </table>
</div>