<div class="hint-table4">
    <div class="flex-center">
        <table>
            <tr>
                <td colspan="2" class="bold">Кто?</td>
                <td colspan="2" class="bold">Чей? Чьё?</td>
                <td class="bold">+ объект (кто, что)</td>
            </tr>
            <tr>
                <td>Я</td>
                <td>I</td>
                <td>Мой</td>
                <td>My</td>
                <td rowspan="6">
                    Book
                    Son
                    Car
                    Girl
                    Student
                    Bag
                    Car
                    Apple
                </td>
            </tr>
            <tr>
                <td>Ты</td>
                <td>You</td>
                <td>Твой</td>
                <td>Your</td>
            </tr>
            <tr>
                <td>Он</td>
                <td>He</td>
                <td>Его</td>
                <td>His</td>
            </tr>
            <tr>
                <td>Она</td>
                <td>She</td>
                <td>Её</td>
                <td>Her</td>
            </tr>
            <tr>
                <td>Мы</td>
                <td>We</td>
                <td>Наш</td>
                <td>Our</td>
            </tr>
            <tr>
                <td>Они</td>
                <td>They</td>
                <td>Наш</td>
                <td>Their</td>
            </tr>
        </table>
    </div>
</div>
