<div class="hint-table1 flex-center">
    <table>
        <tr class="border-bottom">
            <td colspan="3" class="border-right">Вопрос</td>
            <td colspan="2" class="border-right">Утверждение</td>
            <td colspan="2" class="border-right">Отрицание</td>
        </tr>
        <tr>
            <td rowspan="6">
                Will
            </td>
            <td>I</td>
            <td rowspan="6" class="border-right">love</td>
            <td>I</td>
            <td rowspan="6" class="border-right">
                will love
            </td>
            <td>I</td>
            <td rowspan="6" class="border-right">
                will not love
            </td>
            <td rowspan="6" class="vertical-upright size17px">Будущее</td>
        </tr>
        <tr>
            <td>you</td>
            <td>you</td>
            <td>you</td>
        </tr>
        <tr>
            <td>we</td>
            <td>we</td>
            <td>we</td>
        </tr>
        <tr>
            <td>they</td>
            <td>they</td>
            <td>they</td>
        </tr>
        <tr>
            <td>he</td>
            <td>he</td>
            <td>he</td>
        </tr>
        <tr class="border-bottom">
            <td>she</td>
            <td>she</td>
            <td>she</td>
        </tr>
        <tr>
            <td rowspan="4">
                Do
            </td>
            <td>I</td>
            <td rowspan="6" class="border-right">love</td>
            <td>I</td>
            <td rowspan="4" class="border-right">love</td>
            <td>I</td>
            <td rowspan="4" class="border-right">
                don't love
            </td>
            <td rowspan="6" class="vertical-upright size17px">Настоящее</td>
        </tr>
        <tr>
            <td>you</td>
            <td>you</td>
            <td>you</td>
        </tr>
        <tr>
            <td>we</td>
            <td>we</td>
            <td>we</td>
        </tr>
        <tr>
            <td>they</td>
            <td>they</td>
            <td>they</td>
        </tr>
        <tr>
            <td rowspan="2">
                Does
            </td>
            <td>he</td>
            <td>he</td>
            <td rowspan="2" class="border-right">loves</td>
            <td>he</td>
            <td rowspan="2" class="border-right">
                doesn't love
            </td>
        </tr>
        <tr class="border-bottom">
            <td>she</td>
            <td>she</td>
            <td>she</td>
        </tr>
        <tr>
            <td rowspan="6">
                Did
            </td>
            <td>I</td>
            <td rowspan="6" class="border-right">love</td>
            <td>I</td>
            <td rowspan="6" class="border-right">loved</td>
            <td>I</td>
            <td rowspan="6" class="border-right">
                did not love
            </td>
            <td rowspan="6" class="vertical-upright size17px">Прошедшее</td>
        </tr>
        <tr>
            <td>you</td>
            <td>you</td>
            <td>you</td>
        </tr>
        <tr>
            <td>we</td>
            <td>we</td>
            <td>we</td>
        </tr>
        <tr>
            <td>they</td>
            <td>they</td>
            <td>they</td>
        </tr>
        <tr>
            <td>he</td>
            <td>he</td>
            <td>he</td>
        </tr>
        <tr class="border-bottom">
            <td>she</td>
            <td>she</td>
            <td>she</td>
        </tr>
    </table>
</div>
