@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

a {
    color: inherit;
    text-decoration: inherit;
}

header {
    position: sticky;
    top: 0;
    background: white;
}

body {
    font-size: 1.5rem;
    font-family: Montserrat;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 70px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 5%), 0 6px 20px 0 rgb(0 0 0 / 5%);
}

.navbar__brand span {
    vertical-align: middle;
}

.content {
    margin: 0 70px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 2%), 0 6px 20px 0 rgb(0 0 0 / 2%);
}

[class^="icon-"]::before {
    min-height: 50px;
    min-width: 50px;
    display: inline-block;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    content: " ";
}

.icon-logo::before {
    background-image: url(../icons/logo.svg);
}

.lesson-links {
    width: 100%;
}

.lesson-link {
    display: flex;
    height: 100px;
    border-bottom: 1px solid;
}

.lesson-link__rating {
    padding: 20px;
    margin: 15px;
    border: 1px solid;
    border-radius: 50%;
}

.lesson-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.lesson {
    width: 100%;
    height: 100vh;
    margin-right: 5px;
    user-select: none;
    display: flex;
    flex-direction: column;
}

    .lesson .lesson-number {
        justify-content: space-between;
    }

    .lesson form {
        display: none;
    }

    .lesson > div:not(.buttons) {
        height: 100px;
        border-bottom: 1px solid;
        display: flex;
        align-items: center;
        padding-left: 30px;
    }

    .lesson .buttons {
        display: flex;
        flex-wrap: wrap;
        height: 280px;
    }

        .lesson .buttons div {
            flex: 50%;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

.container .lesson .remaining-space {
    flex: 1 1 auto;
}

.alert-success {
    color: green;
}

.alert-feilure {
    color: red;
}


.home-row {
    display: flex;
    justify-content: space-between;
}

.add-exercise {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

    .add-exercise div {
        margin: 5px;
    }

    .add-exercise .unrecognized {
        display: none;
        flex-wrap: wrap;
    }

        .add-exercise .unrecognized div {
            position: relative;
        }

            .add-exercise .unrecognized div select {
                position: absolute;
                z-index: 1;
                width: 238px;
                left: -90px;
                bottom: -55px;
                display: none;
            }

        .add-exercise .unrecognized input[type=text] {
            width: 400px;
        }

    .add-exercise .submit-button {
        display: none;
    }

.field-validation-error {
    color: orangered;
}
