:root {
    --green: #4CAF50;
    --greenDarker: #45a049;
    --porcelain: #f2f2f2;
    --grey: #ccc;
    --greyLighter: #ddd;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

a {
    color: inherit;
    text-decoration: inherit;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
}

body {
    font-size: 1.5rem;
    font-family: Montserrat;
}


button {
    font-size: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 70px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 5%), 0 6px 20px 0 rgb(0 0 0 / 5%);
}

.navbar__brand span {
    vertical-align: middle;
}

.content {
    margin: 0 70px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 2%), 0 6px 20px 0 rgb(0 0 0 / 2%);
}

[class^="icon-"]::before {
    min-height: 50px;
    min-width: 50px;
    display: inline-block;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    content: " ";
}

.icon-logo::before {
    background-image: url(../icons/logo.svg);
}

.lesson-links {
    width: 100%;
}

.lesson-link {
    display: flex;
    height: 100px;
    border-bottom: 1px solid var(--grey);
}

.lesson-links li:nth-child(odd) {
    background-color: var(--porcelain);
}

.lesson-link__rating {
    padding: 20px;
    margin: 15px;
    border: 1px solid;
    border-radius: 50%;
}

.lesson-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.exercise {
    padding: 0 5px;
    border-radius: 0 0 5px 5px;
    user-select: none;
    background-color: var(--porcelain);
}

.exercise__lesson-number {
    justify-content: space-between;
}

.exercise form {
    display: none;
}

.exercise > div:not(.exercise__answer-options) {
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.exercise > div:not(:nth-last-of-type(-n+2)) {
    border-bottom: 1px solid;
}

.exercise__answer-options {
    display: flex;
    height: 0px;
}

    .exercise__answer-options div {
        flex: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 80px;
    }

.alert-success {
    color: green;
}

.alert-feilure {
    color: red;
}

.field-validation-error {
    color: orangered;
}

.flexbox-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-exercise {
    border-radius: 0 0 5px 5px;
    background-color: var(--porcelain);
    padding: 20px;
}

    .add-exercise input[type=text], button, select {
        font-size: 1rem;
        width: 100%;
        padding: 12px 20px;
        margin: 10px 0;
        border-radius: 4px;
    }

    .add-exercise input[type=text], select {
        border: 1px solid var(--grey);
        box-shadow: inset 0 1px 3px var(--greyLighter);
    }

        .add-exercise input[type=text]:focus, .add-exercise select:focus {
            outline: none;
            box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
        }

    .add-exercise button {
        background-color: var(--green);
        color: white;
        border: none;
        cursor: pointer;
    }

        .add-exercise button:disabled {
            background-color: var(--grey);
        }

        .add-exercise button:enabled:hover {
            background-color: var(--greenDarker);
        }

.add-exercise__unrecognized-words {
    display: flex;
    flex-direction: column;
}

    .add-exercise__unrecognized-words label {
        display: none;
        margin: auto;
    }

    .add-exercise__unrecognized-words .field-validation-error {
        margin-left: auto;
    }

.unrecognized-word__header {
    display: flex;
    justify-content: space-between;
}

    .unrecognized-word__header p {
        color: cornflowerblue;
    }

    .unrecognized-word__header span {
        user-select: none;
    }

.left-side-of-header__word-name {
    cursor: pointer;
}

.add-exercise__select-lesson .field-validation-error {
    flex-shrink: 0;
    margin-left: 15px;
}

/* The container */
.left-side-of-header__stress-block {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
}

    /* Hide the browser's default checkbox */
    .left-side-of-header__stress-block input[type=checkbox] {
        display: none;
    }

    /* Create a custom checkbox */
    .left-side-of-header__stress-block .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #fff;
    }

    /* On mouse-over, add a grey background color */
    .left-side-of-header__stress-block:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .left-side-of-header__stress-block input:checked ~ .checkmark {
        background-color: #2196F3;
    }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.left-side-of-header__stress-block input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.left-side-of-header__stress-block .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
