<ul class="lesson-links">
    @for (int i = 0; i < 32; i++)
    {
        <li>
            <a href="@Url.Action("Lesson", "Home")?id=1">
                <div class="lesson-link">
                    <span class="lesson-link__rating">
                        0.0
                    </span>
                    <div class="lesson-info">
                        <div class="lesson-info__name">
                            Урок 1
                        </div>
                        <div class="lesson-info__description">
                            Базовая форма глагола
                        </div>
                    </div>
                </div>
            </a>
        </li>
    }
</ul>