<div class="lesson-links">
    <ul>
        @for (int i = 0; i < CustomConst.NumberOfLessons; i++)
        {
            <li>
                <a href="@Url.Action("Exercise", "Home")?lessonId=1">
                    <div class="lesson-link">
                        <span class="lesson-link__rating">
                            0.0
                        </span>
                        <div class="lesson-info">
                            <div class="lesson-info__name">
                                Урок 1
                            </div>
                            <div class="lesson-info__description">
                                Базовая форма глагола
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        }
    </ul>
</div>