<div class="lesson-home-links">
    <ul>
        @{
            var i = 1;
        }
        @foreach (var lessonName in CustomConst.LessonsNames)
        {
            <li>
                <a href="@Url.Action("DoExercise", "Home", new { lessonId = i})">
                    <div class="lesson-home-link">
                        <span class="lesson-home-link__rating">
                            0.0
                        </span>
                        <div class="lesson-home-link-info">
                            <div class="lesson-home-link-info__name">
                                Урок @(i++)
                            </div>
                            <div class="lesson-home-link-info__description">
                                @lessonName
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        }
    </ul>
</div>