<ul class="lessons">
    @for (int i = 0; i < CustomConst.NumberOfLessons; i++)
    {
        <a href="@Url.Action("Lesson", "Home")?id=1">
        <li class="button">
            <div class=" rating">
                0.0
            </div>
            <div class="lesson-info">
                <div class="lesson-name">
                    Урок 1
                </div>
                <div class="lesson-description">
                    Базовая форма глагола
                </div>
            </div>
        </li>
        </a>
    }
</ul>