@model LessonViewModel
@{
    var random = new Random();
}

<div class="lesson">
    <div>
        Урок @Model.Id
    </div>
    <div>
        @Model.Lesson.Exercises[random.Next(Model.Lesson.Exercises.Count)].Sentence
    </div>
    <div>
        Переведите предложение
    </div>
    <div class="buttons">
        <div class="button">
            I
        </div>
        <div class="button">
            You
        </div>
        <div class="button">
            We
        </div>
        <div class="button">
            They
        </div>
        <div class="button">
            He
        </div>
        <div class="button">
            She
        </div>
    </div>
</div>