@model ExerciseVM

@section Scripts {
    <script>
        var groupOptions = JSON.parse('@Json.Serialize(@Model.WordsGroups)');
    </script>
    <script src="~/js/lesson.js"></script>
}

<div class="lesson">
    <div>
        Урок @Model.Id
    </div>
    <div>
        @Model.RusPhrase
    </div>
    <div>
        Переведите предложение
    </div>
    <div class="buttons">
        @for (int i = 0; i < 2; i++)
        {
            <div class="options-group">
                @foreach (var option in Model.WordsGroups.ElementAt(i).Options)
                {
                    <div class="button">
                        @option
                    </div>
                }
            </div>
        }
    </div>
    <div class="options-back button">
        ^
    </div>
</div>