<div class="lesson-info">
    <h1>
        Урок 1
    </h1>
    <br />
    <p>
        На первом уроке мы научимся спрягать английские глаголы в трех простых временах: <span class="bold-text">настоящее, будущее, прошедшее.</span>
    </p>
    <br />
    <p>
        В каждом из времен, разберемся как построить утвердительное, вопросительное или отрицательное предложение.
    </p>
    <br />
    <h2>
        Настоящее время.
    </h2>
    <br />
    <p>
        <span class="bold-text">Утвердительные предложения</span> образуются также как и в русском языке. Сначала идет местоимение, затем глагол.
    </p>
    <br />
    <p>
        Если используются местоимения <span class="bold-text">he</span> <span class="grey-text">(он)</span>, <span class="bold-text">she</span> <span class="grey-text">(она)</span> или <span class="bold-text">it</span> <span class="grey-text">(это)</span> то к глаголу добавляется окончание <span class="bold-text">-s</span>.
    </p>
    <br />
    <div class="flex-center">
        <table>
            <tr>
                <td rowspan="4">Do</td>
                <td>I</td>
                <td rowspan="6">love</td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td rowspan="2">Does</td>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="4">love</td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
                <td rowspan="2">love<span class="red-bold-text">s</span></td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="4">don't love</td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
                <td rowspan="2">doesn't love'</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
    </div>
    <br />
    <p>
        <span class="bold-text">Отрицательные предложения</span> образуются при помощи вспомогательного глагола <span class="bold-text">do</span> + частица <span class="bold-text">not</span>
    </p>
    <br />
    <p>
        Если используются местоимения <span class="bold-text">he</span> <span class="grey-text">(он)</span>, <span class="bold-text">she</span> <span class="grey-text">(она)</span> или <span class="bold-text">it</span> <span class="grey-text">(это)</span> то вместо <span class="bold-text">do</span> используется его другая форма <span class="bold-text">does</span>.
    </p>
    <br />
    <p>
        Часто используются сокращения: <span class="bold-text">do not = don't</span> и <span class="bold-text">does not = doesn't</span>
    </p>
    <br />
    <div class="flex-center">
        <table>
            <tr>
                <td rowspan="4">Do</td>
                <td>I</td>
                <td rowspan="6">love</td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td rowspan="2">Does</td>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="4">love</td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
                <td rowspan="4">loves</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="4">
                    <span class="red-bold-text">
                        don't
                    </span>
                    love
                </td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
                <td rowspan="2">
                    <span class="red-bold-text">
                        doesn't
                    </span>
                    love
                </td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
    </div>
    <br />
    <p>
        <span class="bold-text">Вопросительные предложения</span> также образуются при помощи вспомогательного глагола <span class="bold-text">do (does).</span>
    </p>
    <br />
    <p>
        Для образования вопроса этот глагол ставится в начале предложения.
    </p>
    <br />
    <div class="flex-center">
        <table>
            <tr>
                <td rowspan="4">
                    <span class="red-bold-text">
                        Do
                    </span>
                </td>
                <td>I</td>
                <td rowspan="6">love</td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td rowspan="2">
                    <span class="red-bold-text">
                        Does
                    </span>
                </td>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="4">love</td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
                <td rowspan="2">loves</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="4">
                    don't love
                </td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
                <td rowspan="2">
                    doesn't love
                </td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
    </div>
    <br />
    <h2>
        Прошедшее время.
    </h2>
    <br />
    <p>
        <span class="bold-text">Утвердительные предложения</span> образуются также как и в настоящем времени, только используется вторая форма глагола.
    </p>
    <br />
    <p>
        Это означает, что для правильных глаголов прибавляется окончание <span class="bold-text">-ed.</span>
    </p>
    <br />
    <div class="flex-center">
        <table>
            <tr>
                <td rowspan="6">
                    Did
                </td>
                <td>I</td>
                <td rowspan="6">love</td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="6">lov<span class="red-bold-text">ed</span></td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="6">
                    did not love
                </td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
    </div>
    <br />
    <p>
        <span class="bold-text">Отрицательные предложения</span> образуются при помощи глагола <span class="bold-text">did</span> с частицей <span class="bold-text">not</span> (didn't)
    </p>
    <br />
    <div class="flex-center">
        <table>
            <tr>
                <td rowspan="6">
                    Did
                </td>
                <td>I</td>
                <td rowspan="6">love</td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="6">loved</td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="6">
                    <span class="red-bold-text">
                        did not
                    </span>
                    love
                </td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
    </div>
    <br />
    <p>
        <span class="bold-text">Вопросительные предложения</span> также образуются при помощи глагола <span class="bold-text">did</span>, который ставится в начале предложения.
    </p>
    <br />
    <div class="flex-center">
        <table>
            <tr>
                <td rowspan="6">
                    <span class="red-bold-text">
                        Did
                    </span>
                </td>
                <td>I</td>
                <td rowspan="6">love</td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="6">loved</td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="6">
                    did not love
                </td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
    </div>
    <br />
    <h2>
        Будущее время.
    </h2>
    <br />
    <p>
        <span class="bold-text">Утвердительные предложения</span> образуются при помощи глагола <span class="bold-text">will.</span>
    </p>
    <br />
    <div class="flex-center">
        <table>
            <tr>
                <td rowspan="6">
                    Will
                </td>
                <td>I</td>
                <td rowspan="6">love</td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="6">
                    <span class="red-bold-text">
                        will
                    </span>
                    love
                </td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="6">
                    will not love
                </td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
    </div>
    <br />
    <p>
        <span class="bold-text">Отрицательные предложения</span> образуются при помощи глагола <span class="bold-text">will</span> с частицей <span class="bold-text">not</span> (won't)
    </p>
    <br />
    <div class="flex-center">
        <table>
            <tr>
                <td rowspan="6">
                    Will
                </td>
                <td>I</td>
                <td rowspan="6">love</td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="6">
                    will love
                </td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="6">
                    <span class="red-bold-text">
                        will not
                    </span>
                    love
                </td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
    </div>
    <br />
    <p>
        <span class="bold-text">Вопросительные предложения</span> также образуются при помощи глагола <span class="bold-text">will</span>, который ставится в начале предложения.
    </p>
    <br />
    <div class="flex-center">
        <table>
            <tr>
                <td rowspan="6">
                    <span class="red-bold-text">
                        Will
                    </span>
                </td>
                <td>I</td>
                <td rowspan="6">love</td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="6">
                    will love
                </td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="6">
                    will not love
                </td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
    </div>
    <br />
    <h2>
        Таблица времен simple.
    </h2>
    <br />
    <p>
        Для того, чтобы это было легче запомнить, нарисуем таблицу:
    </p>
    <br />
    <partial name="../Shared/HintTables/_hintTable1.cshtml">
    <br />
    <p>
        Эту таблицу вы всегда можете подсмотреть при прохождении урока, нажав кнопку "Подсказка".
    </p>
    <br />
    <h2>
        Советы:
    </h2>
    <br />
    <ul>
        <li>
            <p>
                Чтобы стереть неправильно выбранное слово, нажмите левую кнопку мыши в области имеющей фарфоровый цвет (такой же как фон этой страницы).
            </p>
        </li>
        <li>
            <p>
                Чтобы посмотреть подсказку, нажмите на пункт "Подсказка" в меню.
            </p>
        </li>
        <li>
            <p>
                Чтобы открыть следующий урок, наберите 100 баллов.
            </p>
        </li>
    </ul>
    <br />
    <p class="italic">
        Если знаете, как улучшить программу, напишите нам.
    </p>
</div>