<div class="ms-5 me-5">
    <table class="table table-borderless align-middle text-center table-light border">
        <tr class="border-bottom">
            <td colspan="3" class="border border-start-0 border-top-0 border-bottom-0">Вопрос</td>
            <td colspan="2" class="border border-start-0 border-top-0 border-bottom-0">Утверждение</td>
            <td colspan="2" class="border border-start-0 border-top-0 border-bottom-0">Отрицание</td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="6">
                <span class="text-danger fw-bold">Will</span>
            </td>
            <td>I</td>
            <td rowspan="6" class="border border-start-0 border-top-0 border-bottom-0">love?</td>
            <td>I</td>
            <td rowspan="6" class="border border-start-0 border-top-0 border-bottom-0">
                <span class="text-danger fw-bold">will</span> love
            </td>
            <td>I</td>
            <td rowspan="6" class="border border-start-0 border-top-0 border-bottom-0">
                <span class="text-danger fw-bold">will not</span> love
            </td>
            <td rowspan="6" class="vertical-upright font-size17px">Будущее</td>
        </tr>
        <tr>
            <td>you</td>
            <td>you</td>
            <td>you</td>
        </tr>
        <tr>
            <td>we</td>
            <td>we</td>
            <td>we</td>
        </tr>
        <tr>
            <td>they</td>
            <td>they</td>
            <td>they</td>
        </tr>
        <tr>
            <td>he</td>
            <td>he</td>
            <td>he</td>
        </tr>
        <tr class="border-bottom">
            <td>she</td>
            <td>she</td>
            <td>she</td>
        </tr>
        <tr>
            <td rowspan="4">
                <span class="text-danger fw-bold">Do</span>
            </td>
            <td>I</td>
            <td rowspan="6" class="border border-start-0 border-top-0 border-bottom-0">love?</td>
            <td>I</td>
            <td rowspan="4" class="border border-start-0 border-top-0 border-bottom-0">love</td>
            <td>I</td>
            <td rowspan="4" class="border border-start-0 border-top-0 border-bottom-0">
                <span class="text-danger fw-bold">don't</span> love
            </td>
            <td rowspan="6" class="vertical-upright font-size17px">Настоящее</td>
        </tr>
        <tr>
            <td>you</td>
            <td>you</td>
            <td>you</td>
        </tr>
        <tr>
            <td>we</td>
            <td>we</td>
            <td>we</td>
        </tr>
        <tr>
            <td>they</td>
            <td>they</td>
            <td>they</td>
        </tr>
        <tr>
            <td rowspan="2">
                <span class="text-danger fw-bold">Does</span>
            </td>
            <td>he</td>
            <td>he</td>
            <td rowspan="2" class="border border-start-0 border-top-0 border-bottom-0">love<span class="text-danger fw-bold">s</span></td>
            <td>he</td>
            <td rowspan="2" class="border border-start-0 border-top-0 border-bottom-0">
                <span class="text-danger fw-bold">doesn't</span> love
            </td>
        </tr>
        <tr class="border-bottom">
            <td>she</td>
            <td>she</td>
            <td>she</td>
        </tr>
        <tr>
            <td rowspan="6">
                <span class="text-danger fw-bold">Did</span>
            </td>
            <td>I</td>
            <td rowspan="6" class="border border-start-0 border-top-0 border-bottom-0">love?</td>
            <td>I</td>
            <td rowspan="6" class="border border-start-0 border-top-0 border-bottom-0">love<span class="text-danger fw-bold">d</span></td>
            <td>I</td>
            <td rowspan="6" class="border border-start-0 border-top-0 border-bottom-0">
                <span class="text-danger fw-bold">did not</span> love
            </td>
            <td rowspan="6" class="vertical-upright font-size17px">Прошедшее</td>
        </tr>
        <tr>
            <td>you</td>
            <td>you</td>
            <td>you</td>
        </tr>
        <tr>
            <td>we</td>
            <td>we</td>
            <td>we</td>
        </tr>
        <tr>
            <td>they</td>
            <td>they</td>
            <td>they</td>
        </tr>
        <tr>
            <td>he</td>
            <td>he</td>
            <td>he</td>
        </tr>
        <tr class="border-bottom">
            <td>she</td>
            <td>she</td>
            <td>she</td>
        </tr>
    </table>
</div>