@page
@model Web.Areas.Practice.Pages.Lessons._8eca71ba_7524_4b77_8dc3_5c3e2b051613.Info

@{
    ViewData["Title"] = "Урок 2";
}

<article>
<h1>
    Урок 2
</h1>

<section>
    <p class="fw-bold">
        Местоимения, отвечающие на вопрос <span class="underline">кого?</span> и <span class="underline">кому?</span>
    </p>

    <p>
        Чтобы разнообразить наши предложения и сделать их немного сложнее, добавим местоимения в родительном (кого?) и дательном (кому?) падеже.
    </p>

    <p>
        В английском языке эти местоимения выглядят совершенно одинаково:
    </p>
    <div class="lesson2-help-table1 ms-5 me-5">
        <table class="table table-borderless align-middle text-center table-light border">
            <tr>
                <th colspan="2" class="border border-start-0 border-top-0">
                    Кто?
                </th>
                <th colspan="2" class="border border-start-0 border-top-0">
                    Кого?
                </th>
                <th colspan="2" class="border">
                    Кому?
                </th>
            </tr>
            <tr>
                <td class="text-secondary">
                    Я
                </td>
                <td class="fst-italic border border-start-0 border-top-0 border-bottom-0">
                    I
                </td>
                <td class="text-secondary">
                    Меня
                </td>
                <td class="fst-italic border border-start-0 border-top-0 border-bottom-0">
                    Me
                </td>
                <td class="text-secondary">
                    Мне
                </td>
                <td class="fst-italic border border-start-0 border-top-0 border-bottom-0">
                    Me
                </td>
            </tr>
            <tr>
                <td class="text-secondary">
                    Ты
                </td>
                <td class="fst-italic border border-start-0 border-top-0 border-bottom-0">
                    You
                </td>
                <td class="text-secondary">
                    Тебя
                </td>
                <td class="fst-italic border border-start-0 border-top-0 border-bottom-0">
                    You
                </td>
                <td class="text-secondary">
                    Тебе
                </td>
                <td class="fst-italic border border-start-0 border-top-0 border-bottom-0">
                    You
                </td>
            </tr>
            <tr>
                <td class="text-secondary">
                    Он
                </td>
                <td class="fst-italic border border-start-0 border-top-0 border-bottom-0">
                    He
                </td>
                <td class="text-secondary">
                    Его
                </td>
                <td class="fst-italic border border-start-0 border-top-0 border-bottom-0">
                    Him
                </td>
                <td class="text-secondary">
                    Ему
                </td>
                <td class="fst-italic border border-start-0 border-top-0 border-bottom-0">
                    Him
                </td>
            </tr>
            <tr>
                <td class="text-secondary">
                    Она
                </td>
                <td class="fst-italic border border-start-0 border-top-0 border-bottom-0">
                    She
                </td>
                <td class="text-secondary">
                    Её
                </td>
                <td class="fst-italic border border-start-0 border-top-0 border-bottom-0">
                    Her
                </td>
                <td class="text-secondary">
                    Ей
                </td>
                <td class="fst-italic border border-start-0 border-top-0 border-bottom-0">
                    Her
                </td>
            </tr>
            <tr>
                <td class="text-secondary">
                    Мы
                </td>
                <td class="fst-italic border border-start-0 border-top-0 border-bottom-0">
                    We
                </td>
                <td class="text-secondary">
                    Нас
                </td>
                <td class="fst-italic border border-start-0 border-top-0 border-bottom-0">
                    Us
                </td>
                <td class="text-secondary">
                    Нам
                </td>
                <td class="fst-italic border border-start-0 border-top-0 border-bottom-0">
                    Us
                </td>
            </tr>
            <tr>
                <td class="text-secondary">
                    Они
                </td>
                <td class="fst-italic border border-start-0 border-top-0 border-bottom-0">
                    They
                </td>
                <td class="text-secondary">
                    Их
                </td>
                <td class="fst-italic border border-start-0 border-top-0 border-bottom-0">
                    Them
                </td>
                <td class="text-secondary">
                    Им
                </td>
                <td class="fst-italic border border-start-0 border-top-0 border-bottom-0">
                    Them
                </td>
            </tr>
        </table>
    </div>

    <p>
        Предложения строятся так же как и на прошлом уроке, а в конце прибавляется нужное местоимение.
    </p>

    <ul>
        <li>
            <p>
                I see you. <span class="text-secondary">- Я вижу тебя.</span>
            </p>
        </li>
        <li>
            <p>
                She will help me. <span class="text-secondary">- Она поможет мне.</span>
            </p>
        </li>
    </ul>
</section>

<section>
    <h2>
        Вопросительные слова.
    </h2>

    <p>
        Теперь мы научимся составлять предложения со специальными вопросительными словами.
    </p>

    <p>
        Список вопросительных слов к уроку:
    </p>

    <div class="lesson2-help-table2 ms-5 me-5">
        <table class="table table-borderless align-middle text-center table-light border">
            <tr>
                <td class="border border-start-0 border-top-0 border-bottom-0">What?</td>
                <td class="text-secondary">Что? Какой?</td>
            </tr>
            <tr>
                <td class="border border-start-0 border-top-0 border-bottom-0">Who?</td>
                <td class="text-secondary">Кто?</td>
            </tr>
            <tr>
                <td class="border border-start-0 border-top-0 border-bottom-0">Where?</td>
                <td class="text-secondary">Где? Куда?</td>
            </tr>
            <tr>
                <td class="border border-start-0 border-top-0 border-bottom-0">When?</td>
                <td class="text-secondary">Когда?</td>
            </tr>
            <tr>
                <td class="border border-start-0 border-top-0 border-bottom-0">Why?</td>
                <td class="text-secondary">Почему? Зачем?</td>
            </tr>
            <tr>
                <td class="border border-start-0 border-top-0 border-bottom-0">How?</td>
                <td class="text-secondary">Как? Каким образом?</td>
            </tr>
        </table>
    </div>

    <p>
        Предложения с вопросительными словами составляются по следующему алгоритму:
    </p>

    <p>
        Сначала идет вопросительное слово, а затем предложение строится по уже известному нам правилу.
    </p>

    <ul>
        <li>
            Where did you see her?<span class="text-secondary"> - Где ты видел её?</span>
        </li>
        <li>
            How will they fly?<span class="text-secondary"> - Как они полетят?</span>
        </li>
    </ul>

</section>

<partial name="Shared/_lessonAdvices"/>
</article>