<section>
    <h2>
        Советы:
    </h2>
    <ul>
        <li>
            <p>
                Чтобы стереть неправильно выбранное слово, нажмите левую кнопку мыши в области имеющей фарфоровый цвет (такой же как фон этой страницы).
            </p>
        </li>
        <li>
            <p>
                Чтобы посмотреть подсказку, наведите курсор на (i) в правом верхнем углу. Не в каждом упражнении есть подсказки.
            </p>
        </li>
    </ul>
    <p class="fst-italic">
        Если знаете, как улучшить программу, напишите нам.
    </p>
</section>