<html>

<head>
    <title>Polyglot</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/site.css">
</head>

<body>
    <div class="container">
        <a href="javascript:history.back()">
            <div class="button navigation">
                <span>
                    <<<
                </span>
            </div>
        </a>
        @RenderBody()
    </div>
</body>

</html>